.common-content{
    --background: var(--ion-color-light);
}

.common-content-padding{
    --padding-start:10px;
    --inner-padding-end:10px;
}


.chatTime {
    font-size: 12px;
    width: 100%;
    color: #878787;
    padding: 10px 0;
    text-align: center;
}

.portrait{
    width:40px;
    height:40px;
}

.chat-avatar-top {
    margin-bottom: auto;
}

.mysticChat {
    width: 40px !important; 
    height: 40px !important; 
    margin: 5px 0; 
    padding: 5px;
    background-color: #fe7c58;
    border-radius: 3px;
}

/**align right**/
.container-right{
    display: flex; flex-direction: row-reverse; word-break: break-word;
}

.arrow-box-right {
    display: flex; margin-right: 5px;
    margin-bottom: 10px;
}

.arrow-box-right-photo {
    display: flex; margin-right: 5px;
    margin-bottom: 10px;
    flex-direction: row-reverse;
}

.chat-box-me {
    min-height:40px; 
    background-color: #ffff66; /*#95ec69;*/
    vertical-align: middle;
    padding:10px;
    border-radius: 5px;
    margin-left:45px;
}

.chat-box-me-link {
    min-height:40px; 
    background-color: white; 
    vertical-align: middle;
    padding:0px;
    border-radius: 5px;
    margin-left:50px;
}

.chat-arrow-right {
    margin-top: 15px;
    width: 0; 
    height: 0; 
    border-left: 5px solid #ffff66; /*#95ec69;*/
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
}

.chat-arrow-right-link {
    margin-top: 15px;
    width: 0; 
    height: 0; 
    border-left: 5px solid white;
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
}
/**end align right**/


/**align left**/
.container-left{
    display: flex; word-break: break-word;
    margin-bottom: 10px;
}

.arrow-box-left {
    display: flex; margin-left: 5px;
}

.chat-box-others{
    min-height:40px; 
    flex:1; 
    background-color: white; 
    vertical-align: middle;
    padding:10px;
    border-radius: 5px;
    overflow-wrap: break-word;
    margin-right:45px;
}

.actionButton{
    margin-top: 10px;
}

.chat-box-others-link{
    min-height:40px; 
    flex:1; 
    background-color: white; 
    vertical-align: middle;
    padding:0px;
    border-radius: 5px;
    overflow-wrap: break-word;
    margin-right:50px;
}

.chat-arrow-left {
    margin-top: 15px;
    width: 0; 
    height: 0; 
    border-top: 5px solid transparent;
    border-right: 5px solid white;
    border-bottom: 5px solid transparent;
}
/**end align right**/


.chat-box-me-1 {
    min-height:40px; 
    background-color: #95ec69; 
    vertical-align: top;
    padding:3px;
    border-radius: 5px;
    display: flex;
    flex-direction: row-reverse;
}

.chat-box-others-1 {
    min-height:40px; 
    flex:1; 
    background-color: white; 
    vertical-align: top;
    padding:3px;
    border-radius: 5px;
    overflow-wrap: break-word;
    display: flex;
}


.parent3 {
    width:61.8%;
}

.parent3-me {
    width:61.8%;
    right:0;
    overflow: hidden;
    max-height: 230px;
}
 
.picture3 {
    min-width: 100%;
}

.parent3-video-me {
    width:61.8%;
    right:0;
    overflow: hidden;
    max-height: 230px;
}

.video3 {
    width: 100%;
}

.notdownload{
    -webkit-filter: grayscale(100%); 
    filter: grayscale(100%);
}

.bg-right {
    background:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAGAAAAAYCAYAAAAF6fiUAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAyZpVFh0WE1MOmNvbS5hZG9iZS54bXAAAAAAADw/eHBhY2tldCBiZWdpbj0i77u/IiBpZD0iVzVNME1wQ2VoaUh6cmVTek5UY3prYzlkIj8+IDx4OnhtcG1ldGEgeG1sbnM6eD0iYWRvYmU6bnM6bWV0YS8iIHg6eG1wdGs9IkFkb2JlIFhNUCBDb3JlIDUuNi1jMDY3IDc5LjE1Nzc0NywgMjAxNS8wMy8zMC0yMzo0MDo0MiAgICAgICAgIj4gPHJkZjpSREYgeG1sbnM6cmRmPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5LzAyLzIyLXJkZi1zeW50YXgtbnMjIj4gPHJkZjpEZXNjcmlwdGlvbiByZGY6YWJvdXQ9IiIgeG1sbnM6eG1wTU09Imh0dHA6Ly9ucy5hZG9iZS5jb20veGFwLzEuMC9tbS8iIHhtbG5zOnN0UmVmPSJodHRwOi8vbnMuYWRvYmUuY29tL3hhcC8xLjAvc1R5cGUvUmVzb3VyY2VSZWYjIiB4bWxuczp4bXA9Imh0dHA6Ly9ucy5hZG9iZS5jb20veGFwLzEuMC8iIHhtcE1NOkRvY3VtZW50SUQ9InhtcC5kaWQ6NzlFRDZDRDNENzlFMTFFNkJDN0NFMjA2QTFFRTRDQkIiIHhtcE1NOkluc3RhbmNlSUQ9InhtcC5paWQ6NzlFRDZDRDJENzlFMTFFNkJDN0NFMjA2QTFFRTRDQkIiIHhtcDpDcmVhdG9yVG9vbD0iQWRvYmUgUGhvdG9zaG9wIENDIDIwMTcgKFdpbmRvd3MpIj4gPHhtcE1NOkRlcml2ZWRGcm9tIHN0UmVmOmluc3RhbmNlSUQ9InhtcC5paWQ6MTAxQkEzQ0RENzM2MTFFNjgyMEI5MTNDRkQ0OTM5QUEiIHN0UmVmOmRvY3VtZW50SUQ9InhtcC5kaWQ6MTAxQkEzQ0VENzM2MTFFNjgyMEI5MTNDRkQ0OTM5QUEiLz4gPC9yZGY6RGVzY3JpcHRpb24+IDwvcmRmOlJERj4gPC94OnhtcG1ldGE+IDw/eHBhY2tldCBlbmQ9InIiPz4K4iKVAAACUUlEQVR42uSazytEURTHvTHjR4kaU8xsSDZSdmbjx4oSK8XGQrJlpSwYTSmxEWWhUIpsZK3kD7DRNBuSBZFCNjZ+JPKcV6ecXu/d3sy7595bc+vbfXPue5/749z77o83lm3bZYYFC8RZqAbQAigP2tXNj5aZF7gdkAZNk9+7WvnOCCgxRUCb9n/o1sk3pUH6QDHF/GNsoM+QeYfiy6qkFeLZDBb0GlTB4AAR/xXT9nXxZVa0WCekQd9Y0HOJjg3CHySviiZmfjO3AyIhnu0gBc0wjAIR/wLtW8z87aAOWAI9gqaYRoAff4ZUoi7EKCiUP462j4CdSCrfK4N1Ahpi6I0i/hPa50M4oFB+Dbm/SzXfL5MD4rUogxP8+Itozynm59E+q5ovyuQdHxphWh568XvR5kxq1SEn40L4e0XMA1L4EcEe7RTjLqYdqRf/gezQUwr5LxjXq+aLHPCFcTmTA7z4tutIQhXfLiJPKXyRA/oxzgW8v9DgxU+S62eF/ATGr6r5fg26Corj9RHD4Z0fvwfjS9CbQn4bxrfK+R6TyzxZNk260solTL4i/g3al10TsMXIryA72T7VfK8MnJO8X9CKy14lafXjxx8jFUsSeyUzfxhtPwHPoqTy/TJJMJzJiPgNpJdsuNJizPwztB/q4JtwHN2KW3sn3HuMOouR30l6bbsOvgkOyGIBnaPbRldalJl/h2knuvgmOKAWNAFKMUz4Iv4O6Z1xXXxTPxtazHy6khnVyS/Fb8IDpHGyuvmWgX9L4Q4toDnQFWhNN/9PgAEAR4w1ULjdCbEAAAAASUVORK5CYII=) right 0 no-repeat;
    width: 20px;
    height: 20px;
    background-size: 400%;
    transform: rotate(-180deg);
    margin:auto;
}

.bg-left {
    background:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAGAAAAAYCAYAAAAF6fiUAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAyZpVFh0WE1MOmNvbS5hZG9iZS54bXAAAAAAADw/eHBhY2tldCBiZWdpbj0i77u/IiBpZD0iVzVNME1wQ2VoaUh6cmVTek5UY3prYzlkIj8+IDx4OnhtcG1ldGEgeG1sbnM6eD0iYWRvYmU6bnM6bWV0YS8iIHg6eG1wdGs9IkFkb2JlIFhNUCBDb3JlIDUuNi1jMDY3IDc5LjE1Nzc0NywgMjAxNS8wMy8zMC0yMzo0MDo0MiAgICAgICAgIj4gPHJkZjpSREYgeG1sbnM6cmRmPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5LzAyLzIyLXJkZi1zeW50YXgtbnMjIj4gPHJkZjpEZXNjcmlwdGlvbiByZGY6YWJvdXQ9IiIgeG1sbnM6eG1wTU09Imh0dHA6Ly9ucy5hZG9iZS5jb20veGFwLzEuMC9tbS8iIHhtbG5zOnN0UmVmPSJodHRwOi8vbnMuYWRvYmUuY29tL3hhcC8xLjAvc1R5cGUvUmVzb3VyY2VSZWYjIiB4bWxuczp4bXA9Imh0dHA6Ly9ucy5hZG9iZS5jb20veGFwLzEuMC8iIHhtcE1NOkRvY3VtZW50SUQ9InhtcC5kaWQ6NzlFRDZDRDNENzlFMTFFNkJDN0NFMjA2QTFFRTRDQkIiIHhtcE1NOkluc3RhbmNlSUQ9InhtcC5paWQ6NzlFRDZDRDJENzlFMTFFNkJDN0NFMjA2QTFFRTRDQkIiIHhtcDpDcmVhdG9yVG9vbD0iQWRvYmUgUGhvdG9zaG9wIENDIDIwMTcgKFdpbmRvd3MpIj4gPHhtcE1NOkRlcml2ZWRGcm9tIHN0UmVmOmluc3RhbmNlSUQ9InhtcC5paWQ6MTAxQkEzQ0RENzM2MTFFNjgyMEI5MTNDRkQ0OTM5QUEiIHN0UmVmOmRvY3VtZW50SUQ9InhtcC5kaWQ6MTAxQkEzQ0VENzM2MTFFNjgyMEI5MTNDRkQ0OTM5QUEiLz4gPC9yZGY6RGVzY3JpcHRpb24+IDwvcmRmOlJERj4gPC94OnhtcG1ldGE+IDw/eHBhY2tldCBlbmQ9InIiPz4K4iKVAAACUUlEQVR42uSazytEURTHvTHjR4kaU8xsSDZSdmbjx4oSK8XGQrJlpSwYTSmxEWWhUIpsZK3kD7DRNBuSBZFCNjZ+JPKcV6ecXu/d3sy7595bc+vbfXPue5/749z77o83lm3bZYYFC8RZqAbQAigP2tXNj5aZF7gdkAZNk9+7WvnOCCgxRUCb9n/o1sk3pUH6QDHF/GNsoM+QeYfiy6qkFeLZDBb0GlTB4AAR/xXT9nXxZVa0WCekQd9Y0HOJjg3CHySviiZmfjO3AyIhnu0gBc0wjAIR/wLtW8z87aAOWAI9gqaYRoAff4ZUoi7EKCiUP462j4CdSCrfK4N1Ahpi6I0i/hPa50M4oFB+Dbm/SzXfL5MD4rUogxP8+Itozynm59E+q5ovyuQdHxphWh568XvR5kxq1SEn40L4e0XMA1L4EcEe7RTjLqYdqRf/gezQUwr5LxjXq+aLHPCFcTmTA7z4tutIQhXfLiJPKXyRA/oxzgW8v9DgxU+S62eF/ATGr6r5fg26Corj9RHD4Z0fvwfjS9CbQn4bxrfK+R6TyzxZNk260solTL4i/g3al10TsMXIryA72T7VfK8MnJO8X9CKy14lafXjxx8jFUsSeyUzfxhtPwHPoqTy/TJJMJzJiPgNpJdsuNJizPwztB/q4JtwHN2KW3sn3HuMOouR30l6bbsOvgkOyGIBnaPbRldalJl/h2knuvgmOKAWNAFKMUz4Iv4O6Z1xXXxTPxtazHy6khnVyS/Fb8IDpHGyuvmWgX9L4Q4toDnQFWhNN/9PgAEAR4w1ULjdCbEAAAAASUVORK5CYII=) right 0 no-repeat;
    width: 20px;
    height: 20px;
    background-size: 400%;
    margin:auto;
	filter: invert(100%);
}

.voicePlay {
    animation-name: voicePlay;
    animation-duration: 1s;
    animation-direction: normal;
    animation-iteration-count: infinite;
    animation-timing-function: steps(3);
}

@keyframes voicePlay {
    0% {
        background-position: 0;
    }
    100% {
        background-position: 100%;
    }
}











.newChatComment {
    border: solid grey 0px;
    border-radius: 5px;
    margin: 6px 10px;
    padding: 0px 5px;
    --background: white;
    overflow: hidden;
    font-size:large;
    font-weight: normal;
}

.newChatCommentPress {
    border: solid grey 0px;
    border-radius: 5px;
    margin: 10px 10px;
    padding: 0px 5px;
    --background: primary;
    overflow: hidden;
    color: black;
}

.chat-footer{
    background-color: #eeeeee;
}

.optionPanel {
    padding-bottom:40px;
    background-color: #eeeeee;
}

.funGrid {
    width: 100%;
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: 100px;
    background-color: #eeeeee;
}

.funCard {
    width: 50px;
    height: 50px;
    margin: auto;
    padding: 8px;
    border-radius: 10px;
    background-color: white;
}

.funName {
    margin: 0;
    color: gray;
}

.audio-pressed {
    background-color:#107c10;
}