
.play-icon-box{
    margin: 5px 0px;
    margin-right:15px;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    //background-color: #e8e8e8;
    border-radius: 5px;
}