<ion-toolbar style="--background: translucent;margin-top:10px;">
  <ion-card-content style="display: flex;direction:row;padding-top:0;padding-bottom: 0;padding-left:15px;">
    <ion-buttons>
      <ion-card-title class="station-text" style="font-weight: bold;"
       [style.fontSize]="data.zoom(20)">{{name}}</ion-card-title>
      <ion-button *ngIf="arrow">
        <ion-icon name="chevron-forward-outline" color="dark"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-card-content>
</ion-toolbar>
<div style="display: grid;grid-template-columns: repeat(3, 1fr);grid-gap:0px;padding:0 10px;">
  <div style="margin:5px;" *ngFor="let s of source" >
    <!--culstomelist start-->
    <div class="card-scroll-item1" 
      *ngIf="s.group=='customlist'&&!s.data.customimage&&s.data.image&&s.data.image.length>=4" 
      (click)="data.goToPlayList(s.data['id'])"
        [ngStyle]="{'background-size':s.display === 'contain' ? 'contain' : 'cover' }"
        style="margin:auto;
        aspect-ratio: 1 / 1;
        border: 1px solid rgba(247,247,247);
        border-radius: 10px;
        display: grid;
        grid-gap:0px;
        justify-content: space-evenly;
        align-content: space-evenly;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
        overflow: hidden;
        background-color:{{s.data.color}};">
        <div *ngFor="let i of [0,1,2,3]"
          defaultImage="" 
          lazyLoad="{{s.data.image[i]}}"
          style="
            background-size:cover;
            background-repeat: no-repeat;
          "
        ></div>
    </div>
    <div class="card-scroll-item1" 
      *ngIf="s.group=='customlist'&&!s.data.customimage&&s.data.image&&s.data.image.length<4" 
      (click)="data.goToPlayList(s.data['id'])"
        [ngStyle]="{'background-size':s.display === 'contain' ? 'contain' : 'cover' }"
        defaultImage="" 
        lazyLoad="{{s.data.image[0]}}"
        style="
          background-size:cover;padding-top: 100%; 
          background-repeat:no-repeat;
          background-color: {{s.data.color}};">
    </div>
    <div class="card-scroll-item1" 
      *ngIf="s.group=='customlist'&&s.data.customimage" 
      (click)="data.goToPlayList(s.data['id'])"
        [ngStyle]="{'background-size':s.display === 'contain' ? 'contain' : 'cover' }"
        defaultImage="" 
        lazyLoad="{{s.data.customimage}}"
        style="
          background-size:cover;padding-top: 100%; 
          background-repeat:no-repeat;
          background-color: {{s.data.color}};">
    </div>
    <div
    class="card-text-style" *ngIf="s.group=='customlist'"
     [style.fontSize]="data.zoom(16)"
    >{{s.data.name}} {{s.data.desc}}</div>
  
    <!--culstomelist end-->


    <div class="card-scroll-item1" *ngIf="s.group=='idlist'" 
    (click)="data.goToListBy(s.data)"
      [ngStyle]="{'background-size':s.display === 'contain' ? 'contain' : 'cover' }"
      defaultImage="" 
      lazyLoad="{{s.data.image}}"
      style="
        background-size:cover;padding-top: 100%; 
        background-repeat:no-repeat;
        background-color: {{s.color}};">
    </div>
    <div class="card-text-style" *ngIf="s.group=='idlist'"
     [style.fontSize]="data.zoom(16)">{{s.data.name?s.data.name:s.data.sub}}</div>


    <div class="card-scroll-item1" *ngIf="s.group=='taglist'" 
    (click)="data.goToListBy(s.data)"
      [ngStyle]="{'background-size':s.display === 'contain' ? 'contain' : 'cover' }"
      defaultImage="" 
      lazyLoad="{{s.data.src}}"
      style="
        background-size:cover;padding-top: 100%; 
        background-repeat:no-repeat;
        background-color: {{s.data.color}};">
    </div>
    <div class="card-text-style" *ngIf="s.group=='taglist'"
     [style.fontSize]="data.zoom(16)">{{s.data.text}}</div>


    <div class="card-scroll-item1" *ngIf="s.group=='poetlist'" 
    (click)="data.goToAuthor(s.data.name)"
      [ngStyle]="{'background-size':s.display === 'contain' ? 'contain' : 'cover' }"
      defaultImage="" 
      lazyLoad="https://reddah.blob.core.windows.net/msjjpoet/{{s.data.name}}.jpeg"
      style="
        background-size:cover;padding-top: 100%; 
        background-repeat:no-repeat;
        background-color:rgb(113,203,212);">
    </div>
    <div class="card-text-style" *ngIf="s.group=='poetlist'"
     [style.fontSize]="data.zoom(16)">关注诗人 - {{s.data.name}}</div>


    <div class="card-scroll-item1" *ngIf="s.group=='poem'" 
    (click)="data.playobj(s.data)"
      [ngStyle]="{'background-size':s.display === 'contain' ? 'contain' : 'cover' }"
      defaultImage="" 
      lazyLoad="https://reddah.blob.core.windows.net/msjjpoet/{{s.data.author}}.jpeg"
      style="
        background-size:cover;padding-top: 100%; 
        background-repeat:no-repeat;
        background-color:rgb(113,203,212);">
    </div>
    <div class="card-text-style" *ngIf="s.group=='poem'"
     [style.fontSize]="data.zoom(16)">{{s.data.author}}《{{s.data.title}}》</div>
  </div>
</div>