<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-button color="medium" (click)="cancel()">{{ ui.instant('Action.Cancel') }}<!--取消--></ion-button>
        </ion-buttons>
        <ion-title>{{ ui.instant('Title.NewList') }}<!--新建诗单列表--></ion-title>
        <ion-buttons slot="end">
            <ion-button (click)="confirm()" [strong]="true">{{ ui.instant('Action.Done') }}<!--完成--></ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
    <ion-item><!--诗单列表名称-->
        <ion-input labelPlacement="floating" label="{{ ui.instant('Title.NewListName') }}" [(ngModel)]="name" 
        placeholder="{{ ui.instant('Title.NewListName') }}"></ion-input>
    </ion-item>
    <ion-item><!--描述-->
        <ion-input labelPlacement="floating" label="{{ ui.instant('Title.NewListDesc') }}" [(ngModel)]="desc" 
        placeholder="{{ ui.instant('Title.NewListDesc') }}"></ion-input>
    </ion-item>
</ion-content>