<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>现在就听</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title class="tab-title" mode="md">现在就听</ion-title>
    </ion-toolbar>
  </ion-header>

  <app-big [source]="searchTopicData.scroll"></app-big>

<!--
  <app-hot name="热门诗词" [source]="data.hotData" *ngIf="data.hotData"></app-hot>
-->  
  <app-hot name="经典诗词" [source]="data.classicData" *ngIf="data.classicData"></app-hot>

  <div *ngFor="let list of searchTopicData.list;">
    <app-tile [name]="list.name" [source]="list.data"></app-tile>
  </div>



  <app-text [name]="searchTopicData.desctitle" [text]="searchTopicData.desc">
  </app-text>
  
  <div class="placeholder-playbox"></div>

</ion-content>