<!--one slide 4 poems-->
<ion-toolbar style="--background: translucent;" *ngIf="source">
  <ion-card-content style="display: flex;direction:row;padding-top:15px;padding-bottom: 0;padding-left:15px;">
    <ion-buttons>
      <ion-card-title class="station-text" style="font-weight: bold;"
      [style.fontSize]="data.zoom(20)">{{name}}</ion-card-title>
      <ion-button *ngIf="source.length>2">
        <ion-icon name="chevron-forward-outline" color="dark"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-card-content>
</ion-toolbar>
<swiper-container swiper-touch
    style="margin-top:10px;margin-bottom: 20px; --swiper-pagination-bottom: 0px;" *ngIf="source"
    slides-per-view="1.1" 
    centered-slides="false"
    slides-offset-before="20"
    slides-offset-after="20"
    pagination="true"
    >
  <swiper-slide *ngFor="let hot of source">
    <ion-list style="padding-bottom: 30px;">
      <ion-item *ngFor="let p of hot" style="--padding-start:0px;--inner-padding-end:0px;--padding-end:10px;" >
        <ion-thumbnail slot="start" (click)="data.goToAuthor(p.author)"
        style="display: flex;justify-content: center;align-items: center;">
          <img style="border-radius: 10px;" 
            defaultImage="assets/img/default.jpg" 
            lazyLoad="https://reddah.blob.core.windows.net/msjjpoet/{{p.author}}.jpeg"
            onerror="javascript:this.src='assets/img/default.jpg'" 
            [ngStyle]="{'opacity':(data.currentPoem&&p.audio&&p.id === data.currentPoem.id) ? '0.5' : '1' }" />
          <div class="playing" style="position: fixed;" *ngIf="data.currentPoem&&p.audio&&p.id === data.currentPoem.id"
            [ngStyle]="{'animation-duration':(data.isPlaying) ? '1s' : '1000s',
            'height':(data.isPlaying) ? '' : '5px' }"
          ></div>
        </ion-thumbnail>
        <ion-label>
          <div style="display: flex; align-items: center;">
            <ion-icon name="headset" *ngIf="p.audio" color="primary" style="margin-right:5px;min-width: 16px;"></ion-icon>
            <h2 [style.fontSize]="data.zoom(17)" class="show-only-one-line">
              {{p.title}} {{p.author}}
            </h2>
          </div>
          <p [style.fontSize]="data.zoom(14)" class="show-only-one-line"
            style="margin-top:5px;display: flex;align-items: end;">
            {{p.sample?p.sample:p.paragraphs[0]}}
          </p>
        </ion-label>
        <app-button-end [p]="p" page="hotlist" slot="end"></app-button-end>
      </ion-item>
    </ion-list>
  </swiper-slide>
</swiper-container>