<ion-header>
    <ion-toolbar>
        <ion-title>添加到诗单列表</ion-title>
        <ion-buttons slot="end">
            <ion-button (click)="cancel()" [strong]="true">取消</ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>
<ion-content class="no-padding">
    <ion-searchbar placeholder="在诗单列表中查找" show-cancel-button="focus" 
      style="padding-left:15px;"
      [(ngModel)]="searchText"
      (ionFocus)="onSearchFocus()"
      (ionCancel)="onSearchCancel()"
      (ionInput)="onSearchChanged()"
      cancel-button-text="取消"
    ></ion-searchbar>
    <ion-list *ngIf="lastUpdatedCustomList&&lastUpdatedCustomList.length>0&&(searchText==null||searchText.length==0)">
        <ion-list-header>
            <ion-label style="padding-left:5px;">最近诗单列表</ion-label>
        </ion-list-header>
        <ion-item *ngFor="let like of lastUpdatedCustomList" 
        (click)="addtocustomlist(like)"
        style="--padding-start:20px;--inner-padding-end:20px;" detail="false">
            <ion-thumbnail slot="start" *ngIf="like.data&&like.data.image&&like.data.image.length<4" 
            style="background-color: {{like.data['color']}};">
              <img style="border-radius: 10px;" [src]="like.data['image']" />
            </ion-thumbnail>
            <ion-thumbnail slot="start" *ngIf="like.data&&like.data.image&&like.data.image.length>=4" 
              style="
              aspect-ratio: 1 / 1;
              border: 1px solid rgba(247,247,247);
              border-radius: 10px;
              display: grid;
              grid-gap:0px;
              justify-content: space-evenly;
              align-content: space-evenly;
              grid-template-columns: repeat(2, 1fr);
              grid-template-rows: repeat(2, 1fr);
              overflow: hidden;background-color: {{like.data['color']}};">
              <div *ngFor="let i of [0,1,2,3]"
                style="background-image: url({{like.data.image[i]}});
                background-size:cover;
                background-repeat: no-repeat;
                ">
              </div>
            </ion-thumbnail>
            <ion-label *ngIf="like.data" >
                <h2>{{like.data['name']}}</h2>
                <p style="margin-top:5px;">{{like.data['desc']}}</p>
            </ion-label>
        </ion-item>
    </ion-list>

    <ion-list>
        <ion-list-header>
            <ion-label style="padding-left:5px;">所有诗单列表</ion-label>
          </ion-list-header>
        <ion-item style="--padding-start:20px;--inner-padding-end:20px;"
        (click)="createPlayList()">
          <ion-thumbnail slot="start" class="add-center">
            <ion-icon name="add-outline" size="large" color="primary"></ion-icon>
          </ion-thumbnail>
          <ion-label color="primary">
            <h2>新建诗单列表...</h2>
          </ion-label>
        </ion-item>
        <ion-item *ngFor="let like of displayResult" 
        (click)="addtocustomlist(like)"
        style="--padding-start:20px;--inner-padding-end:20px;" detail="false">
          <ion-thumbnail slot="start" *ngIf="like.data&&like.data.image&&like.data.image.length<4" 
          style="background-color: {{like.data['color']}};">
            <img style="border-radius: 10px;" [src]="like.data['image']" />
          </ion-thumbnail>
          <ion-thumbnail slot="start" *ngIf="like.data&&like.data.image&&like.data.image.length>=4" 
            style="
            aspect-ratio: 1 / 1;
            border: 1px solid rgba(247,247,247);
            border-radius: 10px;
            display: grid;
            grid-gap:0px;
            justify-content: space-evenly;
            align-content: space-evenly;
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: repeat(2, 1fr);
            overflow: hidden;background-color: {{like.data['color']}};">
            <div *ngFor="let i of [0,1,2,3]"
              style="background-image: url({{like.data.image[i]}});
              background-size:cover;
              background-repeat: no-repeat;
              ">
            </div>
          </ion-thumbnail>

          <ion-label *ngIf="like.data" >
            <h2>{{like.data['name']}}</h2>
            <p style="margin-top:5px;">{{like.data['desc']}}</p>
          </ion-label>
        </ion-item>
    </ion-list>
</ion-content>