<ion-header [translucent]="true">
  <ion-toolbar style="padding-left:10px;padding-right:10px;">
    <ion-buttons slot="start">
      <ion-back-button style="width:50px;height:50px;" defaultHref="/tabs/tab3/study/learn" [text]="''"></ion-back-button>
    </ion-buttons>
    <ion-title slot="start" class="game-title" [style.fontSize]="data.zoom(17)" style="text-align:left;--padding-start:0;margin-left:0;">
      诗词闯关
    </ion-title>
    <ion-title style="padding-right: 15px;">
      <ion-label style="display: flex;align-items: center;font-size: medium;font-weight: normal;float:right;">
        {{data.mycoins}}<img lazyLoad="/assets/img/coin.png" style="margin-right:10px;width: 25px;">
        {{data.mystars}}/{{data.totalstars}}<ion-img lazyLoad src="/assets/img/bigstar.png" style="margin-right:0px;width: 25px;"></ion-img>
      </ion-label>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="tab1-page-bg" aria-hidden="true" slot="fixed"
    *ngIf="ui.isipad"></div>
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title slot="start" class="game-title tab-title" mode="md"
      [style.fontSize]="data.zoom(28)">诗词闯关</ion-title>
      <ion-title style="padding-right: 15px;">
        <ion-label style="display: flex;align-items: center;font-size: medium;font-weight: normal;float:right;">
          {{data.mycoins}}<img lazyLoad="/assets/img/coin.png" style="margin-right:10px;width: 25px;">
          {{data.mystars}}/{{data.totalstars}}<ion-img lazyLoad src="/assets/img/bigstar.png" style="margin-right:0px;width: 25px;"></ion-img>
        </ion-label>
      </ion-title>
    </ion-toolbar>
  </ion-header>

  <!--sub="{{level.id}}" -->
  <div [ngStyle]="{'grid-template-columns': ui.isipad ? 'repeat(2, 1fr)' : '1fr', 'width': ui.isipad ? '72%' : '100%'}"
  style="display: grid;grid-gap:10px;padding:0 10px;">
    <app-level-card style="width: 100%;"
      *ngFor="let level of data.levels"
      id="{{level.id}}"
      title="{{level.name}}"
      position="{{level.position}}"
      color="{{level.color}}"
      img="{{level.img}}"
      limit="{{level.limit}}"
    >
    </app-level-card>
  </div>
  
  <div class="placeholder-playbox"></div>
</ion-content>
