
.station-bg-title {
    position:absolute;
    font-size: 120px;
    font-weight: bold;
    color:rgb(#000,0.1);
    margin-left: 5px;
    margin-bottom:0px;
    z-index: 1;
    height: 100%;
    display: flex;
    align-items: flex-end;
    text-wrap: nowrap;
}

.station-text{
    color:black;
    font-size:20px;
    font-weight: normal;
}

.station-type{
    color:black;
    font-size:20px;
    font-weight: lighter;
}

.station-content{
    background-size:cover;
    min-height:220px;
    font-size: 25px;
    font-weight: bold;
    color:white;
    padding:15px;
}






.card-scroll {
    .card-text{
        color: gray;
        margin: 5px 0;
    }
}

.card-scroll-box{
    display: flex;
    overflow-x: auto;
    width: 100%;
}

.card-scroll-box::-webkit-scrollbar {
    display: none;
}



.card-scroll-item{
    max-height: 80px;
    width: 100%;
    padding-top: 100%; /* Create a square aspect ratio */
    position: relateive;
    top: 0;
    left: 0;
    border-radius: 50%;
}