.station-text{
    font-size:20px;
    font-weight: normal;
}

.card {
    min-height: 350px;
    width: 400px;
    margin-top:5px;
    margin-bottom:5px;
}

//screen width smaller than 400px, use the following css
@media screen and (max-width: 400px){  
    .card {
        min-height: 350px;
        width:100%;
    }

    .card-wrap{
        width: 100%;
        display: flex;
    }
}

.card-gif {
    background-color: rgb(187,205,253);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: bottom;
    //background-image: url('https://reddah.blob.core.windows.net/msjjimg/cardn1.jpg');

    .card-text{
        color:white;
    }
}


.container {
    position: fixed;
    width: 100%;
    height: 100%;
    background-image: -webkit-radial-gradient(70% 120%, 1600px, rgba(33, 39, 80, 1) 10%, #020409 100%);
    background-image: radial-gradient(1600px at 70% 120%, rgba(33, 39, 80, 1) 10%, #020409 100%);
}


// .container{
//     margin: 0;
//     overflow: hidden;
//     width: 100%;
//     height: 100%;
//     cursor: none;
//     background: black;
//     background: linear-gradient(to bottom, #000000 0%, #5788fe 100%);
// }

.filter {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: #fe5757;
    animation: colorChange 30s ease-in-out infinite;
    animation-fill-mode: both;
    mix-blend-mode: overlay;
}
@keyframes colorChange {
    0%, 100% {
        opacity: 0;
    }
    50% {
        opacity: .9;
    }
}
.landscape {
    position: absolute;
    bottom: 0px;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('/assets/img/Trees-Landscape-Silhouette.png');
    
    background-size: 1000px 250px;
    background-repeat: repeat-x;
    background-position: center bottom;
}