<!--id="poem-{{data.currentTab}}-{{page}}-{{p.id}}-{{p.title}}"-->
<ion-button slot="end" color="white" id="poem-{{uuid}}"
  style="margin-left:0px;margin-right:0px;">
  <ion-icon name="ellipsis-horizontal" color="dark"></ion-icon>
</ion-button>
<ion-popover trigger="poem-{{uuid}}" [dismissOnSelect]="true" arrow="false">
  <ng-template>
    <ion-content>
      <ion-list>
        <ion-item lines="full" [button]="true" [detail]="false"
        *ngIf="data.isliked(p,'poem')" 
        (click)="data.unlikelist(p,'poem')"
        [style.fontSize]="data.zoom(17)">
          <ion-text color="danger">{{ ui.instant('Action.DeleteFromLib') }}<!--从诗词库中删除--></ion-text>
          <ion-icon name="trash-outline" slot="end" color="danger"></ion-icon>
        </ion-item>
        <ion-item lines="full" [button]="true" [detail]="false"
        *ngIf="!data.isliked(p,'poem')"  
        (click)="data.likelist(p, 'poem')"
        [style.fontSize]="data.zoom(17)">
          {{ ui.instant('Action.AddToLib') }}<!--添加到诗词库-->
          <ion-icon name="add-outline" slot="end"></ion-icon>
        </ion-item>
        <ion-item lines="full" [button]="true" [detail]="false" (click)="addToCustomList(p)"
        [style.fontSize]="data.zoom(17)">
          <ion-label style="white-space: nowrap;">
            {{ ui.instant('Action.AddToAPoemList') }}<!--添加到诗单列表...-->
          </ion-label>
          <ion-icon name="add-circle-outline" slot="end"></ion-icon>
        </ion-item>
        <ion-item lines="full" [button]="true" [detail]="false"
          (click)="checkAuthor(p.author)"
          [style.fontSize]="data.zoom(17)">
          {{ ui.instant('Action.ViewPoet') }}<!--看作者-->
          <ion-icon name="id-card-outline" slot="end"></ion-icon>
        </ion-item>
        <ion-item lines="full" [button]="true" [detail]="false"
          (click)="interpret(p)"
          [style.fontSize]="data.zoom(17)">
          {{ ui.instant('Action.Interpret') }}<!--诗词赏析-->
          <ion-icon name="school-outline" slot="end"></ion-icon>
        </ion-item>
        <ion-item lines="full" [button]="true" [detail]="false"
          (click)="size()"
          [style.fontSize]="data.zoom(17)">
          {{ ui.instant('Action.FontSize') }}<!--字体大小-->
          <ion-icon name="text-outline" slot="end"></ion-icon>
        </ion-item>
        <!--
        <ion-item lines="full" [button]="true" [detail]="false"
          (click)="share()">
          分享
          <ion-icon name="share-outline" slot="end"></ion-icon>
        </ion-item>-->
      </ion-list>
    </ion-content>
  </ng-template>
</ion-popover>