swiper-container {
    height: 100%;
}

.slide {
  margin:30px;
}

.swiper-slide {
  display: block;
}

.slide h2 {
  margin-top: 2.8rem;
  text-align: center;
}

.swiper-slide img {
  max-height: 50%;
  max-width: 80%;
  margin: 60px 0 40px;
  pointer-events: none;
}

b {
  font-weight: 500;
}

p {
  //padding: 0 40px;
  font-size: 14px;
  line-height: 1.5;
  color: var(--ion-color-step-600, #60646b);
}

p b {
  color: var(--ion-text-color, #000000);
}

.lan-name{
  font-size: 24px;
}