<ion-toolbar *ngIf="name">
  <ion-card-content style="display: flex;direction:row;padding-top:0;padding-bottom: 0;padding-left:15px;">
    <ion-buttons>
      <ion-card-title class="station-text" style="font-weight: bold;">{{name}}</ion-card-title>
    </ion-buttons>
  </ion-card-content>
</ion-toolbar>
<ion-card-content style="padding-top:5px;padding-bottom:0px;">
  <div *ngIf="short()!=text">{{short()}}<ion-text (click)="unfold()" color="primary">...更多</ion-text></div>
  <div *ngIf="short()==text">{{text}}</div>
</ion-card-content>