<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.web>
    <customErrors mode="RemoteOnly" defaultRedirect="index.html" />
  </system.web>

  <system.webServer>
    <httpErrors errorMode="DetailedLocalOnly" />

    <defaultDocument enabled="true">
      <files>
        <clear />
        <add value="index.html" />
      </files>
    </defaultDocument>

    <staticContent>
      <!-- Android installer packages -->
      <remove fileExtension=".apk" />
      <mimeMap fileExtension=".apk" mimeType="application/vnd.android.package-archive" />

      <!-- Optional: Android App Bundle and related package types -->
      <remove fileExtension=".aab" />
      <mimeMap fileExtension=".aab" mimeType="application/octet-stream" />

      <remove fileExtension=".xapk" />
      <mimeMap fileExtension=".xapk" mimeType="application/octet-stream" />

      <remove fileExtension=".apks" />
      <mimeMap fileExtension=".apks" mimeType="application/octet-stream" />
    </staticContent>
  </system.webServer>
</configuration>
