.station-bg-title {
    position:absolute;
    font-size: 120px;
    font-weight: bold;
    color:rgb(#000,5%);
    margin-left: 5px;
    margin-bottom:0px;
    z-index: 1;
    height: 100%;
    display: flex;
    align-items: flex-end;
}

.station-text{
    color:black;
}

.station-type{
    color:gray;
}

.station-content{
    background-size:cover;
    min-height:220px;
    font-size: 25px;
    font-weight: bold;
    color:white;
}






.card-scroll {
    .card-text{
        color: gray;
        margin: 5px 0;
    }
}

.card-scroll-box{
    display: flex;
    overflow-x: auto;
    width: 100%;
}

.card-scroll-box::-webkit-scrollbar {
    display: none;
}

.card-scroll-item{
    min-width:150px;
    height: 100%;
    margin-right:10px;
    
    .card-image{
        width: 100%;
        height: 150px;
        border-radius: 10px;

        background-repeat: no-repeat;
        background-position: bottom;
    }

    .contain{
        background-size: contain;
    }
    .cover{
        background-size: cover;
    }

    .card-text{
        margin-top:5px;
        margin-left:3px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .card-text-recent{
        color: black;
        margin-top: 5px;
        margin-left: 5px;

        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 2;
    }
    .card-text-style{
        color: black;
        margin-top: 5px;
        margin-left: 5px;
        
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 2;
    }
}

.play-icon-box{
    margin: 15px;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #e8e8e8;
    border-radius: 5px;
}



.gray-mask {
    background-color: rgba(0, 0, 0, 0.5);
}