<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title [style.fontSize]="data.zoom(17)">
      {{ ui.instant('Tabs.Search') }}<!--搜索-->
    </ion-title>
  </ion-toolbar>
</ion-header>

<!--
大类：全部db  你的资料库

  作者名 刘德华  ==》 如果是诗人名字，列搜索选项：刘德华  刘德华头像点击进诗人页面，刘德华作品列top10
  诗词名 忘情水  ==》 列搜索选项：忘情水。exact match 诗词：忘情水。如果exact match再列出作者名字头像
  诗词名句 给我一杯忘情水
  描述 伤感   ==》列3个搜索选项 伤感、伤感开头keyword2个 下面是模糊查询结果top10
  诗单名？ ==》

  
-->

<ion-content [fullscreen]="false" scrollEvents="true"
class="custom-content"
  (ionScroll)="onScroll($event)" force-overscroll="false">
  <ion-header [translucent]="true" collapse="condense" 
    *ngIf="!data.showFilter">
    <ion-toolbar>
      <ion-title class="tab-title" mode="md">
        {{ ui.instant('Tabs.Search') }}<!--搜索-->
      </ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-header style="position:sticky;top:0px;" collapse="fade" [translucent]="true">
    <ion-toolbar style="padding-top:0px;"><!--诗人、诗词以及更多内容-->
      <ion-searchbar placeholder="{{ ui.instant('Search.Tab4') }}"
        [ngStyle]="{'color': data.searchText==ui.instant('Search.Tab4')? 'grey' : 'black' }"
        [(ngModel)]="data.searchText"
        (ionFocus)="onSearchFocus()"
        (ionBlur)="onLoseFocus()"
        (ionCancel)="data.onSearchCancel()"
        (ionInput)="onSearchChanged()"
        (ionClear)="onClearMic()"
        show-clear-button="always"
        clear-icon="mic"
        style="margin-top:15px;"
      ><!--{{ ui.instant('Action.Cancel') }}
        show-cancel-button="focus"
        cancel-button-text="取消"-->
      </ion-searchbar>
      <ion-icon name="mic" color="danger" 
      style="font-size:23px;margin-left:10px;margin-top:0px;margin-bottom:10px;" 
      *ngIf="btnStatus==='OPEN'"
      ></ion-icon>
    </ion-toolbar>
  </ion-header>

  <ion-list *ngIf="data.showFilter">
    <ion-item *ngIf="isAuthor&&data.searchText&&
    data.searchText!=this.ui.instant('Search.Tab4')" 
    (click)="data.goToAuthor(data.searchText)">
      <ion-thumbnail slot="start">
        <img style="border-radius: 50%;margin:0 2px;"
          defaultImage="assets/img/default.jpg" 
          lazyLoad="https://reddah.blob.core.windows.net/msjjpoet/{{data.searchText}}.jpeg" 
          onerror="javascript:this.src='assets/img/default.jpg'"
        />
      </ion-thumbnail>
      <ion-label>
        <h2>{{data.searchText}}</h2>
        <p>{{ ui.instant('Title.Author') }}<!--作者--></p>
      </ion-label>
      <ion-button fill="clear" slot="end">
        <ion-icon name="chevron-forward-outline" color="medium"></ion-icon>
      </ion-button>
    </ion-item>
    <ion-item *ngFor="let p of data.displayResult" style="--padding-start:20px;--inner-padding-end:15px;"
    (click)="data.playobj(p)">
      <ion-thumbnail slot="start"
      style="display: flex;justify-content: center;align-items: center;">
        <img style="border-radius: 10px;" 
          defaultImage="assets/img/default.jpg" 
          lazyLoad="https://reddah.blob.core.windows.net/msjjpoet/{{p.author}}.jpeg" 
          onerror="javascript:this.src='assets/img/default.jpg'"
          [ngStyle]="{'opacity':(data.currentPoem&&p.audio&&p.id === data.currentPoem.id) ? '0.5' : '1' }" />
        <div class="playing" style="position: fixed;" *ngIf="data.currentPoem&&p.audio&&p.id === data.currentPoem.id"
          [ngStyle]="{'animation-duration':(data.isPlaying) ? '1s' : '1000s',
          'height':(data.isPlaying) ? '' : '5px' }"
        ></div>
      </ion-thumbnail>
      <ion-label>
        <h2 [innerHTML]="getHighlight(p)"></h2>
        <p style="margin-top:5px;display: flex;align-items: end;">
          {{p.author}}《{{p.title}}》
          <ion-icon name="mic-outline" *ngIf="p.audio" color="primary"></ion-icon>
        </p>
      </ion-label>
      <!--
      <ion-button fill="clear" slot="end">
        <ion-icon name="ellipsis-horizontal" color="medium"></ion-icon>
      </ion-button>-->
    </ion-item>
  </ion-list>
  <!--最近搜索
  <ion-list *ngIf="showFilter">
    <ion-item *ngFor="let p of displayResult" style="--padding-start:20px;--inner-padding-end:0px;">
      <ion-thumbnail slot="start">
        <img style="border-radius: 10px;" src="https://reddah.blob.core.windows.net/msjjimg/smart.jpg"  />
      </ion-thumbnail>
      <ion-label>
        <h2>{{p.title}} - {{p.author}}</h2>
        <p>{{p.sample}}</p>
      </ion-label>
    </ion-item>
  </ion-list>
-->

  <ion-card *ngIf="!data.showFilter&&data.showRatingsAndReviews">
    <ion-card-content style="z-index:1;position:fixed;width:100%;padding-top:10px;padding-right:10px;">
      <ion-buttons style="display:flex;justify-content:center;width:30px;height:30px;float:right;background-color:rgba(207,207,296,0.5);border-radius: 50%;" 
      (click)="data.closeRatings()">
        <ion-button color="light">
          <ion-icon name="close-outline"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-card-content>
    <img defaultImage="" 
      lazyLoad="https://reddah.blob.core.windows.net/msjjimg/chalk-4829602_1280.jpg" />
    <ion-card-header>
      <ion-card-title style="text-align: center;font-size:22px;">{{ ui.instant('Feedback.Title') }}<!--您的点赞，是我前行的动力--></ion-card-title>
    </ion-card-header>

    <ion-card-content style="text-align: center;font-weight: light;color:black;">
      {{ ui.instant('Feedback.Sub') }}<!--去给名诗佳作点个赞吧-->
    </ion-card-content>

    <ion-card-content style="text-align: center;display: flex;justify-content: center;" (click)="data.RatingsAndReviews();">
      <ion-button color="primary" style="width:80%;">{{ ui.instant('Feedback.Go') }}<!--立即评价--></ion-button>
    </ion-card-content>
  </ion-card>

  <ion-card *ngIf="!data.showFilter&&showSubscription">
    <ion-card-content style="z-index:1;position:fixed;width:100%;padding-top:10px;padding-right:10px;">
      <ion-buttons style="display:flex;justify-content:center;width:30px;height:30px;float:right;background-color:rgba(207,207,296,0.5);border-radius: 50%;" 
      (click)="closeSub()">
        <ion-button color="light">
          <ion-icon name="close-outline"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-card-content>
    <img defaultImage=""
      lazyLoad="https://reddah.blob.core.windows.net/msjjimg/{{data.subscriptionImage}}.jpg" />
    <ion-card-header>
      <ion-card-title style="text-align: center;font-size:22px;">
        {{ ui.instant('Sub.Title') }}<!--畅享名诗佳句，全无广告干扰-->
      </ion-card-title>
    </ion-card-header>
  
    <ion-card-content style="text-align: center;font-weight: light;color:black;">
      {{ ui.instant('Sub.Content') }}<!--方案将以￥5.00/月的价格自动续期-->
    </ion-card-content>

    <ion-card-content style="text-align: center;display: flex;justify-content: center;">
      <ion-button color="primary" style="width:80%;">
        {{ ui.instant('Sub.BuyNow') }}<!--立即体验-->
      </ion-button>
    </ion-card-content>
  </ion-card>


  <div *ngIf="!data.showFilter">
    <ion-card-content style="padding-left:15px;padding-top:0;padding-bottom: 15px;">
      <ion-card-title style="font-size: 20px;">{{ ui.instant('Title.BrowseCategories') }}<!--类别浏览--></ion-card-title>
    </ion-card-content>
  </div>

<!--
  <div style="display: grid;grid-template-columns: repeat(2, 1fr);grid-gap:0px;padding:0 10px;">
    <ion-card *ngFor="let topic of this.data.searchTopicData" 
    style="margin:5px;
    background-image: url('{{topic.image}}');
    background-size:auto;"
    [ngClass]="{'gray-mask': currentLpId === topic.id }"
    id="{{topic.id}}"
    (click)="goToTopic(topic.id)"
    ion-long-press (pressed)="pressed(topic.id)" (longPressed)="active(topic.id)" (pressEnded)="released(topic.id)"
    >
      <div>
        <div style="margin:5px;
        background-image: url('{{topic.image}}');
        background-size:auto;"></div>
      </div>
      <ion-card-header>
        <ion-card-title>&nbsp;</ion-card-title>
        <ion-card-subtitle>&nbsp;</ion-card-subtitle>
      </ion-card-header>
    
      <ion-card-content style="color:white;padding-left:10px;padding-bottom:10px;"> {{topic.name}} </ion-card-content>
    </ion-card>
  </div>
-->
  <!--[ngStyle]="{'-webkit-filter':currentLpId === topic.id ? 'blur(1px)' : '' }"-->
  <!--(longPressed)="active(topic.id)" -->
  <!---->
  <div style="display: grid;grid-template-columns: repeat({{ui.isipad?3:2}}, 1fr);grid-gap:0px;padding:0 10px;"
  *ngIf="!data.showFilter">
    <ion-card *ngFor="let topic of this.data.searchTopicData"
      defaultImage="" 
      lazyLoad="{{topic.image}}" 
      style="margin:5px;
      background-size:cover;background-color:{{data.getbgcolor()}}"
      class="search-tile-img"
      id="{{topic.id}}"
      (click)="data.goToTopic(topic.id)"
      ion-long-press 
      (pressed)="pressed(topic.id)" 
      (longPressed)="active(topic.id)"
      (pressEnded)="released(topic.id)"
    >
      <ion-card-header [ngClass]="{'gray-mask': currentLpId === topic.id }">
        <ion-card-title>&nbsp;</ion-card-title>
        <ion-card-subtitle>&nbsp;</ion-card-subtitle>
      </ion-card-header>
      <ion-card-content 
      [ngClass]="{'gray-mask': currentLpId === topic.id }"
      style="color:white;padding-left:10px;padding-bottom:10px;"> 
        {{ (topic.i18n && topic.i18n[data.currentLocale]) ? 
          topic.i18n[data.currentLocale] : topic.name }}
      </ion-card-content>
    </ion-card>
  </div>





<!--
  <ion-toolbar style="--background: translucent;">
    <ion-card-content>
      <ion-card-title>最近查看的诗单</ion-card-title>
    </ion-card-content>
  </ion-toolbar>
  <div class="card-scroll">
    <ion-card-content style="padding-top:0;padding-bottom: 0;">
      <div class="card-scroll-box">
        <div class="card-scroll-item" *ngFor="let c of recentStations">
          <div class="card-image contain" style="background-image:{{c.src}};background-color:{{c.color}}"></div>
          <div class="card-text-recent">{{c.name}}</div>
        </div>
      </div>
    </ion-card-content>
  </div>

  <ion-toolbar style="--background: translucent;">
    <ion-card-content style="padding-bottom: 10px;">
      <ion-card-title>最近查看的诗词</ion-card-title>
    </ion-card-content>
  </ion-toolbar>
  <ion-list>
    <ion-item *ngFor="let song of data.queueData" style="margin-left:10px;" (click)="play(song)">
      <ion-avatar slot="start">
        <ion-img src="/assets/icon/icon.png" *ngIf="!song.selected"></ion-img>
        <ion-icon name="pulse-outline" size="large" *ngIf="song.selected"></ion-icon>
      </ion-avatar>
      <ion-label>
        <h2>{{song.name}}</h2>
        <p>{{song.desc}}</p>
      </ion-label>
    </ion-item>
  </ion-list>

  <ion-list>
    <ion-item>
      <ion-avatar slot="start">
        <ion-img src="/assets/icon/icon.png"></ion-img>
      </ion-avatar>
      <ion-label>
        <h2>设置</h2>
        <p>tab名称等</p>
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-avatar slot="start">
        <ion-img src="/assets/icon/icon.png"></ion-img>
      </ion-avatar>
      <ion-label>
        <h2>导入导出</h2>
        <p>歌单导入导出到其他设备</p>
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-avatar slot="start">
        <ion-img src="/assets/icon/icon.png"></ion-img>
      </ion-avatar>
      <ion-label>
        <h2>关于</h2>
        <p>声明</p>
      </ion-label>
    </ion-item>
    <ion-item (click)="testReset()">
      <ion-avatar slot="start">
        <ion-img src="/assets/icon/icon.png"></ion-img>
      </ion-avatar>
      <ion-label>
        <h2>test</h2>
        <p>test</p>
      </ion-label>
    </ion-item>
  </ion-list>





-->
  <!--AI template-->
  <div *ngIf="!data.showFilter">
    <ion-card-content style="padding-left:15px;padding-top:15px;padding-bottom: 15px;">
      <ion-card-title style="font-size: 20px;">{{ ui.instant('AI.Title') }}<!--AI诗词助手--></ion-card-title>
    </ion-card-content>
  </div>
  <div style="display: flex;flex-wrap: wrap;justify-content: center;" *ngIf="!data.showFilter">
    <ion-card class="card card-gif" card-shrink (click)="chat()"
      defaultImage="" 
      lazyLoad="/assets/img/faq.png"
      style="background-size:cover;"
    >
        <ion-card-content>
          <ion-card-subtitle class="card-text" style="font-size: 18px;color:black;"><!--功夫在诗外--></ion-card-subtitle>
          <ion-card-title class="card-text" style="color:black;"><!--AI诗词助手--></ion-card-title>
        </ion-card-content>
    </ion-card>
  </div>



  <div class="placeholder-playbox"></div>
</ion-content>
