
<ion-card-content *ngIf="ui.isipad" 
style="z-index:100;position:fixed;width:100%;padding-inline-start:20px;padding-top:30px;">
  <ion-buttons style="display:flex;justify-content:center;width:25px;height:25px;float:left;">
    <ion-menu-toggle>
      <ion-icon name="menu-outline" color="primary" size="large"></ion-icon>
    </ion-menu-toggle>
  </ion-buttons>
</ion-card-content>
<ion-menu type="reveal" content-id="main-content" ><!--[disabled]="ui.isiphone"-->
  <ion-header [translucent]="true">
    <ion-toolbar>
      <ion-title>{{ ui.instant('Title.App') }}<!--名诗佳句--></ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content class="ion-padding">
    <ion-header collapse="condense">
      <ion-toolbar>
        <ion-label style="font-size:20px;margin-left:0px;">{{ ui.instant('Title.App') }}<!--名诗佳句--></ion-label>
      </ion-toolbar>
    </ion-header>
    <ion-list>
      <ion-item lines="none" (click)="goTab(1)" class="menu-item" color="primary" *ngIf="isSelected(1)">
        <ion-icon name="play-circle" class="menu-icon"></ion-icon>
        <ion-label class="menu-text">{{ ui.instant('Tabs.ListenNow') }}<!--现在就听--></ion-label>
      </ion-item>
      <ion-item lines="none" (click)="goTab(1)" class="menu-item" *ngIf="!isSelected(1)">
        <ion-icon name="play-circle" class="menu-icon" color="primary"></ion-icon>
        <ion-label class="menu-text">{{ ui.instant('Tabs.ListenNow') }}<!--现在就听--></ion-label>
      </ion-item>
      <ion-item lines="none" (click)="goTab(2)" class="menu-item" color="primary" *ngIf="isSelected(2)">
        <ion-icon name="radio-outline" class="menu-icon"></ion-icon>
        <ion-label class="menu-text">{{ ui.instant('Tabs.Browse') }}<!--浏览--></ion-label>
      </ion-item>
      <ion-item lines="none" (click)="goTab(2)" class="menu-item" *ngIf="!isSelected(2)">
        <ion-icon name="radio-outline" class="menu-icon" color="primary"></ion-icon>
        <ion-label class="menu-text">{{ ui.instant('Tabs.Browse') }}<!--浏览--></ion-label>
      </ion-item>
      <ion-item lines="none" (click)="goTab(4)" class="menu-item" color="primary" *ngIf="isSelected(4)">
        <ion-icon name="search-outline" class="menu-icon"></ion-icon>
        <ion-label class="menu-text">{{ ui.instant('Tabs.Search') }}<!--搜索--></ion-label>
      </ion-item>
      <ion-item lines="none" (click)="goTab(4)" class="menu-item" *ngIf="!isSelected(4)">
        <ion-icon name="search-outline" class="menu-icon" color="primary" *ngIf="!isSelected(4)"></ion-icon>
        <ion-label class="menu-text">{{ ui.instant('Tabs.Search') }}<!--搜索--></ion-label>
      </ion-item>
    </ion-list>

    <ion-accordion-group [multiple]="true" [value]="['first']">
      <ion-accordion value="first">
        <ion-item slot="header" color="translucent" style="--padding-start:5px;">
          <ion-label style="font-size:20px;margin-left:0px;">
            {{ ui.instant('Tabs.Library') }}<!--诗词库-->
          </ion-label>
        </ion-item>
        <div class="ion-no-padding" slot="content">
          <ion-item lines="none" (click)="goSub(0)" class="menu-item" color="primary" *ngIf="isSubSelected(0)">
            <ion-icon name="list-outline" class="menu-icon"></ion-icon>
            <ion-label class="menu-text">{{ ui.instant('Lib.Poemlists') }}<!--诗单列表--></ion-label>
          </ion-item>
          <ion-item lines="none" (click)="goSub(0)" class="menu-item" *ngIf="!isSubSelected(0)">
            <ion-icon name="list-outline" class="menu-icon" color="primary"></ion-icon>
            <ion-label class="menu-text">{{ ui.instant('Lib.Poemlists') }}<!--诗单列表--></ion-label>
          </ion-item>
          <ion-item lines="none" (click)="goSub(2)" class="menu-item" color="primary" *ngIf="isSubSelected(2)">
            <ion-icon name="people-outline" class="menu-icon"></ion-icon>
            <ion-label class="menu-text">{{ ui.instant('Lib.Poets') }}<!--诗人--></ion-label>
          </ion-item>
          <ion-item lines="none" (click)="goSub(2)" class="menu-item" *ngIf="!isSubSelected(2)">
            <ion-icon name="people-outline" class="menu-icon" color="primary"></ion-icon>
            <ion-label class="menu-text">{{ ui.instant('Lib.Poets') }}<!--诗人--></ion-label>
          </ion-item>
          <ion-item lines="none" (click)="goSub(1)" class="menu-item" color="primary" *ngIf="isSubSelected(1)">
            <ion-icon name="list-outline" class="menu-icon"></ion-icon>
            <ion-label class="menu-text">{{ ui.instant('Lib.Albums') }}<!--专辑--></ion-label>
          </ion-item>
          <ion-item lines="none" (click)="goSub(1)" class="menu-item" *ngIf="!isSubSelected(1)">
            <ion-icon name="list-outline" class="menu-icon" color="primary"></ion-icon>
            <ion-label class="menu-text">{{ ui.instant('Lib.Albums') }}<!--专辑--></ion-label>
          </ion-item>
          <ion-item lines="none" (click)="goSub(3)" class="menu-item" color="primary" *ngIf="isSubSelected(3)">
            <ion-icon name="book-outline" class="menu-icon"></ion-icon>
            <ion-label class="menu-text">{{ ui.instant('Lib.Poems') }}<!--诗词--></ion-label>
          </ion-item>
          <ion-item lines="none" (click)="goSub(3)" class="menu-item" *ngIf="!isSubSelected(3)">
            <ion-icon name="book-outline" class="menu-icon" color="primary"></ion-icon>
            <ion-label class="menu-text">{{ ui.instant('Lib.Poems') }}<!--诗词--></ion-label>
          </ion-item>
          <ion-item lines="none" (click)="goSub(4)" class="menu-item" color="primary" *ngIf="isSubSelected(4)">
            <ion-icon name="layers-outline" class="menu-icon"></ion-icon>
            <ion-label class="menu-text">{{ ui.instant('Lib.Topics') }}<!--主题--></ion-label>
          </ion-item>
          <ion-item lines="none" (click)="goSub(4)" class="menu-item" *ngIf="!isSubSelected(4)">
            <ion-icon name="layers-outline" class="menu-icon" color="primary"></ion-icon>
            <ion-label class="menu-text">{{ ui.instant('Lib.Topics') }}<!--主题--></ion-label>
          </ion-item>
          <ion-item lines="none" (click)="goSub(5)" class="menu-item" color="primary" *ngIf="isSubSelected(5)">
            <ion-icon name="star" class="menu-icon"></ion-icon>
            <ion-label class="menu-text">{{ ui.instant('Lib.Articles') }}<!--文章--></ion-label>
          </ion-item>
          <ion-item lines="none" (click)="goSub(5)" class="menu-item" *ngIf="!isSubSelected(5)">
            <ion-icon name="star" class="menu-icon" color="primary"></ion-icon>
            <ion-label class="menu-text">{{ ui.instant('Lib.Articles') }}<!--文章--></ion-label>
          </ion-item>
        </div>
      </ion-accordion>
      <!--
      <ion-accordion value="second">
        <ion-item slot="header" color="translucent" style="--padding-start:5px;">
          <ion-label style="font-size:20px;margin-left:0px;">诗单</ion-label>
        </ion-item>
        <div class="ion-no-padding" slot="content">
          <ion-item lines="none" (click)="goTab(1)" class="menu-item" color="primary" *ngIf="isSelected(1)">
            <ion-icon name="book-outline" class="menu-icon"></ion-icon>
            <ion-label class="menu-text">开卷有益</ion-label>
          </ion-item>
          <ion-item lines="none" (click)="goTab(1)" class="menu-item" *ngIf="!isSelected(1)">
            <ion-icon name="book-outline" class="menu-icon" color="primary"></ion-icon>
            <ion-label class="menu-text">开卷有益</ion-label>
          </ion-item>
          <ion-item lines="none" (click)="goTab(2)" class="menu-item" color="primary" *ngIf="isSelected(2)">
            <ion-icon name="play-circle" class="menu-icon"></ion-icon>
            <ion-label class="menu-text">现在就听</ion-label>
          </ion-item>
          <ion-item lines="none" (click)="goTab(2)" class="menu-item" *ngIf="!isSelected(2)">
            <ion-icon name="play-circle" class="menu-icon" color="primary"></ion-icon>
            <ion-label class="menu-text">现在就听</ion-label>
          </ion-item>
          <ion-item lines="none" (click)="goTab(4)" class="menu-item" color="primary" *ngIf="isSelected(4)">
            <ion-icon name="search-outline" class="menu-icon"></ion-icon>
            <ion-label class="menu-text">搜索</ion-label>
          </ion-item>
          <ion-item lines="none" (click)="goTab(4)" class="menu-item" *ngIf="!isSelected(4)">
            <ion-icon name="search-outline" class="menu-icon" color="primary" *ngIf="!isSelected(4)"></ion-icon>
            <ion-label class="menu-text">搜索</ion-label>
          </ion-item>
        </div>
      </ion-accordion>
      -->
    </ion-accordion-group>
  </ion-content>
</ion-menu>

<ion-tabs id="main-content" (ionTabsDidChange)="onTabChange($event)">
  <div class="music-tab-bar" style="display: flex;flex-direction: column;">
    <!--<ion-toolbar style="--background:rgba(var(--ion-background-color-rgb,255,255,255),0.8);-webkit-backdrop-filter:saturate(210%) blur(20px);backdrop-filter:saturate(210%) blur(20px);">-->
    <ion-toolbar style="--background:rgba(255,255,255,0.8);" *ngIf="data.currentPoem">
      <ion-buttons slot="start" expand="block" style="width:100%;" (click)="data.play()">
        <div class="play-icon-box" *ngIf="data.currentPoem">
          <img style="min-width: 40px;aspect-ratio: 1;border-radius: 5px;" 
            defaultImage="assets/img/default.jpg" 
            lazyLoad="https://reddah.blob.core.windows.net/msjjpoet/{{data.currentPoem.author}}.jpeg" 
            onerror="javascript:this.src='assets/img/default.jpg'"
          />
        </div>
        <!--
        <div style="font-size:18px;width:100%;font-weight: normal;
        overflow: hidden;text-overflow: ellipsis;max-height: 30px;
        color:black;
        display: -webkit-box;
        -webkit-box-orient:vertical;
        -webkit-line-clamp:1;">
          《{{data.currentPoem.title}}》
        </div>-->
        <!--data.currentPoem.paragraphs[0]-->
        <div class="marquee-container">
          <div class="marquee-content">
            《{{data.currentPoem.title}}》
          </div>
        </div>
      </ion-buttons>
      <ion-buttons slot="end" *ngIf="data.currentPoem.audio" style="margin-right:5px;">
        <ion-button (click)="data.togglePlay()">
          <ion-icon name="play" style="color:black;" *ngIf="!data.isPlaying"></ion-icon>
          <ion-icon name="pause" style="color:black;" *ngIf="data.isPlaying" ></ion-icon>
        </ion-button>
        <ion-button [disabled]="false" (click)="data.playNext()">
          <ion-icon name="play-forward" style="color:black;"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-toolbar>

    <ion-tab-bar slot="bottom" [translucent]="false" 
    *ngIf="!ui.isipad" style="padding-top:3px;"
    [ngStyle]="{
      'padding-bottom':ui.isAndroid ? '10px' : '25px',
      'background': ui.isAndroid ? '#fff' : ''
     }"
    >
     
      <ion-tab-button tab="tab1" style="--background: transparent;"
      (click)="onDblClick()">
        <ion-icon name="play-circle"></ion-icon>
        {{ ui.instant('Tabs.ListenNow') }}<!--现在就听-->
        <!--
        <ion-icon name="today-outline"></ion-icon>
        {{ ui.instant('Tabs.Discovery') }}!--开卷有益-->
      </ion-tab-button>
      <ion-tab-button tab="tab2" style="--background: transparent;"
       [class.active]="true"
      (click)="onDblClick()">
        <ion-icon name="radio-outline"></ion-icon>
        {{ ui.instant('Tabs.Browse') }}<!--浏览-->
      </ion-tab-button>
      <ion-tab-button tab="tab3" style="--background: transparent;"
      (click)="onDblClick()">
        <ion-icon name="musical-notes"></ion-icon>
        {{ ui.instant('Tabs.Library') }}<!--诗词库-->
      </ion-tab-button>
      <ion-tab-button tab="tab4" style="--background: transparent;"
      (click)="tab4Click();onDblClick()">
        <ion-icon name="search-outline"></ion-icon>
        {{ ui.instant('Tabs.Search') }}<!--搜索-->
      </ion-tab-button>

      <!--
       <ion-tab-button tab="tab5" style="--background: transparent;"
      (click)="onDblClick()">
        <ion-icon name="play-circle"></ion-icon>
        {{ ui.instant('Tabs.ListenNow') }}!--现在就听--
      </ion-tab-button>
      -->
    </ion-tab-bar>
  </div>
</ion-tabs>


