
<ion-card-content *ngIf="ui.isipad" 
style="z-index:100;position:fixed;width:100%;padding-inline-start:20px;padding-top:30px;">
  <ion-buttons style="display:flex;justify-content:center;width:25px;height:25px;float:left;">
    <ion-menu-toggle>
      <ion-icon name="menu-outline" color="primary" size="large"></ion-icon>
    </ion-menu-toggle>
  </ion-buttons>
</ion-card-content>
<ion-menu type="reveal" content-id="main-content">
  <ion-header [translucent]="true">
    <ion-toolbar>
      <ion-title>诗和远方</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content class="ion-padding">
    <ion-header collapse="condense">
      <ion-toolbar>
        <ion-label style="font-size:20px;margin-left:0px;">诗和远方</ion-label>
      </ion-toolbar>
    </ion-header>
    <ion-list>
      <ion-item lines="none" (click)="goTab(1)" class="menu-item" color="primary" *ngIf="isSelected(1)">
        <ion-icon name="book-outline" class="menu-icon"></ion-icon>
        <ion-label class="menu-text">现在就看</ion-label>
      </ion-item>
      <ion-item lines="none" (click)="goTab(1)" class="menu-item" *ngIf="!isSelected(1)">
        <ion-icon name="book-outline" class="menu-icon" color="primary"></ion-icon>
        <ion-label class="menu-text">现在就看</ion-label>
      </ion-item>
      <ion-item lines="none" (click)="goTab(2)" class="menu-item" color="primary" *ngIf="isSelected(2)">
        <ion-icon name="radio-outline" class="menu-icon"></ion-icon>
        <ion-label class="menu-text">广播</ion-label>
      </ion-item>
      <ion-item lines="none" (click)="goTab(2)" class="menu-item" *ngIf="!isSelected(2)">
        <ion-icon name="radio-outline" class="menu-icon" color="primary"></ion-icon>
        <ion-label class="menu-text">广播</ion-label>
      </ion-item>
      <ion-item lines="none" (click)="goTab(4)" class="menu-item" color="primary" *ngIf="isSelected(4)">
        <ion-icon name="search-outline" class="menu-icon"></ion-icon>
        <ion-label class="menu-text">搜索</ion-label>
      </ion-item>
      <ion-item lines="none" (click)="goTab(4)" class="menu-item" *ngIf="!isSelected(4)">
        <ion-icon name="search-outline" class="menu-icon" color="primary" *ngIf="!isSelected(4)"></ion-icon>
        <ion-label class="menu-text">搜索</ion-label>
      </ion-item>
    </ion-list>

    <ion-accordion-group [multiple]="true" [value]="['first']">
      <ion-accordion value="first">
        <ion-item slot="header" color="translucent" style="--padding-start:5px;">
          <ion-label style="font-size:20px;margin-left:0px;">诗词库</ion-label>
        </ion-item>
        <div class="ion-no-padding" slot="content">
          <ion-item lines="none" (click)="goSub(1)" class="menu-item" color="primary" *ngIf="isSubSelected(1)">
            <ion-icon name="list-outline" class="menu-icon"></ion-icon>
            <ion-label class="menu-text">诗单</ion-label>
          </ion-item>
          <ion-item lines="none" (click)="goSub(1)" class="menu-item" *ngIf="!isSubSelected(1)">
            <ion-icon name="list-outline" class="menu-icon" color="primary"></ion-icon>
            <ion-label class="menu-text">诗单</ion-label>
          </ion-item>
          <ion-item lines="none" (click)="goSub(2)" class="menu-item" color="primary" *ngIf="isSubSelected(2)">
            <ion-icon name="people-outline" class="menu-icon"></ion-icon>
            <ion-label class="menu-text">诗人</ion-label>
          </ion-item>
          <ion-item lines="none" (click)="goSub(2)" class="menu-item" *ngIf="!isSubSelected(2)">
            <ion-icon name="people-outline" class="menu-icon" color="primary"></ion-icon>
            <ion-label class="menu-text">诗人</ion-label>
          </ion-item>
          <ion-item lines="none" (click)="goSub(3)" class="menu-item" color="primary" *ngIf="isSubSelected(3)">
            <ion-icon name="book-outline" class="menu-icon"></ion-icon>
            <ion-label class="menu-text">诗词</ion-label>
          </ion-item>
          <ion-item lines="none" (click)="goSub(3)" class="menu-item" *ngIf="!isSubSelected(3)">
            <ion-icon name="book-outline" class="menu-icon" color="primary"></ion-icon>
            <ion-label class="menu-text">诗词</ion-label>
          </ion-item>
          <ion-item lines="none" (click)="goSub(4)" class="menu-item" color="primary" *ngIf="isSubSelected(4)">
            <ion-icon name="layers-outline" class="menu-icon"></ion-icon>
            <ion-label class="menu-text">类型</ion-label>
          </ion-item>
          <ion-item lines="none" (click)="goSub(4)" class="menu-item" *ngIf="!isSubSelected(4)">
            <ion-icon name="layers-outline" class="menu-icon" color="primary"></ion-icon>
            <ion-label class="menu-text">类型</ion-label>
          </ion-item>
        </div>
      </ion-accordion>
      <ion-accordion value="second">
        <ion-item slot="header" color="translucent" style="--padding-start:5px;">
          <ion-label style="font-size:20px;margin-left:0px;">诗单</ion-label>
        </ion-item>
        <div class="ion-no-padding" slot="content">
          <ion-item lines="none" (click)="goTab(1)" class="menu-item" color="primary" *ngIf="isSelected(1)">
            <ion-icon name="book-outline" class="menu-icon"></ion-icon>
            <ion-label class="menu-text">现在就看</ion-label>
          </ion-item>
          <ion-item lines="none" (click)="goTab(1)" class="menu-item" *ngIf="!isSelected(1)">
            <ion-icon name="book-outline" class="menu-icon" color="primary"></ion-icon>
            <ion-label class="menu-text">现在就看</ion-label>
          </ion-item>
          <ion-item lines="none" (click)="goTab(2)" class="menu-item" color="primary" *ngIf="isSelected(2)">
            <ion-icon name="radio-outline" class="menu-icon"></ion-icon>
            <ion-label class="menu-text">广播</ion-label>
          </ion-item>
          <ion-item lines="none" (click)="goTab(2)" class="menu-item" *ngIf="!isSelected(2)">
            <ion-icon name="radio-outline" class="menu-icon" color="primary"></ion-icon>
            <ion-label class="menu-text">广播</ion-label>
          </ion-item>
          <ion-item lines="none" (click)="goTab(4)" class="menu-item" color="primary" *ngIf="isSelected(4)">
            <ion-icon name="search-outline" class="menu-icon"></ion-icon>
            <ion-label class="menu-text">搜索</ion-label>
          </ion-item>
          <ion-item lines="none" (click)="goTab(4)" class="menu-item" *ngIf="!isSelected(4)">
            <ion-icon name="search-outline" class="menu-icon" color="primary" *ngIf="!isSelected(4)"></ion-icon>
            <ion-label class="menu-text">搜索</ion-label>
          </ion-item>
        </div>
      </ion-accordion>
    </ion-accordion-group>
  </ion-content>
</ion-menu>

<ion-tabs id="main-content">
  <div class="music-tab-bar" style="display: flex;flex-direction: column;">
  
      <ion-modal class="modal-fullscreen" #modal trigger="open-modal" [initialBreakpoint]=".5" [breakpoints]="[0, .5, .75, 1]">
        <ng-template>
            <ion-list id="TodaysCard" style="display: flex;flex-direction: column;justify-content: flex-start;margin-top:30px;">
              
              <ion-item lines="none">
                <div style="width: 100%; text-align:center;font-size:20px;font-weight: normal;">
                  {{data.currenttitle}}
                </div>
              </ion-item>

              <ion-item lines="none">
                <div style="width: 100%; text-align:center;font-size:18px;font-weight: normal;">
                  {{data.currentauthor}}
                </div>
              </ion-item>

              <ion-item *ngFor="let text of data.qlyric;index as i" lines="none">
                <div style="width: 100%; text-align:center;font-size:18px;font-weight: normal;">
                  {{text}}
                </div>
              </ion-item>
              
            </ion-list>





            <ion-list style="margin-top:0px;z-index: 1;bottom:0;position: fixed;width: 100%;">

              <!--
              <ion-item lines="none">
                <ion-text slot="start" style="margin-left:20px;" *ngIf="!dragWhere">{{formatTime(data.currentTime)}}</ion-text>
                <ion-text slot="start" style="margin-left:20px;" *ngIf="dragWhere">{{formatTime(dragvalue)}}</ion-text>
                <div style="font-size: 18px;width: 100%;text-align: center;">{{data.displaySongName}}</div>
                <ion-text slot="end" style="margin-right:20px;">{{formatTime(this.data.audio&&this.data.audio.duration??this.data.audio.duration)}}</ion-text>
              </ion-item>

              
              <ion-item lines="none">
                <ion-range min="0" [max]="data.duration" step="1" [value]="data.currentTime"
                  style="margin:10px 20px;"
                  color="primary"
                  (ionInput)="test($event)"
                  (ionChange)="onChange($event)"
                  (ionKnobMoveStart)="onDragStart($event)" 
                  (ionKnobMoveEnd)="onDragEnd($event)">
                </ion-range>
              </ion-item>-->
          

              <div style="display: flex;justify-content: space-around;height:120px;">
                <!--
                <ion-buttons>
                  <ion-button [disabled]="isFirstPlaying()" (click)="previous()" size="large">
                    <ion-icon name="play-back"></ion-icon>
                  </ion-button>
                </ion-buttons>
                <ion-buttons>
                  <ion-button (click)="start()" size="large">
                    <ion-icon name="share-outline" size="large"></ion-icon>
                  </ion-button>
                </ion-buttons>
                <ion-buttons>
                  <ion-button [disabled]="isLastPlaying()" (click)="next()" size="large">
                    <ion-icon name="play-forward"></ion-icon>
                  </ion-button>
                </ion-buttons>
                -->
                <ion-buttons>
                  <ion-button [disabled]="isFirstPlaying()" (click)="prev()" size="large">
                    <ion-icon name="play-back-outline"></ion-icon>
                  </ion-button>
                </ion-buttons>
                <ion-buttons>
                  <ion-button [disabled]="isLastPlaying()" (click)="next()" size="large">
                    <ion-icon name="play-forward-outline"></ion-icon>
                  </ion-button>
                </ion-buttons>
              </div>

            </ion-list>

        </ng-template>
      </ion-modal>

      <!--<ion-toolbar style="--background:rgba(255,255,255,0.8);" id="open-modal" expand="block">-->
      <!--<ion-toolbar style="--background:rgba(255,255,255,0.8);" (click)="goPlay()">-->
      <ion-toolbar style="--background:rgba(var(--ion-background-color-rgb,255,255,255),0.8);-webkit-backdrop-filter:saturate(210%) blur(20px);backdrop-filter:saturate(210%) blur(20px);">
        <ion-buttons slot="start" id="open-modal" expand="block" style="width:100%;">
          <div class="play-icon-box">
            <ion-icon name="leaf-outline" style="font-size:25px;"></ion-icon>
          </div>
          <ion-card-title style="font-size:20px;width:100%;">今日诗词</ion-card-title>
        </ion-buttons>
        <ion-buttons slot="end" style="display:none;">
          
          <ion-button [disabled]="false" (click)="next()">
            <ion-icon name="play-forward" color="dark"></ion-icon>
          </ion-button>
        </ion-buttons>
      </ion-toolbar>

    <ion-tab-bar slot="bottom" [translucent]="true" *ngIf="ui.isiphone">
      <ion-tab-button tab="tab1" style="--background: transparent;">
        <ion-icon name="book-outline"></ion-icon>
        现在就看
      </ion-tab-button>
      <ion-tab-button tab="tab2">
        <ion-icon name="radio"></ion-icon>
        诗单
      </ion-tab-button>
      <ion-tab-button tab="tab3">
        <ion-icon name="library-outline"></ion-icon>
        诗词库
      </ion-tab-button>
      <ion-tab-button tab="tab4">
        <ion-icon name="search-outline"></ion-icon>
        搜索
      </ion-tab-button>
    </ion-tab-bar>
  </div>
  
  
    
    
</ion-tabs>
