
<ion-header [translucent]="true" *ngIf="listdata">
  <ion-toolbar *ngIf="!isEdit">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="" (click)="ui.goback()" [text]="''"></ion-back-button>
    </ion-buttons>
    <ion-title>{{listdata.name}}</ion-title>
    <ion-buttons slot="end">
      <ion-button slot="end" *ngIf="listdata&&!data.isliked(listdata,'customlist')"
      (click)="data.likelist(listdata,'customlist')"
      style="--background: rgb(247,247,247); --border-radius: 50%; width: 35px; height: 35px; --padding-start: 0; --padding-end: 0;">
        <ion-icon name="add-outline"></ion-icon>
      </ion-button>
      <ion-button slot="end" id="popover-button-list-{{data.currentTab}}"
      style="margin-left:10px;margin-right:15px; --background: rgb(247,247,247); --border-radius: 50%; width: 35px; height: 35px; --padding-start: 0; --padding-end: 0;">
        <ion-icon name="ellipsis-horizontal"></ion-icon>
      </ion-button>
      <ion-popover trigger="popover-button-list-{{data.currentTab}}" [dismissOnSelect]="true" arrow="false">
        <ng-template>
          <ion-content>
            <ion-list>
              <ion-item lines="full" [button]="true" [detail]="false" (click)="edit()">
                {{ ui.instant('Action.Edit')}}<!--编辑-->
                <ion-icon name="pencil-outline" slot="end"></ion-icon>
              </ion-item>
              <ion-item lines="full" [button]="true" [detail]="false"
              *ngIf="data.isliked(listdata,'customlist')" 
              (click)="data.unlikelist(listdata,'customlist')">
                <ion-text color="danger">{{ ui.instant('Action.DelFromLib')}}<!--从诗词库中删除--></ion-text>
                <ion-icon name="trash-outline" slot="end" color="danger"></ion-icon>
              </ion-item>
              <!--
              <ion-item lines="full" [button]="true" [detail]="false">
                分享
                <ion-icon name="share-outline" slot="end"></ion-icon>
              </ion-item>-->
            </ion-list>
          </ion-content>
        </ng-template>
      </ion-popover>
    </ion-buttons>
  </ion-toolbar>
  <ion-toolbar *ngIf="isEdit">
    <ion-buttons slot="start">
        <ion-button color="primary" (click)="cancel()">{{ ui.instant('Action.Cancel')}}<!--取消--></ion-button>
    </ion-buttons>
    <ion-title>{{listdata.name}}</ion-title>
    <ion-buttons slot="end">
        <ion-button color="primary" (click)="save()" [strong]="true">{{ ui.instant('Action.Done')}}<!--完成--></ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" *ngIf="listdata">
  <ion-header collapse="{{ui.isIos?'condense':'fade'}}" style="box-shadow: none;">
    <ion-toolbar><!--搜索-->
      <ion-searchbar placeholder="{{ ui.instant('Action.Search')}}"
      style="padding-left:15px;margin-top:15px;"
      [(ngModel)]="searchText"
      (ionFocus)="onSearchFocus()"
      (ionCancel)="onSearchCancel()"
      (ionInput)="onSearchChanged()"
      ></ion-searchbar>


      <div *ngIf="!isEdit" style="display: grid;position: relative;">
        <ion-card *ngIf="listdata.customimage"
          defaultImage="" 
          lazyLoad="{{listdata.customimage}}"
          (click)="ui.imageviewer(listdata.customimage)"
          style="margin:auto;width:250px;height:250px;
            background-size:cover;
            background-repeat: no-repeat;
            border-radius: 10px;">
        </ion-card>

        <ion-card *ngIf="!listdata.customimage&&listdata.image&&listdata.image.length>=4"
          style="margin:auto;width:250px;height:250px;
          background-color: {{listdata.color}};
          border: 1px solid rgba(247,247,247);
          border-radius: 10px;
          display: grid;
          grid-gap:0px;
          justify-content: space-evenly;
          align-content: space-evenly;
          grid-template-columns: repeat(2, 124px);
          grid-template-rows: repeat(2, 124px);
          overflow: hidden;">
          <div *ngFor="let i of [0,1,2,3]"
            defaultImage="" 
            lazyLoad="{{listdata.image[i]}}"
            style="
              background-size:cover;
              background-repeat: no-repeat;"
          ></div>
        </ion-card>
        <ion-card *ngIf="!listdata.customimage&&listdata.image&&listdata.image.length<4&&listdata.image.length>0"
          defaultImage="" 
          lazyLoad="{{listdata.image[0]}}"
          style="margin:auto;width:250px;height:250px;
            background-size:cover;
            background-repeat: no-repeat;
            border-radius: 10px;">
        </ion-card>
        <ion-card *ngIf="!listdata.customimage&&listdata.image&&listdata.image.length==0"
          style="margin:auto;width:250px;height:250px;
            background-color: {{listdata.color}};background-size:cover;
            background-repeat: no-repeat;
            border-radius: 10px;">
        </ion-card>
      </div>
      <div *ngIf="isEdit">
        <swiper-container style="width:100%;height:250px;" 
        pagination="true" #swiperpickimg class=".swiperpickimg"
        slides-per-view="1.1" centered-slides="true"
        swiper-touch
        >
          <swiper-slide style="display: grid;position: relative;">
            <ion-card *ngIf="!listdata.customimage&&listdata.image&&listdata.image.length>=4"
              style="margin:auto;width:250px;height:250px;
              background-color: {{listdata.color}};
              border: 1px solid rgba(247,247,247);
              border-radius: 10px;
              display: grid;
              grid-gap:0px;
              justify-content: space-evenly;
              align-content: space-evenly;
              grid-template-columns: repeat(2, 124px);
              grid-template-rows: repeat(2, 124px);
              overflow: hidden;">
              <div *ngFor="let i of [0,1,2,3]"
                defaultImage="" 
                lazyLoad="{{listdata.image[i]}}"
                style="
                  background-size:cover;
                  background-repeat: no-repeat;"
              ></div>
            </ion-card>
            <ion-card *ngIf="!listdata.customimage&&listdata.image&&listdata.image.length<4&&listdata.image.length>0"
              defaultImage="" 
              lazyLoad="{{listdata.image[0]}}"
              style="margin:auto;width:250px;height:250px;
                background-size:cover;
                background-repeat: no-repeat;
                border-radius: 10px;">
            </ion-card>
            <ion-card *ngIf="!listdata.customimage&&listdata.image&&listdata.image.length==0"
              style="margin:auto;width:250px;height:250px;
                background-color: {{listdata.color}};background-size:cover;
                background-repeat: no-repeat;
                border-radius: 10px;">
            </ion-card>
            <ion-card *ngIf="listdata.customimage"
              defaultImage="" 
              lazyLoad="{{listdata.customimage}}"
              style="margin:auto;width:250px;height:250px;
                background-size:cover;
                background-repeat: no-repeat;
                border-radius: 10px;">
              </ion-card>
            <div style="position: fixed;display:flex;justify-content: center;
            align-items: center;width: 100%;height: 250px;">
              <ion-buttons id="chooseimg">
                <button style="padding:5px;border-radius: 5px;">
                  <ion-icon name="camera" size="large"></ion-icon>
                </button>
              </ion-buttons>
              <ion-popover trigger="chooseimg" [dismissOnSelect]="true" arrow="false">
                <ng-template>
                  <ion-content>
                    <ion-list>
                      <ion-item lines="full" [button]="true" [detail]="false" 
                      (click)="data.addNewToGallery(listdata,'camera')">
                        {{ ui.instant('Action.Camera')}}<!--拍照-->
                        <ion-icon name="camera-outline" slot="end"></ion-icon>
                      </ion-item>
                      <ion-item lines="full" [button]="true" [detail]="false" 
                      (click)="data.addNewToGallery(listdata,'photos')">
                        {{ ui.instant('Action.Albums')}}<!--相册-->
                        <ion-icon name="image-outline" slot="end"></ion-icon>
                      </ion-item>
                    </ion-list>
                  </ion-content>
                </ng-template>
              </ion-popover>
            </div>
          </swiper-slide>
          <swiper-slide *ngFor="let image of sysImages">
            <ion-card 
              defaultImage="" 
              lazyLoad="{{image}}"
              style="margin:auto;width:250px;height:250px;
                background-size:cover;
                background-repeat: no-repeat;
                border-radius: 10px;">
            </ion-card>
          </swiper-slide>
        </swiper-container>
      </div>

      <div *ngIf="!showFilter"
      style="width:100%;display: flex;justify-content: center;flex-direction: column;margin-top:10px;margin-bottom:0px;">
        <ion-text mode="ios" style="font-size:20px; margin:15px;text-align: center;" *ngIf="listdata&&!isEdit">
          {{listdata.name}} 
        </ion-text>
        <ion-input style="font-size:20px; margin:15px;text-align: center;" *ngIf="!showFilter&&isEdit" 
        [(ngModel)]="listdata.name" placeholder="诗词列表名称"></ion-input>
      </div>
    </ion-toolbar>
  </ion-header>


  <div style="display: flex;margin:0 20px;">
    <ion-button color="light" style="width: 100%;margin-right:10px;"
    (click)="data.playList(listdata.list, listdata.name)" [disabled]="noAudio">
      <ion-icon slot="start" name="play" color="primary"></ion-icon>
      <ion-text color="primary">{{ ui.instant('Action.Play')}}<!--播放--></ion-text>
    </ion-button>
    <ion-button color="light" style="width: 100%;margin-left:10px;"
    (click)="data.playListRandomly(listdata.list, listdata.name)" [disabled]="noAudio">
      <ion-icon slot="start" name="shuffle" color="primary"></ion-icon>
      <ion-text color="primary">{{ ui.instant('Action.Shuffle')}}<!--随机播放--></ion-text>
    </ion-button>
  </div>

  <app-text name="" [text]="listdata.desc" *ngIf="!showFilter&&!isEdit"></app-text>
  <ion-input style="font-size:20px; margin:5px;margin-left:20px;" *ngIf="!showFilter&&isEdit"
   [(ngModel)]="listdata.desc" placeholder="{{ ui.instant('Title.Description')}}"></ion-input><!--诗词列表描述-->
    
  <ion-list *ngIf="listdata&&!isEdit" style="margin-left:5px;margin-top:10px;">
    <ion-item *ngFor="let p of localList" style="--padding-start:15px;--inner-padding-end:20px;">
      
      <ion-thumbnail slot="start" (click)="data.goToAuthor(p.author)"
      style="display: flex;justify-content: center;align-items: center;">
        <img style="border-radius: 10px;"
          defaultImage="" 
          lazyLoad="{{p.txtimg}}"
          *ngIf="p.txtimg" />
        <img id="authorimg" style="border-radius: 10px;"
          defaultImage="assets/img/default.jpg" 
          lazyLoad="https://reddah.blob.core.windows.net/msjjpoet/{{p.author}}.jpeg"
          onerror="javascript:this.src='assets/img/default.jpg'" 
          *ngIf="!p.txtimg" 
          [ngStyle]="{'opacity':(data.currentPoem&&p.audio&&p.id === data.currentPoem.id) ? '0.5' : '1' }" />
        <div class="playing" style="position: fixed;" *ngIf="data.currentPoem&&p.audio&&p.id === data.currentPoem.id"
          [ngStyle]="{'animation-duration':(data.isPlaying) ? '1s' : '1000s',
          'height':(data.isPlaying) ? '' : '5px' }"
        ></div>
      </ion-thumbnail>
      <ion-label (click)="data.playListByPoem(listdata.list, p, listdata.name)">
        <h2 class="show-only-one-line">
          {{p.paragraphs[0]}}</h2>
        <p style="margin-top:5px;display: flex;align-items: end;"
        class="show-only-one-line">
          {{p.author}}《{{p.title}}》
          <ion-icon name="headset" *ngIf="p.audio" color="primary"></ion-icon>
        </p>
      </ion-label>
    </ion-item>

  </ion-list>

  <ion-list style="margin-left:5px;margin-bottom:5px;"
  *ngIf="isEdit">
    <ion-item (click)="addsearchtolist()"
    lines="full" style="--padding-start:15px;--inner-padding-end:20px;">
      <ion-icon slot="start" name="add-circle" color="primary"></ion-icon>
      <ion-label>
        <h2>{{ ui.instant('Action.AddPoem')}}<!--添加诗词--></h2>
      </ion-label>
    </ion-item>
  </ion-list>
    
  <ion-list *ngIf="listdata&&isEdit" style="margin-left:5px;">
    <ion-reorder-group disabled="false" (ionItemReorder)="handleReorder($any($event))">
      <ion-item-sliding #slidingItem *ngFor="let p of localList" 
      style="--padding-start:15px;--inner-padding-end:20px;">
        <ion-item style="--padding-start:15px;--inner-padding-end:20px;">
          <ion-icon slot="start" name="remove-circle" color="danger"
          (click)="openSlidingItem(slidingItem, p)"></ion-icon>

          <ion-thumbnail slot="start" (click)="data.goToAuthor(p.author)"
          style="display: flex;justify-content: center;align-items: center;">
            <img style="border-radius: 10px;"
              defaultImage="" 
              lazyLoad="{{p.txtimg}}" 
              *ngIf="p.txtimg" />
            <img id="authorimg" style="border-radius: 10px;" 
              defaultImage="assets/img/default.jpg" 
              lazyLoad="https://reddah.blob.core.windows.net/msjjpoet/{{p.author}}.jpeg"
              onerror="javascript:this.src='assets/img/default.jpg'" 
              *ngIf="!p.txtimg" 
            />
              
          </ion-thumbnail>
          <ion-label>
            <h2 class="show-only-one-line">{{p.paragraphs[0]}}</h2>
            <p style="margin-top:5px;display: flex;align-items: end;" 
            class="show-only-one-line">
              {{p.author}}《{{p.title}}》
              <ion-icon name="headset" *ngIf="p.audio" color="primary"></ion-icon>
            </p>
          </ion-label>

          <ion-reorder slot="end">
            <!--<ion-icon name="reorder-three-outline"></ion-icon>-->
          </ion-reorder>

        </ion-item>

        <ion-item-options side="end">
          <ion-item-option color="danger" (click)="delfromcustomlist(p)">{{ ui.instant('Action.Delete')}}<!--删除--></ion-item-option>
        </ion-item-options>
        
      </ion-item-sliding>
      
    </ion-reorder-group>

  </ion-list>


  <ion-list  *ngIf="!showFilter"
  style="margin-top:20px;margin-bottom: 20px;">
    <ion-text color="medium" *ngIf="listdata&&listdata.list" style="margin:20px;">
      {{listdata.list.length}}{{ ui.instant('Title.PoemCount')}}<!--首诗词-->
    </ion-text>
  </ion-list>

  <ion-card-content *ngIf="listActualLength==0"
  style="text-align: center;font-weight: light;color:black;padding-bottom:0;">
    {{ ui.instant('Title.NoPoem')}}<!--此列表中还没有诗词-->
  </ion-card-content>

  <ion-card-content *ngIf="!isEdit&&listActualLength==0" (click)="addsearchtolist(true)"
   style="text-align: center;display: flex;justify-content: center;">
    <ion-button color="primary" style="width:90%;">{{ ui.instant('Action.AddPoem')}}<!--添加诗词--></ion-button>
  </ion-card-content>
    
  <ion-header *ngIf="!showFilter&&poets&&poets.length>0&&listActualLength>0">
    <app-author name="{{ ui.instant('Title.FeaturedPoets')}}" [source]="poets"></app-author><!--此诗单中的诗人-->
  </ion-header>

  <div class="placeholder-playbox"></div>
</ion-content>

