<!--background image top/width_auto height_sameas_tab1-->
<ion-content class="no-padding" [fullscreen]="true" scrollEvents="true" (ionScroll)="onScroll($event)" 
style="--background: url('/assets/img/{{item.bg_image}}') top/auto {{defaultBgHeight}} no-repeat;">
    <div style="background-color:rgba(0,0,0,0);min-height: {{item.min_height}};">
        
        <ion-card-content style="z-index:1;position:fixed;width:100%;padding-inline-end:20px;padding-top:30px;">
          <ion-buttons style="display:flex;justify-content:center;width:25px;height:25px;float:right;background-color:rgba(128,128,128,0.5);border-radius: 50%;"
            (click)="goback()">
            <ion-button color="light">
              <ion-icon name="close-outline"></ion-icon>
            </ion-button>
          </ion-buttons>
        </ion-card-content>

        <ion-card-content style="z-index:0;">
          <ion-card-subtitle style="color:{{item.title_color}};font-size:18px;margin-top:20px;">{{item.small_title}}</ion-card-subtitle>
          <ion-card-title style="color:{{item.title_color}};font-size:25px;">{{item.big_title}}</ion-card-title>
        </ion-card-content>
      
      </div>
    
    
    <div style="padding:10px;background-color:white;">
      <div *ngFor="let it of item.desc">
        <p style="font-size: 18px;" *ngIf="it.type=='text'">{{it.value}}</p>
        <img *ngIf="it.type=='image'" src="/assets/img/{{it.value}}">
      </div>
    </div>
</ion-content>
