<ion-header [translucent]="ui.isIos">
  <ion-toolbar>
    <ion-title [style.fontSize]="data.zoom(17)">
      {{ ui.instant('Tabs.Discovery') }}<!--发现-->
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="tab2-page-bg" aria-hidden="true" slot="fixed"
    *ngIf="ui.isipad"></div>
  <ion-header collapse="condense"
  [style.margin-left]="ui.isipad ? '20px' : 0"
  [style.padding-right]="ui.isipad ? '20px' : 0">
    <ion-toolbar>
      <ion-title class="tab-title" mode="md" 
        [style.fontSize]="data.zoom(28)"
        (click)="scrollToIntroBottom()">
        陵光 líng guāng<!--{{ ui.instant('Tabs.Discovery') }}发现-->
        <ion-icon class="intro-info-icon" name="information-circle-outline" mode="md"
        ></ion-icon>
      </ion-title>
      <ion-buttons slot="end">
        <ion-button shape="round" style="margin-right: 10px;" id="open-action-sheet2">
          <ion-icon name="person-circle-outline" 
          [style.width]="ui.isipad ? '50px' : null" 
          [style.height]="ui.isipad ? '50px' : null" 
          size="large"></ion-icon>
        </ion-button>
        <ion-action-sheet class="language-setting" trigger="open-action-sheet2" 
          header="{{ui.instant('Title.Settings')}}" [buttons]="data.textActionSheetButtons">
        </ion-action-sheet>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>

  <div [style.width]="ui.isipad ? '72%' : '100%'"
  [style.margin-left]="ui.isipad ? '20px' : 0">
    
    <app-big [source]="searchTopicDataAudio.scroll"></app-big>
    
    <!--最近浏览-->
    <!-- <app-tile name="{{ ui.instant('Title.Recent') }}" [source]="data.playedEPHistory" 
    *ngIf="data.playedEPHistory&&data.playedEPHistory.length>2"></app-tile> -->
    
    <!--现在就听-->
    <app-hot name="{{ ui.instant('Tabs.ListenNow') }}" 
      [source]="data.classicData" *ngIf="data.classicData">
    </app-hot>
    <app-big [source]="data.tab2LocalScrollData"></app-big>
    <!--热门诗词-->
    <app-hot name="{{ ui.instant('Title.Hot') }}" [source]="data.hotData" *ngIf="searchTopicData.hot"></app-hot>
    <!--
    <app-hot name="经典诗词" [source]="data.classicData" *ngIf="searchTopicData.classic"></app-hot>
  -->
    <!--最新专辑-->
    <div *ngFor="let list of searchTopicDataAudio.list;" style="margin-top:10px;">
      <app-tile 
      [name]="(list.i18n && list.i18n[data.currentLocale]) ? list.i18n[data.currentLocale] : list.name"
      [source]="list.data" *ngIf="list.display!=false"></app-tile>
    </div>
    <div *ngFor="let list of searchTopicData.list;">
      <app-tile 
      [name]="(list.i18n && list.i18n[data.currentLocale]) ? list.i18n[data.currentLocale] : list.name"
      [source]="list.data" *ngIf="list.name!='趣味诗单'"></app-tile>
      <app-tile 
      [name]="(list.i18n && list.i18n[data.currentLocale]) ? list.i18n[data.currentLocale] : list.name"
      [source]="data.tab2LocalFunData" *ngIf="list.name=='趣味诗单'"></app-tile>
    </div>

    <!--搜索更多精彩内容  以后加-->
    <!-- <app-text 
    [name]="(searchTopicData.i18n && searchTopicData.i18n[data.currentLocale]) ? searchTopicData.i18n[data.currentLocale] : searchTopicData.desctitle"
    [text]="searchTopicData.desc">
    </app-text> -->
    

  </div>

  <div [style.padding]="ui.isipad ? '0 20px' : '0'">
    <app-text style="margin-top:20px;"
      [ngClass]="ui.isipad ? 'app-text-ipad' : ''"
      name="陵光大陆是南方人的故土，神、仙、魔的下界，三皇居住的地方，也是诗人们的乐园。"
      text="山多草木却无治病的灵药；地多平整却无甚可耕之田；江河亦多但无汇流水道。自大禹治水，开九州，通九道，陂九泽，度九山，此地才开始宜居。但陵光人民，不从龙、蛇者，必从鸟、凤。龙凤争斗，流血不休，亦为憾事。">
    </app-text>
  </div>
  
  <div class="placeholder-playbox"></div>

</ion-content>