
<ion-header [translucent]="ui.isIos">
  <ion-toolbar>
    <ion-title [style.fontSize]="data.zoom(17)">
      {{ ui.instant('Tabs.ListenNow') }}<!--现在就听-->
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content #pageTop [fullscreen]="true">
  <ion-header collapse="condense" style="margin-bottom: 10px;">
    <ion-toolbar>
      <ion-title class="tab-title" mode="md"
      [style.fontSize]="data.zoom(28)">
        {{ ui.instant('Tabs.ListenNow') }}<!--现在就听-->
      </ion-title>
      <ion-buttons slot="end">
        <ion-button shape="round" style="margin-right: 10px;" id="open-action-sheet1">
          <ion-icon name="person-circle-outline" 
          [style.width]="ui.isipad ? '50px' : null" 
          [style.height]="ui.isipad ? '50px' : null" 
          size="large"></ion-icon>
        </ion-button>
        <ion-action-sheet class="language-setting" trigger="open-action-sheet1" 
          header="{{ui.instant('Title.Settings')}}" [buttons]="data.textActionSheetButtons">
        </ion-action-sheet>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>

  <app-big [source]="searchTopicData.scroll"></app-big>

  <app-hot name="{{ ui.instant('Title.Classical') }}" [source]="data.classicData" *ngIf="data.classicData"></app-hot>

  

  

  <ion-refresher slot="fixed" (ionRefresh)="handleRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>


  <!--lazy load image sample -- test code--
  <ion-card [defaultImage]="defaultImage" [lazyLoad]="image">
    <ion-card-content class="station-content" style="z-index:1;" *ngIf="image"
        defaultImage="assets/img/default.jpg" 
        [lazyLoad]="image"
        style="background-size: cover;background-repeat: no-repeat;">
        
        <div style="padding:10px;z-index: 2;margin-top:auto;margin-bottom:0;
        background-image: linear-gradient(rgba(0,0,0,0.1), rgba(0,0,0,0.8));
        ;font-size:13px;width:100%;"
        >hello</div>
      </ion-card-content>
  </ion-card>
  <div [defaultImage]="defaultImage" [lazyLoad]="image" style="border:1px solid red;height:300px;"></div> 
  <img [defaultImage]="defaultImage" [lazyLoad]="image" />-->

  <!--AI template-->
  <div *ngIf="!ui.isipad" style="display: flex;flex-wrap: wrap;justify-content: center;">
    <!--tutorial()-->
    <!--
    <ion-card class="card card-gif" card-shrink (click)="data.goMe()"
      defaultImage="" 
      lazyLoad="/assets/img/question.png"
      style="background-size:cover;"
    >
        <ion-card-content>
          <ion-card-subtitle class="card-text" style="font-size: 18px;">一目了然</ion-card-subtitle>
          <ion-card-title class="card-text">App使用教程</ion-card-title>
        </ion-card-content>
    </ion-card>
    -->
<!--
    <ion-card class="card card-gif" card-shrink (click)="chat()"
      defaultImage="" 
      lazyLoad="/assets/img/faq.png"
      style="background-size:cover;"
    >
        <ion-card-content>
          <ion-card-subtitle class="card-text" style="font-size: 18px;">功夫在诗外</ion-card-subtitle>
          <ion-card-title class="card-text">{{ ui.instant('AI.Title') }}</ion-card-title>
        </ion-card-content>
    </ion-card>
  -->

    <!--template game-->
    <!--
    <ion-card class="card card-gif" card-shrink (click)="game(1)"
      defaultImage="" 
      lazyLoad="/assets/img/p2.jpg"
      style="background-size:cover;background-color:#55acee;"
    >
        <ion-card-content>
          <ion-card-subtitle class="card-text" style="font-size: 18px;">特别简单</ion-card-subtitle>
          <ion-card-title class="card-text">小学生水平测试</ion-card-title>
        </ion-card-content>
    </ion-card>
    -->
    <!--template game-->
    <!--
    <ion-card class="card card-gif" card-shrink (click)="game(2)"
      defaultImage="" 
      lazyLoad="/assets/img/p2.jpg"
      style="background-size:cover;background-color:#55acee;"
    >
        <ion-card-content>
          <ion-card-subtitle class="card-text" style="font-size: 18px;">杜甫</ion-card-subtitle>
          <ion-card-title class="card-text">登高</ion-card-title>
        </ion-card-content>
    </ion-card>
    -->
    <!--template game-->
    <!--
    <ion-card class="card card-gif" card-shrink (click)="game(3)"
      defaultImage="" 
      lazyLoad="/assets/img/p1.jpg"
      style="background-size:cover;background-color:#55acee;"
    >
        <ion-card-content>
          <ion-card-subtitle class="card-text" style="font-size: 18px;">李白</ion-card-subtitle>
          <ion-card-title class="card-text">将进酒</ion-card-title>
        </ion-card-content>
    </ion-card>
    -->
    <!--template nerd-->
    <!--https://wow.techbrood.com/fiddle/10(click)="game(500)"-->
    <ion-card class="card card-gif" card-shrink 
      defaultImage="" 
      lazyLoad=""
      style="background-size:cover;background-color:#55acee;display:none;"
    >
        <ion-card-content>
          <ion-card-subtitle class="card-text" style="font-size: 18px;">我说一句，你接一句</ion-card-subtitle>
          <ion-card-title class="card-text">名句接龙</ion-card-title>
          <style>
            .bart *
            {
                position: absolute;
                box-sizing:content-box;
                -moz-box-sizing:content-box;
            }

            .bart
            {
                position: relative;
                width: 80px;
                height: 130px;
                margin: 0 auto;
            }

            .bart .head *
            {
                border: 1px solid #110b00;
            }

            .bart .head .no-border
            {
                border: none;
            }

            .bart .head .body
            {
                background: #fbd800;
            }
            .bart.brown .head .body
            {
                background: #f3dda5;
            }
            .bart.green .head .body
            {
                background: #a3f57a;
            }

            .bart.colourless .head .body {
                background: #ffffff;
            }

            .bart .head .hair
            {
                border-top: 1px solid #110b00;
                border-left: 1px solid #110b00;
                -webkit-border-radius: 2px 0 0 0;
                -moz-border-radius: 2px 0 0 0;
                border-radius: 2px 0 0 0;
            }

            .bart .head .hair1
            {
                top: 22px;
                left: 0px;
                width: 6px;
                height: 7px;
                -webkit-transform: rotate(-22deg) skew(-7deg, 51deg);
                -ms-transform: rotate(-22deg) skew(-7deg, 51deg);
                transform: rotate(-22deg) skew(-7deg, 51deg);
            }

            .bart .head .hair2
            {
                top: 20px;
                left: 5px;
                width: 9px;
                height: 7px;
                -webkit-transform: rotate(25deg) skew(23deg, 16deg);
                -ms-transform: rotate(25deg) skew(23deg, 16deg);
                transform: rotate(25deg) skew(23deg, 16deg);
            }

            .bart .head .hair3
            {
                top: 17px;
                left: 12px;
                width: 9px;
                height: 8px;
                -webkit-transform: rotate(27deg) skew(22deg, 16deg);
                -ms-transform: rotate(27deg) skew(22deg, 16deg);
                transform: rotate(27deg) skew(22deg, 16deg);
            }

            .bart .head .hair4
            {
                top: 15px;
                left: 20px;
                width: 10px;
                height: 9px;
                -webkit-transform: rotate(35deg) skew(22deg, 16deg);
                -ms-transform: rotate(35deg) skew(22deg, 16deg);
                transform: rotate(35deg) skew(22deg, 16deg);
            }

            .bart .head .hair5
            {
                top: 13px;
                left: 29px;
                width: 9px;
                height: 9px;
                -webkit-transform: rotate(37deg) skew(22deg, 16deg);
                -ms-transform: rotate(37deg) skew(22deg, 16deg);
                transform: rotate(37deg) skew(22deg, 16deg);
            }

            .bart .head .hair6
            {
                top: 12px;
                left: 37px;
                width: 10px;
                height: 9px;
                -webkit-transform: rotate(50deg) skew(24deg, 16deg);
                -ms-transform: rotate(50deg) skew(24deg, 16deg);
                transform: rotate(50deg) skew(24deg, 16deg);
            }

            .bart .head .hair7
            {
                top: 12px;
                left: 45px;
                width: 10px;
                height: 8px;
                -webkit-transform: rotate(51deg) skew(24deg, 10deg);
                -ms-transform: rotate(51deg) skew(24deg, 10deg);
                transform: rotate(51deg) skew(24deg, 10deg);
            }

            .bart .head .hair8
            {
                top: 14px;
                left: 54px;
                width: 9px;
                height: 7px;
                -webkit-transform: rotate(51deg) skew(24deg, 10deg);
                -ms-transform: rotate(51deg) skew(24deg, 10deg);
                transform: rotate(51deg) skew(24deg, 10deg);
            }

            .bart .head .hair9
            {
                top: 15px;
                left: 61px;
                width: 9px;
                height: 7px;
                -webkit-transform: rotate(79deg) skew(35deg, 10deg);
                -ms-transform: rotate(79deg) skew(35deg, 10deg);
                transform: rotate(79deg) skew(35deg, 10deg);
            }

            .bart .head .head-left1
            {
                top: 24px;
                left: 1px;
                width: 17px;
                height: 15px;
                border-left: 1px solid #110b00;
                -webkit-transform: rotate(-13deg);
                -ms-transform: rotate(-13deg);
                transform: rotate(-13deg);
            }

            .bart .head .head-left2
            {
                top: 33px;
                left: 3px;
                width: 17px;
                height: 18px;
                border-left: 1px solid #110b00;
                -webkit-transform: rotate(-11deg);
                -ms-transform: rotate(-11deg);
                transform: rotate(-11deg);
            }

            .bart .head .head-left3
            {
                top: 46px;
                left: 5px;
                width: 17px;
                height: 16px;
                border-left: 1px solid #110b00;
                -webkit-transform: rotate(-9deg);
                -ms-transform: rotate(-9deg);
                transform: rotate(-9deg);
            }

            .bart .head .head-left4
            {
                top: 61px;
                left: 7px;
                width: 17px;
                height: 16px;
                border-left: 1px solid #110b00;
                -webkit-transform: rotate(-7deg);
                -ms-transform: rotate(-7deg);
                transform: rotate(-7deg);
            }

            .bart .head .head-left5
            {
                top: 76px;
                left: 9px;
                width: 20px;
                height: 16px;
                border-left: 1px solid #110b00;
                -webkit-transform: rotate(-8deg);
                -ms-transform: rotate(-8deg);
                transform: rotate(-8deg);
            }

            .bart .head .head-left6
            {
                top: 90px;
                left: 11px;
                width: 28px;
                height: 31px;
                border-left: 1px solid #110b00;
                -webkit-transform: rotate(2deg);
                -ms-transform: rotate(2deg);
                transform: rotate(2deg);
            }

            .bart .head .head-left7
            {
                top: 119px;
                left: 10px;
                width: 27px;
                height: 8px;
                border-left: 1px solid #110b00;
                border-right: 1px solid #110b00;
                -webkit-transform: rotate(6deg);
                -ms-transform: rotate(6deg);
                transform: rotate(6deg);
            }

            .bart .head .head-right1
            {
                top: 20px;
                left: 19px;
                width: 50px;
                height: 37px;
                border-right: 1px solid #000000;
                -webkit-transform: rotate(-2deg);
                -ms-transform: rotate(-2deg);
                transform: rotate(-2deg);
            }

            .bart .head .head-right2
            {
                top: 46px;
                left: 19px;
                width: 51px;
                height: 24px;
                -webkit-transform: rotate(-2deg);
                -ms-transform: rotate(-2deg);
                transform: rotate(-2deg);
            }

            .bart .head .head-right3
            {
                top: 83px;
                left: 24px;
                width: 50px;
                height: 27px;
                border-right: 1px solid #000000;
                -webkit-transform: rotate(-8deg);
                -ms-transform: rotate(-8deg);
                transform: rotate(-8deg);
            }

            .bart .head .ear
            {
                top: 88px;
                left: 5px;
                width: 11px;
                height: 13px;
                -moz-border-radius: 50%;
                -webkit-border-radius: 50%;
                border-radius: 50%;
            }

            .bart .head .ear .inner1
            {
                top: 3px;
                left: 2px;
                width: 7px;
                height: 5px;
                -moz-border-radius: 50%;
                -webkit-border-radius: 50%;
                border-radius: 50%;
                border-top: 1px solid #110b00;
                -webkit-transform: rotate(-21deg);
                -ms-transform: rotate(-21deg);
                transform: rotate(-21deg);
            }

            .bart .head .ear .inner2
            {
                top: 3px;
                left: 4px;
                width: 7px;
                height: 5px;
                -moz-border-radius: 50%;
                -webkit-border-radius: 50%;
                border-radius: 50%;
                border-top: 1px solid #110b00;
                -webkit-transform: rotate(-109deg);
                -ms-transform: rotate(-109deg);
                transform: rotate(-109deg);
            }

            .bart .head .ear .clip
            {
                top: 1px;
                left: 9px;
                width: 3px;
                height: 10px;
            }

            .bart .head .eyelid
            {
                top: 55px;
                left: 63px;
                width: 10px;
                height: 10px;
                -webkit-border-radius: 50%;
                -moz-border-radius: 50%;
                border-radius: 50%;
            }

            .bart .head .right-eye
            {
                top: 60px;
                left: 51px;
                width: 27px;
                height: 27px;
                -moz-border-radius: 50%;
                -webkit-border-radius: 50%;
                border-radius: 50%;
                background: #ffffff;
                overflow: hidden;
            }

            .bart .head .right-eye .right-eye-pupil
            {
                top: 11px;
                left: 8px;
                width: 4px;
                height: 4px;
                -moz-border-radius: 50%;
                -webkit-border-radius: 50%;
                border-radius: 50%;
                background: #110b00;
            }

            .bart .head .right-eye .eyelid-top
            {
                top: -18px;
                left: 0px;
                width: 30px;
                height: 17px;
                border-bottom: 1px solid #110b00;
                border-radius: 50% 50% 0 0;
                
                -webkit-animation-name: bartrighteyelidtop;
                -webkit-animation-duration: 10s;
                -webkit-animation-timing-function: linear;
                -webkit-animation-delay: 2.5s;
                -webkit-animation-iteration-count: infinite;
                -webkit-animation-play-state: running;
                animation-name: bartrighteyelidtop;
                animation-duration: 10s;
                animation-timing-function: linear;
                animation-delay: 2.5s;
                animation-iteration-count: infinite;
                animation-play-state: running;
            }

            .bart .head .right-eye .eyelid-bottom
            {
                bottom: -11px;
                left: 0px;
                width: 30px;
                height: 10px;
                border-top: 1px solid #110b00;
                border-radius: 0 0 50% 50%;
                
                -webkit-animation-name: bartrighteyelidbottom;
                -webkit-animation-duration: 10s;
                -webkit-animation-timing-function: linear;
                -webkit-animation-delay: 2.5s;
                -webkit-animation-iteration-count: infinite;
                -webkit-animation-play-state: running;
                animation-name: bartrighteyelidbottom;
                animation-duration: 10s;
                animation-timing-function: linear;
                animation-delay: 2.5s;
                animation-iteration-count: infinite;
                animation-play-state: running;
            }

            @-webkit-keyframes bartrighteyelidtop
            {
            0% {top: -18px;}
            2% {top: 0px;}
            4% {top: -18px;}
            100% {top: -18px;}
            }

            @keyframes bartrighteyelidtop
            {
            0% {top: -18px;}
            2% {top: 0px;}
            4% {top: -18px;}
            100% {top: -18px;}
            }

            @-webkit-keyframes bartrighteyelidbottom
            {
            0% {bottom: -11px;}
            2% {bottom: 0px;}
            4% {bottom: -11px;}
            100% {bottom: -11px;}
            }

            @keyframes bartrighteyelidbottom
            {
            0% {bottom: -11px;}
            2% {bottom: 0px;}
            4% {bottom: -11px;}
            100% {bottom: -11px;}
            }

            .bart .head .left-eye
            {
                top: 60px;
                left: 24px;
                width: 30px;
                height: 30px;
                -moz-border-radius: 50%;
                -webkit-border-radius: 50%;
                border-radius: 50%;
                background: #ffffff;
                overflow: hidden;
            }

            .bart .head .left-eye .left-eye-pupil
            {
                top: 13px;
                left: 9px;
                width: 4px;
                height: 4px;
                -moz-border-radius: 50%;
                -webkit-border-radius: 50%;
                border-radius: 50%;
                background: #110b00;
            }

            .bart .head .left-eye .eyelid-top
            {
                top: -21px;
                left: 0px;
                width: 30px;
                height: 20px;
                border-bottom: 1px solid #110b00;
                border-radius: 50% 50% 0 0;
                
                -webkit-animation-name: bartlefteyelidtop;
                -webkit-animation-duration: 10s;
                -webkit-animation-timing-function: linear;
                -webkit-animation-delay: 2.5s;
                -webkit-animation-iteration-count: infinite;
                -webkit-animation-play-state: running;
                animation-name: bartlefteyelidtop;
                animation-duration: 10s;
                animation-timing-function: linear;
                animation-delay: 2.5s;
                animation-iteration-count: infinite;
                animation-play-state: running;
            }

            .bart .head .left-eye .eyelid-bottom
            {
                bottom: -11px;
                left: 0px;
                width: 30px;
                height: 10px;
                border-top: 1px solid #110b00;
                border-radius: 0 0 50% 50%;
                
                -webkit-animation-name: bartlefteyelidbottom;
                -webkit-animation-duration: 10s;
                -webkit-animation-timing-function: linear;
                -webkit-animation-delay: 2.5s;
                -webkit-animation-iteration-count: infinite;
                -webkit-animation-play-state: running;
                animation-name: bartlefteyelidbottom;
                animation-duration: 10s;
                animation-timing-function: linear;
                animation-delay: 2.5s;
                animation-iteration-count: infinite;
                animation-play-state: running;
            }

            @-webkit-keyframes bartlefteyelidtop
            {
            0% {top: -21px;}
            2% {top: 0px;}
            4% {top: -21px;}
            100% {top: -21px;}
            }

            @keyframes bartlefteyelidtop
            {
            0% {top: -21px;}
            2% {top: 0px;}
            4% {top: -21px;}
            100% {top: -21px;}
            }

            @-webkit-keyframes bartlefteyelidbottom
            {
            0% {bottom: -11px;}
            2% {bottom: 0px;}
            4% {bottom: -11px;}
            100% {bottom: -11px;}
            }

            @keyframes bartlefteyelidbottom
            {
            0% {bottom: -11px;}
            2% {bottom: 0px;}
            4% {bottom: -11px;}
            100% {bottom: -11px;}
            }

            .bart .head .nose
            {
                top: 83px;
                left: 55px;
                width: 12px;
                height: 12px;
                border-top: 1px solid #110b00;
            }

            .bart .head .nose-tip
            {
                top: 82px;
                left: 60px;
                width: 14px;
                height: 12px;
                border-left: none;
                -moz-border-radius: 0 50% 50% 0%;
                -webkit-border-radius: 0 50% 50% 0;
                border-radius: 0 50% 50% 0;
                -webkit-transform: rotate(-6deg);
                -ms-transform: rotate(-6deg);
                transform: rotate(-6deg);
            }

            .bart .head .mouth
            {
                top: 101px;
                left: 27px;
                width: 50px;
                height: 15px;
                border-bottom: 1px solid #110b00;
                -moz-border-radius: 50%;
                -webkit-border-radius: 50%;
                border-radius: 50%;
            }

            .bart .head .mouth-smile
            {
                top: 111px;
                left: 28px;
                width: 7px;
                height: 5px;
                -moz-border-radius: 50%;
                -webkit-border-radius: 50%;
                border-radius: 50%;
                border-top: 1px solid #110b00;
                -webkit-transform: rotate(-52deg);
                -ms-transform: rotate(-52deg);
                transform: rotate(-52deg);
            }

            .bart .head .mouth-lip
            {
                top: 101px;
                left: 26px;
                width: 50px;
                height: 14px;
                -moz-border-radius: 50%;
                -webkit-border-radius: 50%;
                border-radius: 50%;
            }

            .bart .head .mouth-lip2
            {
                top: 106px;
                left: 17px;
                width: 30px;
                height: 14px;
                -moz-border-radius: 32%;
                -webkit-border-radius: 32%;
                border-radius: 32%;
            }
                        .btn-twitter,
            .btn-twitter:hover {
                color: #fff;
                background-color: #55acee;
            }
            #wrap {
                min-height: 100%;
                height: auto !important;
                height: 100%;
                margin: 0 auto -60px;
                text-align: center;
            }
            .header,
            .characters .character-row {
                padding-top: 90px;
                text-align: center;
            }
            #push,
            #footer {
                height: 60px;
            }
            #footer {
                background-color: #f5f5f5;
                text-align: center;
            }
            #footer p {
                margin: 0;
                padding: 15px 0 0 0;
            }
            @media (max-width: 767px) {
                #footer {
                    margin-left: -20px;
                    margin-right: -20px;
                    padding-left: 20px;
                    padding-right: 20px;
                }
            }
          </style>
          <div id="wrap" style="height:350px;">
            <div class="container characters">
                <div class="row character-row" style="padding-top:50px;">
                    <div class="col-md-3">
                        <div class="bart">
                            <div class="head">
                                <div class="no-border body hair hair1"></div>
                                <div class="no-border body hair hair2"></div>
                                <div class="no-border body hair hair3"></div>
                                <div class="no-border body hair hair4"></div>
                                <div class="no-border body hair hair5"></div>
                                <div class="no-border body hair hair6"></div>
                                <div class="no-border body hair hair7"></div>
                                <div class="no-border body hair hair8"></div>
                                <div class="no-border body hair hair9"></div>
                                <div class="body mouth-lip2"></div>
                                <div class="no-border body head-left1"></div>
                                <div class="no-border body head-left2"></div>
                                <div class="no-border body head-left3"></div>
                                <div class="no-border body head-left4"></div>
                                <div class="no-border body head-left5"></div>
                                <div class="no-border body head-left6"></div>
                                <div class="no-border body head-left7"></div>
                                <div class="body eyelid"></div>
                                <div class="no-border body mouth"></div>
                                <div class="body mouth-lip"></div>
                                <div class="no-border body head-right2"></div>
                                <div class="no-border body head-right1"></div>
                                <div class="no-border body head-right3"></div>
        
                                <!-- The ear -->
                                <div class="body ear">
                                    <div class="no-border inner1"></div>
                                    <div class="no-border inner2"></div>
                                    <div class="no-border body clip"></div>
                                </div>
        
                                <!-- The right eye -->
                                <div class="right-eye">
                                    <div class="no-border right-eye-pupil"></div>
                                    <div class="no-border body eyelid-top"></div>
                                    <div class="no-border body eyelid-bottom"></div>
                                </div>
        
                                <!-- The nose -->
                                <div class="no-border body nose"></div>
                                <div class="body nose-tip"></div>
        
                                <!-- The left eye -->
                                <div class="left-eye">
                                    <div class="no-border left-eye-pupil"></div>
                                    <div class="no-border body eyelid-top"></div>
                                    <div class="no-border body eyelid-bottom"></div>
                                </div>
        
                                <div class="no-border mouth-smile"></div>
                            </div>
                        </div>
        
                        <h2></h2>
                        <p></p>
                    </div>
                </div>
            </div>
            <div id="push"></div>
        </div>
        </ion-card-content>
    </ion-card>


  </div>

  <!-- <div style="display: flex;flex-wrap: wrap;justify-content: center;margin-bottom: 15px;">
    <app-card-moon class="custom-card"
      section="诗词游戏" 
      sub="水调歌头" 
      title="明月几时有">
    </app-card-moon>
    <app-card-path class="custom-card"
      section="诗词游戏" 
      sub="考考你" 
      title="名诗接龙">
    </app-card-path>
    <app-card-balloon class="custom-card"
      section="诗词游戏" 
      sub="欢庆节日" 
      title="名诗接龙">
    </app-card-balloon>
    <app-card-wave class="custom-card"
      section="诗词游戏" 
      sub="潮流时尚" 
      title="名诗接龙">
    </app-card-wave>
  </div> -->
  


  <div *ngIf="!ui.isipad" style="display: flex;flex-wrap: wrap;justify-content: center;">
    <div class="card-wrap" *ngFor="let item of data.articleData;index as i">

      <!--text template bak
      <ion-card class="card card-img" card-shrink
      (click)="goToArticle(item)"
      *ngIf="item.template=='text'"
        style="background-image: url('https://reddah.blob.core.windows.net/msjjimg/{{item.bg_image}}');
        background-size:cover;min-height: {{item.min_height}};">
        <ion-card-content [ngClass]="{'title-bottom':item.is_title_bottom}">
          <ion-card-subtitle class="card-text" style="color:{{item.title_color}};font-size:18px;">{{item.small_title}}</ion-card-subtitle>
          <ion-card-title class="card-text" style="color:{{item.title_color}}">
            {{item.big_title.substring(0,25)}}{{item.big_title==item.big_title.substring(0,25)?"":"..."}}
          </ion-card-title>
        </ion-card-content>
      </ion-card>
      -->

      <!--text template-->
      <ion-card class="card card-img" card-shrink
      (click)="goToArticle(item)"
        *ngIf="item.template=='text'&&!item.effect&&i<10"
        defaultImage="" 
        lazyLoad="{{item.bg_image.indexOf('assets')>-1?item.bg_image:'https://reddah.blob.core.windows.net/msjjimg/'+item.bg_image}}"
        style="background-size:{{item.image_size}};
        min-height: {{item.min_height}};
        background-color:{{data.getbgcolor()}}">
        <ion-card-content [ngClass]="{'title-bottom':item.is_title_bottom}">
          <ion-card-subtitle class="card-text" 
            style="color:{{item.title_color}};"
            [style.fontSize]="data.zoom(18)">
            {{item.small_title}}
          </ion-card-subtitle>
          <ion-card-title class="card-text" style="color:{{item.title_color}}"
          [style.fontSize]="data.zoom(28)">
            {{item.big_title.substring(0,25)}}{{item.big_title==item.big_title.substring(0,25)?"":"..."}}
          </ion-card-title>
        </ion-card-content>
      </ion-card>

      <app-card-moon class="card card-img custom-card" card-shrink 
      *ngIf="item.effect=='moon'"
      (click)="goToArticle(item)"
        sub="{{item.small_title}}" 
        title="{{item.big_title.substring(0,25)}}">
      </app-card-moon>
      <app-card-balloon class="card card-img custom-card" 
      *ngIf="item.effect=='balloon'"
      (click)="goToArticle(item)" card-shrink
        source="tab1" 
        sub="{{item.small_title}}" 
        title="{{item.big_title.substring(0,25)}}">
      </app-card-balloon>
      <app-card-wave class="card card-img custom-card" card-shrink 
      *ngIf="item.effect=='wave'"
      (click)="goToArticle(item)"
        source="tab1" 
        sub="{{item.small_title}}" 
        title="{{item.big_title.substring(0,25)}}">
      </app-card-wave>
      <app-card-path class="card card-img custom-card" card-shrink
      *ngIf="item.effect=='path'"
      (click)="goToArticle(item)"
        source="tab1" 
        sub="{{item.small_title}}" 
        title="{{item.big_title.substring(0,25)}}">
      </app-card-path>

      <!--
      <ion-card class="card card-img" card-shrink
      (click)="goToArticle(item)"
        *ngIf="item.template=='text'&&item.id==74"
        defaultImage="" 
        lazyLoad="https://reddah.blob.core.windows.net/msjjimg/{{item.bg_image}}"
        style="
        background-size:cover;min-height: {{item.min_height}};background-color:{{data.getbgcolor()}}">
        <ion-card-content [ngClass]="{'title-bottom':item.is_title_bottom}">
          <ion-card-subtitle class="card-text" style="color:{{item.title_color}};font-size:18px;">{{item.small_title}}</ion-card-subtitle>
          <ion-card-title class="card-text" style="color:{{item.title_color}}">
            74{{item.big_title.substring(0,25)}}{{item.big_title==item.big_title.substring(0,25)?"":"..."}}
          </ion-card-title>
        </ion-card-content>
      </ion-card>
      -->


      <!--slide template-->
      <ion-card class="card card-img" (click)="goTemplateSlide(item.link)" card-shrink
        *ngIf="item.template=='slide'"
        defaultImage="" 
        lazyLoad="https://reddah.blob.core.windows.net/msjjimg/{{item.bg_image}}"
        style="background-size:cover;min-height: {{item.min_height}};">
        <ion-card-content>
          <ion-card-subtitle class="card-text" style="color:{{item.title_color}};"
          [style.fontSize]="data.zoom(18)">
            {{item.small_title}}</ion-card-subtitle>
          <ion-card-title class="card-text" style="color:{{item.title_color}}"
          [style.fontSize]="data.zoom(28)">
            {{item.big_title}}</ion-card-title>
        </ion-card-content>
      </ion-card>




      <!--scroll template-->
      <ion-card class="card card-scroll" id="modal-scroll" card-shrink
      *ngIf="item.template=='scroll'">
        <ion-card-content>
          <ion-card-subtitle class="card-text" 
          [style.fontSize]="data.zoom(18)">
            {{item.small_title}}
          </ion-card-subtitle>
          <ion-card-title [style.fontSize]="data.zoom(28)">{{item.big_title}}</ion-card-title>
        </ion-card-content>
      
        <ion-card-content style="margin-top:0;">
          <div class="card-scroll-box">
            <div class="card-scroll-item" *ngFor="let c of item.items" (click)="goAuthorDirect(c.text)">
              <div class="card-image contain" style="background-image:{{c.image}};background-color:{{c.color}}"></div>
              <div class="card-text show-only-one-line">{{c.text}}</div>
            </div>
          </div>
        </ion-card-content>
      </ion-card>
      



      <!--vote template-->
<!--[ngClass]="getCardClasses()" (press)="onCardPress()" (pressup)="onCardRelease()"-->
      <ion-card class="card card-vote" id="modal-vote" card-shrink
      *ngIf="item.template=='vote'">
        <div class="card-vote-bg" [style.fontSize]="data.zoom(28)">
          {{item.small_title}}
        </div>
        <ion-card-content>
          <ion-card-subtitle style="display: flex;">
            <!--<ion-badge style="padding-left:0;" color="transparent">{{item.small_title}}</ion-badge>-->
            <ion-badge color="danger" [style.fontSize]="data.zoom(18)">
              {{item.small_title}}
            </ion-badge>
          </ion-card-subtitle>
          <ion-card-title style="margin-top:10px;color:black;"
          [style.fontSize]="data.zoom(28)">{{item.big_title}}</ion-card-title>
          <ion-card-subtitle style="margin-top:10px;"
          [style.fontSize]="data.zoom(18)">{{item.desc}}</ion-card-subtitle>
        </ion-card-content>
        <ion-card-content>
          <ion-item color="light" style="--padding-start:0;margin:10px 0;border-radius: 5px;" lines="none" 
          *ngFor="let v of item.items" (click)="data.playbyid(v.id, v.text)">
            <div style="width: 100%;text-align: center;"
            class="show-only-one-line" 
            [style.fontSize]="data.zoom(16)">{{v.text}}</div>
          </ion-item>
        </ion-card-content>
      </ion-card>



      <!--wall template-->
      <ion-card class="card card-vote" card-shrink
      (click)="goToArticle(item)"
      *ngIf="item.template=='wall'">
        <div class="card-vote-bg" [style.fontSize]="data.zoom(28)">
          {{item.small_title}}</div>
        <ion-card-content>
          <ion-card-subtitle style="display: flex;" [style.fontSize]="data.zoom(18)">
            <ion-badge color="danger">{{item.small_title}}</ion-badge>
          </ion-card-subtitle>
          <ion-card-title style="margin-top:10px;">{{item.big_title}}</ion-card-title>
        </ion-card-content>
        <!--[autoplay]="autoplayopt" -->
        <ion-card-content>
          <swiper-container #autoswiper
            style="margin-top:0px;margin-bottom: 0px;"
            [autoplay]="autoplayopt"
            [grid]="gridopt"
            slides-Per-View="3.5"
            speed="5000"
            interval="5000"
            duration="5000"
            freeMode="true"
            allow-Touch-Move="false"
            >
            <!--(click)="data.goToAuthor(v)" -->
            <swiper-slide *ngFor="let v of item.items;index as i" class="swiper-slide" 
            [ngStyle]="{'margin-left':(i === data.getInt(item.items.length/3)) ? '40px' : '0px' }">
              <img style="width: 80px;height:80px;border-radius: 10px;" 
                defaultImage="assets/img/default.jpg" 
                lazyLoad="https://reddah.blob.core.windows.net/msjjpoet/{{v.author}}.jpeg"   
                onerror="javascript:this.src='assets/img/default.jpg'"
              />
              <div style="text-align: center;width: 80px;margin-bottom:5px;background-color: rgb(247,247,247);"
              class="show-only-one-line" 
              [style.fontSize]="data.zoom(16)">{{v.author}}</div>
            </swiper-slide>
          </swiper-container>
        </ion-card-content>
      </ion-card>






      <!--group template-->
      <ion-card class="card card-img" card-shrink
      (click)="goToArticle(item)"
      *ngIf="item.template=='group'"
        defaultImage="" 
        lazyLoad="https://reddah.blob.core.windows.net/msjjimg/{{item.bg_image}}"
        style="background-size:cover;min-height: {{item.min_height}};">
        <ion-card-content [ngClass]="{'title-bottom':item.is_title_bottom}">
          <ion-card-subtitle class="card-text" style="color:{{item.title_color}};"
          [style.fontSize]="data.zoom(18)">{{item.small_title}}</ion-card-subtitle>
          <ion-card-title class="card-text" style="color:{{item.title_color}}"
          [style.fontSize]="data.zoom(28)">{{item.big_title}}</ion-card-title>
        </ion-card-content>
        <ion-card-content style="bottom:0;position: absolute;width: 100%; background-color: white;padding-bottom: 20px;"
        (click)="stopBubble($event)">
          <swiper-container #autoswiper
            style="margin-top:0px;margin-bottom: 0px;"
            autoplay="true"
            [grid]="gridopt1"
            slides-Per-View="4"
            speed="5000"
            interval="5000"
            duration="5000"
            freeMode="true"
            allow-Touch-Move="false"
            >
            <swiper-slide *ngFor="let v of item.items;index as i" class="swiper-slide"
            (click)="data.goToAuthor(v.author)"
            >
              <img style="width: 65px;height:65px;border-radius: 10px;border:1px solid lightgoldenrodyellow;" 
                defaultImage="assets/img/default.jpg" 
                lazyLoad="https://reddah.blob.core.windows.net/msjjpoet/{{v.author}}.jpeg"  
                onerror="javascript:this.src='assets/img/default.jpg'"
              />
              <div style="text-align: center;width: 65px;background-color: rgb(247,247,247);"
              class="show-only-one-line" 
              [style.fontSize]="data.zoom(16)">{{v.author}}</div>
            </swiper-slide>
          </swiper-container>
        </ion-card-content>
      </ion-card>




      <!--git template-->
      <ion-card class="card card-gif" id="modal-gif{{i}}" card-shrink
      *ngIf="item.template=='gif'">
        <ion-card-content>
          <ion-card-subtitle>{{item.small_title}}</ion-card-subtitle>
          <ion-card-title>{{item.big_title}}</ion-card-title>
        </ion-card-content>
        <ion-modal trigger="modal-gif{{i}}" #modal [initialBreakpoint]="1" [breakpoints]="[0, 1]">
          <ng-template>
            <ion-content force-overscroll="false">
              <div class="card card-gif">
                <ion-card-content style="z-index:1;position:fixed;width:100%;">
                  <ion-buttons style="display:flex;justify-content:center;width:35px;height:35px;float:right;background-color:rgba(207,207,296,0.5);border-radius: 50%;" (click)="closeModal(i)">
                    <ion-button color="light">
                      <ion-icon name="close-outline"></ion-icon>
                    </ion-button>
                  </ion-buttons>
                </ion-card-content>
                <ion-card-content>
                  <ion-card-subtitle>{{item.small_title}}</ion-card-subtitle>
                  <ion-card-title>{{item.big_title}}</ion-card-title>
                </ion-card-content>
                <ion-card-content>
                </ion-card-content>
              </div>
              <div style="padding:10px;">
                {{item.desc}}
                
              </div>
            </ion-content>
          </ng-template>
        </ion-modal>
      </ion-card>
      
    </div>
  </div>
  

  
<!--
  <div style="display: flex;flex-wrap: wrap;justify-content: center;margin-bottom: 15px;">
    <app-cat-card class="card card-img custom-card"
        section="" 
        sub="" 
        title="Cat 特效">
    </app-cat-card>
  </div>
-->



  <div *ngFor="let list of searchTopicData.list;" style="margin-top:10px;">
    <app-tile 
    [name]="(list.i18n && list.i18n[data.currentLocale]) ? list.i18n[data.currentLocale] : list.name"
    [source]="list.data" *ngIf="list.display!=false"></app-tile>
  </div>

  <app-text 
    [name]="(searchTopicData.i18n && searchTopicData.i18n[data.currentLocale]) ? searchTopicData.i18n[data.currentLocale] : searchTopicData.desctitle"
    [text]="searchTopicData.desc">
  </app-text>

  <div class="placeholder-playbox"></div>

</ion-content>