



ion-card {
    transition: transform 0.2s;
}
  
.shrink-card {
    transform: scale(0.95);
}





.search-box{
    --padding-start:0;
    border-radius: 50px;
    margin:10px;
}

.card {
    min-height: 350px;
    width: 400px;
    margin-top:5px;
    margin-bottom:5px;
}

//screen width smaller than 400px, use the following css
@media screen and (max-width: 400px){  
    .card {
        min-height: 350px;
        width:100%;
    }

    .card-wrap{
        width: 100%;
        display: flex;
    }
}

.card-gif {
    background-color: rgb(187,205,253);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: bottom;
    background-image: url('https://reddah.blob.core.windows.net/msjjimg/cardn1.jpg');
}

.card-vote {
    background-color: rgb(225,213,196); 
    background-image: linear-gradient(rgb(225,213,196), #fff 10% , #fff 60%);

    .card-vote-bg {
        position:absolute;
        font-size: 50px;
        font-weight: bold;
        color:rgb(225,213,196,35%);
        margin-left: 5px;
        margin-top:-10px;
    }
}

.card-img {
    background-color: rgb(187,205,253);
    background-repeat: no-repeat;
    background-position: bottom;
    background-image: url('/assets/img/water.jpg');

    .card-text{
        color:white;
    }
}




.card-scroll {
    .card-text{
        color: gray;
        margin: 5px 0;
    }
}

.card-scroll-box{
    display: flex;
    overflow-x: auto;
    width: 100%;
}

.card-scroll-box::-webkit-scrollbar {
    display: none;
}

.card-scroll-item{
    min-width:120px;
    height: 250px;
    margin-right:10px;
    
    .card-image{
        width: 100%;
        height: 200px;
        border-radius: 10px;

        background-repeat: no-repeat;
        background-position: bottom;
    }

    .contain{
        background-size: contain;
    }
    .cover{
        background-size: cover;
    }

    .card-text{
        margin-top:5px;
        margin-left:3px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}

.slide {
    min-height: 120px;
}




.title-bottom{
    display: flex;
    flex-direction: column;
    justify-content: end;
    height: 100%;
}


