.tab1-page-bg {
    position: fixed;
    top: 50%;
    right: 0;
    transform: translateY(-50%) translateX(20%);
    width: 50vw;
    height: 100vh;
    background-image: url('/assets/img/tab1-nobg.png');
    background-repeat: no-repeat;
    background-position: left center;
    background-size: auto 100%;
    opacity: 0.22;
    pointer-events: none;
    z-index: 0;
}

.tab1-page-bg[slot='fixed'] {
    position: absolute;
}

@media screen and (min-width: 768px) and (max-width: 1024px) and (orientation: portrait) {
    .tab1-page-bg {
        transform: translateY(-50%) translateX(0);
    }
}

ion-content > *:not(.tab1-page-bg) {
    position: relative;
    z-index: 1;
}




.card-scroll-item1{
    min-height: 100px;
    width: 100%;
    //padding-top: 100%; /* Create a square aspect ratio */
    position: relateive;
    top: 0;
    left: 0;
    border-radius: 10px;
    .card-image{
        width: 100%;
        border-radius: 10px;

        background-repeat: no-repeat;
        background-position: bottom;
    }

    .contain{
        background-size: contain;
    }
    .cover{
        background-size: cover;
    }
}

.card-text-style{
    color: black;
    margin-top: 5px;
    margin-left: 5px;
    
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
}

.lock{
   filter: grayscale(100%);
   //opacity: 0.1;
   //scale:0.5;
   border:1px solid orange;
}