.countdown-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;
  
    .countdown {
      font-size: 4rem;
      //animation: pulse 1s infinite alternate; /* Example animation */
    }
  
    @keyframes pulse {
      from {
        transform: scale(1);
      }
      to {
        transform: scale(1.3);
      }
    }
  }
  
  .ios h2.alert-sub-title {
    font-size: 3rem;
  }