
<ion-header [translucent]="true" *ngIf="listdata" style="box-shadow: none;">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="" (click)="ui.goback()" [text]="''"></ion-back-button>
    </ion-buttons>
    <ion-title>{{listdata.name}}</ion-title>
    <ion-buttons slot="end">
      <ion-button slot="end" shape="round" *ngIf="listdata&&!data.isliked(listdata,'idlist')"
      (click)="data.likelist(listdata,'idlist')"
      style="margin-left:5px;background-color: rgb(247,247,247);border-radius: 50%;">
        <ion-icon name="add-outline"></ion-icon>
      </ion-button>
      <ion-button slot="end" id="popover-button-list-{{data.currentTab}}" shape="round" 
      style="margin-left:5px;margin-right:10px;background-color: rgb(247,247,247);border-radius: 50%;">
        <ion-icon name="ellipsis-horizontal"></ion-icon>
      </ion-button>
      <ion-popover trigger="popover-button-list-{{data.currentTab}}" [dismissOnSelect]="true" arrow="false">
        <ng-template>
          <ion-content>
            <ion-list>
              <ion-item lines="full" [button]="true" [detail]="false"
              *ngIf="data.isliked(listdata,'idlist')" 
              (click)="data.unlikelist(listdata,'idlist')">
                <ion-text color="danger">从诗词库中删除</ion-text>
                <ion-icon name="trash-outline" slot="end" color="danger"></ion-icon>
              </ion-item>
              <!--
              <ion-item lines="full" [button]="true" [detail]="false">
                收藏
                <ion-icon name="add-outline" slot="end"></ion-icon>
              </ion-item>-->
              <ion-item lines="full" [button]="true" [detail]="false"
              *ngIf="!data.isliked(listdata,'idlist')"  
              (click)="data.likelist(listdata, 'idlist')">
                添加到诗词库
                <ion-icon name="add-outline" slot="end"></ion-icon>
              </ion-item>
              <!--
              <ion-item lines="full" [button]="true" [detail]="false" (click)="addToCustomList(p)">
                添加到诗单列表...
                <ion-icon name="add-circle-outline" slot="end"></ion-icon>
              </ion-item>
              -->
              <!--
              <ion-item lines="full" [button]="true" [detail]="false">
                分享
                <ion-icon name="share-outline" slot="end"></ion-icon>
              </ion-item>-->
            </ion-list>
          </ion-content>
        </ng-template>
      </ion-popover>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" *ngIf="listdata">
  <ion-header collapse="{{ui.isIos?'condense':'fade'}}" style="box-shadow: none;">
    <ion-toolbar>
      <ion-searchbar placeholder="搜索" show-cancel-button="focus" *ngIf="localList.length>10||searchText.length>0"
      style="padding-left:15px;"
      [(ngModel)]="searchText"
      (ionFocus)="onSearchFocus()"
      (ionCancel)="onSearchCancel()"
      (ionInput)="onSearchChanged()"
      cancel-button-text="取消"
      ></ion-searchbar>
      <div *ngIf="!showFilter"
      style="width:100%;display: flex;justify-content: center;flex-direction: column;margin-top:20px;">
        <ion-card style="margin:auto;width:200px;height:200px;
          background-image: url({{listdata.image}});background-size:cover;
          background-repeat: no-repeat;
          border-radius: 10px;" (click)="ui.imageviewer(listdata.image)">
        </ion-card>
      </div>
      <div *ngIf="!showFilter"
      style="width:100%;display: flex;justify-content: center;flex-direction: column;margin-top:10px;margin-bottom:0px;">
        <ion-text mode="ios" style="font-size:20px; margin:5px;text-align: center;" *ngIf="listdata">
          {{listdata.name}} 
        </ion-text>
        <ion-text mode="ios" color="primary" style="font-size:20px; margin:15px;text-align: center;" *ngIf="listdata">
          {{listdata.sub}} 
        </ion-text>
        <ion-text mode="ios" color="medium" style="font-size:15px; margin:15px;text-align: center;" *ngIf="listdata&&listdata.more">
          {{listdata.more}} 
        </ion-text>
      </div>
    </ion-toolbar>
  </ion-header>

  <div style="display: flex;margin:10px 20px;">
    <ion-button color="light" style="width: 100%;margin-right:10px;" [disabled]="noAudio"
    (click)="data.playList(listdata.list, listdata.name)">
      <ion-icon slot="start" name="play" color="primary"></ion-icon>
      <ion-text color="primary">播放</ion-text>
    </ion-button>
    <ion-button color="light" style="width: 100%;margin-left:10px;" [disabled]="noAudio"
    (click)="data.playListRandomly(listdata.list, listdata.name)">
      <ion-icon slot="start" name="shuffle" color="primary"></ion-icon>
      <ion-text color="primary">随机播放</ion-text>
    </ion-button>
  </div>

  <app-text name="" [text]="listdata.desc" *ngIf="!showFilter"></app-text>
    
  <ion-list *ngIf="listdata" style="margin-left:5px;margin-top:20px;">
    <ion-item *ngFor="let p of localList" style="--padding-start:15px;--inner-padding-end:10px;">
      <ion-thumbnail slot="start" (click)="data.goToAuthor(p.author)"
      style="display: flex;justify-content: center;align-items: center;">
        <img style="border-radius: 10px;" src="{{p.txtimg}}" *ngIf="p.txtimg" />
        <img id="authorimg" style="border-radius: 10px;" src="/assets/img/poet/{{p.author}}.jpeg" onerror="javascript:this.src='/assets/img/default.jpg'" *ngIf="!p.txtimg" 
          [ngStyle]="{'opacity':(data.currentPoem&&p.audio&&p.id === data.currentPoem.id) ? '0.5' : '1' }" />
        <div class="playing" style="position: fixed;" *ngIf="data.currentPoem&&p.audio&&p.id === data.currentPoem.id"
          [ngStyle]="{'animation-duration':(data.isPlaying) ? '1s' : '1000s',
        'height':(data.isPlaying) ? '' : '5px' }"
        ></div>
      </ion-thumbnail>
      <ion-label (click)="data.playListByPoem(listdata.list, p, listdata.name)">
        <h2>{{p.sample?p.sample:p.paragraphs[0]}}</h2>
        <p style="margin-top:5px;display: flex;align-items: end;">
          {{p.author}}《{{p.title}}》
          <ion-icon name="mic-outline" *ngIf="p.audio" color="primary"></ion-icon>
        </p>
      </ion-label>

      <app-button-end [p]="p" page="idlist" slot="end"></app-button-end>
    </ion-item>
  </ion-list>


  <ion-list  *ngIf="!showFilter"
  style="margin-top:20px;margin-bottom: 20px;">
    <ion-text color="medium" *ngIf="listdata" style="margin:20px;">{{listdata.list.length}}首诗词</ion-text>
  </ion-list>
    
  <ion-toolbar *ngIf="!showFilter&&poets.length>2">
    <app-author name="此诗单中的诗人" [source]="poets"></app-author>
  </ion-toolbar>

  <div class="placeholder-playbox"></div>
</ion-content>

