.today-box{
    background-color:#eeeeee;
    display:flex;
    justify-content:center;
    margin:10px 20px;
    border-radius:5px;
}
.today-card{
    border-radius: 5px;
    padding:5px;
    background-color:white;
    margin:10px 5px;
    font-size: x-large;
    font-weight: bold;
}

.today-split{
    font-size: x-large;
    font-weight: bold;
    color:gray;
    padding-top: 20px;
}

.history-box{
    padding:10px 10px;
}

.his-title {
    vertical-align:top;
    font-size: large;
}

/*make header not transparent when page loaded*/
ion-header, ion-toolbar {
  --background: #fff !important;
  background: #fff !important;
  backdrop-filter: none !important;
  box-shadow: 0 2px 4px rgba(0,0,0,0.03);
  /* Remove any transparency */
  opacity: 1 !important;
}