<ion-content [fullscreen]="true" [scrollY]="false" [forceOverscroll]="false" class="screen-saver-content">
  <div class="screen-saver-page" (pointerup)="onScreenPointerUp($event)">
    <div class="back-button-wrap" [class.is-visible]="showBackButton">
      <ion-button
        class="back-button"
        fill="clear"
        size="small"
        (click)="goBackToPoemList($event)"
      >
        <ion-icon name="chevron-back-outline"></ion-icon>
      </ion-button>
    </div>

    <div class="center-panel">
      <div class="timer">{{ currentTime }}</div>
      <div class="title">{{ title }}</div>
    </div>

    <div class="text-streams" *ngIf="streams.length > 0">
      <div
        class="text-stream"
        *ngFor="let stream of streams"
        [style.right.px]="stream.rightPx"
        [style.width.px]="stream.columnWidthPx"
        [style.zIndex]="stream.zIndex"
      >
        <div
          class="text-flow"
          [style.animationDuration.s]="stream.durationSec"
          [style.animationDelay.s]="stream.delaySec"
          [style.fontSize.px]="stream.fontSizePx"
          [style.color]="stream.color"
          [style.opacity]="stream.opacity"
          [style.letterSpacing.px]="stream.letterSpacingPx"
          [style.--glyph-safe-inset-px.px]="stream.glyphSafeInsetPx"
        >
          {{ stream.repeatedText }}
        </div>
        <div
          class="text-flow"
          [style.animationDuration.s]="stream.durationSec"
          [style.animationDelay.s]="stream.delaySec - (stream.durationSec / 2)"
          [style.fontSize.px]="stream.fontSizePx"
          [style.color]="stream.color"
          [style.opacity]="stream.opacity"
          [style.letterSpacing.px]="stream.letterSpacingPx"
          [style.--glyph-safe-inset-px.px]="stream.glyphSafeInsetPx"
        >
          {{ stream.repeatedText }}
        </div>
      </div>
    </div>
  </div>
</ion-content>
