.station-text{
    font-size:20px;
    font-weight: normal;
}

.card {
    min-height: 350px;
    width: 400px;
    margin-top:5px;
    margin-bottom:5px;
}

//screen width smaller than 400px, use the following css
@media screen and (max-width: 400px){  
    .card {
        min-height: 350px;
        width:100%;
    }

    .card-wrap{
        width: 100%;
        display: flex;
    }
}

.card-gif {
    background-color: rgb(187,205,253);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: bottom;

    .card-text{
        color:white;
    }
}

.container {
    position: fixed;
    width: 100%;
    height: 100%;
    background-image: -webkit-radial-gradient(70% 120%, 1600px, rgba(33, 39, 80, 1) 10%, #020409 100%);
    background-image: radial-gradient(1600px at 70% 120%, rgba(33, 39, 80, 1) 10%, #020409 100%);
}

.container1{
    position: absolute;
    left: 0;
    top: 0;
}

.asciiart-wrap {
    background: #000;
}
.asciiart {
    -webkit-background-clip: text;
    background-clip: text;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    -webkit-text-fill-color: transparent;
    text-fill-color: transparent;
    word-break: break-all;
    color: #fff;
    font-family: monospace;
    font-size: 8px;
    font-weight: bold;
    letter-spacing: -1px;
    margin-bottom: 30px;
    padding: 3px;
    text-align: justify;
}
.art-1 {
    background-image: url('/assets/img/lotus-7511897_1280.jpg');
}
.art-2 {
    background-image: url(https://unsplash.it/1200/600/?image=1080);
}