<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="" (click)="ui.goback()" [text]="''"></ion-back-button>
    </ion-buttons>
    <ion-title>{{tag}}</ion-title>
    <ion-buttons slot="end">
      <ion-button slot="end" shape="round" *ngIf="!data.isliked(data.currentItem,'taglist')"
      (click)="data.likelist(data.currentItem,'taglist')"
      style="background-color: rgb(247,247,247);border-radius: 50%;">
        <ion-icon name="add-outline"></ion-icon>
      </ion-button>
      <ion-button slot="end" id="popover-button-tag-{{data.currentTab}}" shape="round" 
      style="margin-left:10px;margin-right:15px;background-color: rgb(247,247,247);border-radius: 50%;">
        <ion-icon name="ellipsis-horizontal"></ion-icon>
      </ion-button>
      <ion-popover trigger="popover-button-tag-{{data.currentTab}}" [dismissOnSelect]="true" arrow="false">
        <ng-template>
          <ion-content>
            <ion-list>
              <ion-item lines="full" [button]="true" [detail]="false"
              *ngIf="data.isliked(data.currentItem,'taglist')" 
              (click)="data.unlikelist(data.currentItem,'taglist')">
                <ion-text color="danger">{{ ui.instant('Action.DeleteFromLib') }}<!--从诗词库中删除--></ion-text>
                <ion-icon name="trash-outline" slot="end" color="danger"></ion-icon>
              </ion-item>
              <!--
              <ion-item lines="full" [button]="true" [detail]="false">
                收藏
                <ion-icon name="add-outline" slot="end"></ion-icon>
              </ion-item>
              -->
              <ion-item lines="full" [button]="true" [detail]="false"
              *ngIf="!data.isliked(data.currentItem,'taglist')"  
              (click)="data.likelist(data.currentItem, 'taglist')">
                {{ ui.instant('Action.AddToLib') }}<!--添加到诗词库-->
                <ion-icon name="add-outline" slot="end"></ion-icon>
              </ion-item>
              <!--
              <ion-item lines="full" [button]="true" [detail]="false" (click)="addToCustomList(p)">
                添加到诗单列表...
                <ion-icon name="add-circle-outline" slot="end"></ion-icon>
              </ion-item>
              -->
              <!--
              <ion-item lines="full" [button]="true" [detail]="false">
                分享
                <ion-icon name="share-outline" slot="end"></ion-icon>
              </ion-item>-->
            </ion-list>
          </ion-content>
        </ng-template>
      </ion-popover>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content #pageTop [fullscreen]="true" *ngIf="localJsonData&&displayResult">
  <ion-card class="card card-img" *ngIf="!showFilter"
      (click)="ui.imageviewer(getUrl())"
      defaultImage="" 
      lazyLoad="{{getUrl()}}"
      style="background-size:cover;min-height: 300px;
        margin-top:0;
        margin-left:0;
        margin-right:0;
        border-radius: 0;
      ">
      <ion-card-content>
        <ion-card-subtitle class="card-text" style="font-size:18px;"></ion-card-subtitle>
        <ion-card-title class="card-text" style="color:white;">{{tag}}</ion-card-title>
      </ion-card-content>
  </ion-card>
  <ion-header collapse="condense">
    <ion-toolbar><!--搜索-->
      <ion-searchbar placeholder="{{ ui.instant('Action.Search') }}"
      style="padding-left:15px;"
      [(ngModel)]="searchText"
      (ionFocus)="onSearchFocus()"
      (ionCancel)="onSearchCancel()"
      (ionInput)="onSearchChanged()"
      ></ion-searchbar>
    </ion-toolbar>
  </ion-header>

  <app-text [name]="authorData.name" [text]="authorData.desc" *ngIf="!showFilter&&authorData"></app-text>


  <ion-list style="margin-top:20px;margin-bottom: 20px;" *ngIf="!showFilter">
    <ion-text color="medium" *ngIf="displayResult" style="margin:20px;">
      {{localJsonData.length}}{{ ui.instant('Title.PoemCount') }}<!--首诗词-->
    </ion-text>
  </ion-list>

  <ion-list *ngIf="displayResult" style="margin-left:5px;">
    <ion-item *ngFor="let p of displayResult" style="--padding-start:15px;--inner-padding-end:10px;">
      <ion-thumbnail slot="start" (click)="data.goToAuthor(p.author)"
        style="display: flex;justify-content: center;align-items: center;">
        <img style="border-radius: 10px;" 
          defaultImage="assets/img/default.jpg" 
          lazyLoad="{{'https://reddah.blob.core.windows.net/msjj'+(p.image?p.image:'poet/'+p.author+'.jpeg')}}"
          onerror="javascript:this.src='assets/img/default.jpg'" 
          [ngStyle]="{'opacity':(data.currentPoem&&p.audio&&p.id === data.currentPoem.id) ? '0.5' : '1' }" />
        <div class="playing" style="position: fixed;" *ngIf="data.currentPoem&&p.audio&&p.id === data.currentPoem.id"
          [ngStyle]="{'animation-duration':(data.isPlaying) ? '1s' : '1000s',
          'height':(data.isPlaying) ? '' : '5px' }"
        ></div>
      </ion-thumbnail>
      <ion-label (click)="data.playobj(p)">
        <h2 class="show-only-one-line">
          {{p.paragraphs[0]}}
        </h2>
        <p style="margin-top:5px;display: flex;align-items: end;"
         class="show-only-one-line">
          {{p.author}}《{{p.title}}》
          <ion-icon name="headset" *ngIf="p.audio" color="primary"></ion-icon>
        </p>
      </ion-label>
      <app-button-end [p]="p" page="taglist" slot="end"></app-button-end>
    </ion-item>
    <ion-infinite-scroll (ionInfinite)="onIonInfinite($event)">
      <ion-infinite-scroll-content></ion-infinite-scroll-content>
    </ion-infinite-scroll>
  </ion-list>




  <div class="placeholder-playbox"></div>
</ion-content>
