<div
  class="sf-wrap"
  id="down_shoujuan"
  [class.sf-wrap-tf]="normalizedTpl === 'tf'"
  [class.sf-wrap-dl]="normalizedTpl === 'dl'"
  [class.sf-wrap-4t]="normalizedTpl === '4t'"
  [class.touming]="tm === true"
  [style.zoom.%]="normalizedZoom"
  style="margin-top:15px;margin-bottom:15px;"
>
  <ng-container *ngIf="isSzTemplate; else nonSzTemplate">
    <div class="more_content_shoujuan" 
    [class.touming]="tm === true">
      <div class="more_content_shoujuan_bg" 
      [class.touming]="tm === true"
      [style.background-image]="selectedBackgroundImage">
        <div class="sf-top-seal">
          <div class="sf-top-seal-inner" *ngIf="!tm">
            <img src="assets/shufa/bg/yin_sm_kuan1.gif" alt="seal" />
          </div>
        </div>

        <div class="sf-columns-wrap">
          <div class="more_content_shoujuan_float" *ngFor="let col of columns">
            <div class="more_content_shoujuan_all">
              <div class="more_content_shu2_bg">
                <div class="more_list" *ngFor="let glyph of col">
                  <div class="more_list_img" [title]="glyph.author ? '(' + glyph.char + ')' + glyph.author : glyph.char">
                    <img *ngIf="glyph.imageSrc; else charFallbackSz" [src]="glyph.imageSrc" [alt]="glyph.char" loading="lazy" 
                    [class.toumingtext]="color === 'white'" />
                    <ng-template #charFallbackSz>
                      <div class="sf-char-fallback">{{ glyph.char }}</div>
                    </ng-template>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="more_content_shoujuan_float sf-side-seals" *ngIf="columns.length">
            <div class="sf-side-seals-inner">
              <img *ngFor="let sealSrc of sideSealImageSrcs" [src]="sealSrc" [alt]="name ? name + ' seal' : 'seal'" 
              [class.toumingtext]="color === 'white'"/>
              <img src="assets/shufa/bg/yin_heng_kuan.gif" alt="seal" *ngIf="!tm"/>
            </div>
          </div>
        </div>
      </div>
    </div>
  </ng-container>

  <ng-template #nonSzTemplate>
    <ng-container *ngIf="isHfTemplate; else nonHfTemplate">
      <ng-container *ngTemplateOutlet="hfTemplate"></ng-container>
    </ng-container>
  </ng-template>

  <ng-template #nonHfTemplate>
    <ng-container *ngIf="isDlTemplate; else nonDlTemplate">
      <ng-container *ngTemplateOutlet="dlTemplate"></ng-container>
    </ng-container>
  </ng-template>

  <ng-template #nonDlTemplate>
    <ng-container *ngIf="isFourTTemplate; else tfTemplate">
      <ng-container *ngTemplateOutlet="fourTTemplate"></ng-container>
    </ng-container>
  </ng-template>

  <ng-template #hfTemplate>
    <div class="sf-hf-down" [class.touming]="tm === true">
      <div class="sf-hf-more-content">
        <div class="sf-hf-overlay" *ngIf="columns.length">
          <div class="sf-hf-overlay-bg">
            <div class="sf-hf-overlay-list" [style.width.%]="hfItemWidthPercent">
              <div class="sf-hf-overlay-list-img">
                <img *ngFor="let sealSrc of sideSealImageSrcs" [src]="sealSrc" [alt]="name ? name + ' seal' : 'seal'" />
                <img src="assets/shufa/bg/yin_heng_kuan.gif" alt="seal" class="sf-hf-yin-heng-img" 
                 *ngIf="!tm"/>
              </div>
            </div>
          </div>
        </div>

        <div class="sf-hf-content-bg" [style.background-image]="selectedBackgroundImage"
        [class.touming]="tm === true">
          <div class="sf-hf-top-seal">
            <div class="sf-hf-top-seal-col">
              <div class="sf-hf-top-seal-inner">
                <img src="assets/shufa/bg/yin_sm_kuan1.gif" alt="seal"  *ngIf="!tm"/>
              </div>
            </div>
          </div>

          <div class="sf-hf-more-list" *ngFor="let glyph of hfGlyphs" [style.width.%]="hfItemWidthPercent">
            <div class="sf-hf-more-list-img" [title]="glyph.author ? '(' + glyph.char + ')' + glyph.author : glyph.char">
              <img *ngIf="glyph.imageSrc; else charFallbackHf" [src]="glyph.imageSrc" [alt]="glyph.char" loading="lazy" 
              [class.toumingtext]="color === 'white'" />
              <ng-template #charFallbackHf>
                <div class="sf-char-fallback">{{ glyph.char }}</div>
              </ng-template>
            </div>
          </div>

          <div class="sf-hf-clear"></div>
        </div>
      </div>
    </div>
  </ng-template>

  <ng-template #tfTemplate>
    <div class="sf-tf-down" [class.touming]="tm === true">
      <div class="sf-tf-overlay" *ngIf="hfGlyphs.length">
        <div class="sf-tf-overlay-bg">
          <div class="sf-tf-overlay-list">
            <div class="sf-tf-overlay-list-inner">
              <img *ngFor="let sealSrc of sideSealImageSrcs" [src]="sealSrc" [alt]="name ? name + ' seal' : 'seal'" 
              [class.toumingtext]="color === 'white'" />
              <img src="assets/shufa/bg/yin_heng_kuan.gif" alt="seal" class="sf-tf-overlay-last-seal" 
               *ngIf="!tm"/>
            </div>
          </div>
        </div>
      </div>

      <div class="sf-tf-content"
      [class.touming]="tm === true">
        <div class="sf-tf-content-bg" [style.background-image]="selectedBackgroundImage"
        [class.touming]="tm === true">
          <div class="sf-tf-list" *ngFor="let glyph of hfGlyphs">
            <div class="sf-tf-list-img" [title]="glyph.author ? '(' + glyph.char + ')' + glyph.author : glyph.char">
              <img *ngIf="glyph.imageSrc; else charFallbackTf" [src]="glyph.imageSrc" [alt]="glyph.char" loading="lazy" 
              [class.toumingtext]="color === 'white'"/>
              <ng-template #charFallbackTf>
                <div class="sf-char-fallback">{{ glyph.char }}</div>
              </ng-template>
            </div>
          </div>
          <div class="sf-hf-clear"></div>
        </div>
      </div>
    </div>
  </ng-template>

  <ng-template #dlTemplate>
    <div class="sf-dl-down">
      <div class="sf-dl-overlay" *ngIf="sideSealImageSrcs.length">
        <div class="sf-dl-overlay-inner">
          <div class="sf-dl-overlay-list">
            <div class="sf-dl-overlay-list-inner">
              <img *ngFor="let sealSrc of sideSealImageSrcs" [src]="sealSrc" [alt]="name ? name + ' seal' : 'seal'" 
              [class.toumingtext]="color === 'white'" />
              <img src="assets/shufa/bg/yin_heng_kuan.gif" alt="seal" class="sf-dl-overlay-last-seal" 
               *ngIf="!tm"/>
            </div>
          </div>
        </div>
      </div>

      <div class="sf-dl-content">
        <div class="sf-dl-content-bg">
          <div class="sf-dl-column" *ngFor="let col of dlColumns">
            <div class="sf-dl-column-card">
              <div class="sf-dl-column-inner" [style.background-image]="selectedBackgroundImage">
                <div class="sf-dl-list" *ngFor="let glyph of col">
                  <div class="sf-dl-list-img" [title]="glyph.author ? '(' + glyph.char + ')' + glyph.author : glyph.char">
                    <img *ngIf="glyph.imageSrc; else charFallbackDl" [src]="glyph.imageSrc" [alt]="glyph.char" loading="lazy" />
                    <ng-template #charFallbackDl>
                      <div class="sf-char-fallback">{{ glyph.char }}</div>
                    </ng-template>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="sf-hf-clear"></div>
        </div>
      </div>
    </div>
  </ng-template>

  <ng-template #fourTTemplate>
    <div class="sf-4t-down">
      <div class="sf-4t-overlay" *ngIf="sideSealImageSrcs.length">
        <div class="sf-4t-overlay-inner">
          <div class="sf-4t-overlay-list">
            <div class="sf-4t-overlay-list-inner">
              <img *ngFor="let sealSrc of sideSealImageSrcs" [src]="sealSrc" [alt]="name ? name + ' seal' : 'seal'" 
              [class.toumingtext]="color === 'white'" />
              <img src="assets/shufa/bg/yin_heng_kuan.gif" alt="seal" class="sf-4t-overlay-last-seal" />
            </div>
          </div>
          <div class="sf-hf-clear"></div>
        </div>
      </div>

      <div class="sf-4t-content">
        <div class="sf-4t-content-bg">
          <div class="sf-4t-column" *ngFor="let col of fourTColumns">
            <div class="sf-4t-column-card">
              <div class="sf-4t-column-inner" [style.background-image]="selectedBackgroundImage">
                <div class="sf-dl-list" *ngFor="let glyph of col">
                  <div class="sf-dl-list-img" [title]="glyph.author ? '(' + glyph.char + ')' + glyph.author : glyph.char">
                    <img *ngIf="glyph.imageSrc; else charFallback4t" [src]="glyph.imageSrc" [alt]="glyph.char" loading="lazy" />
                    <ng-template #charFallback4t>
                      <div class="sf-char-fallback">{{ glyph.char }}</div>
                    </ng-template>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="sf-hf-clear"></div>
        </div>
      </div>
    </div>
  </ng-template>

  <!-- 
  <div class="sf-name" *ngIf="name">{{ name }}</div> -->

  <div class="fixed_bottom" *ngIf="shouldShowBackgroundBar">
    <div class="sf-background-buttons">
      <span
        *ngFor="let bg of backgroundOptions"
        [id]="bg.id"
        [style.background-image]="bg.image ? 'url(' + bg.image + ')' : 'none'"
        (click)="setBackground(bg.id)"
        [class.is-selected]="isSelectedBackground(bg.id)"
      >
        {{ bg.label }}
      </span>
    </div>
  </div>
</div>
