<div class="sf-wrap" id="down_shoujuan" [class.sf-wrap-tf]="normalizedTpl === 'tf'" style="margin-top:15px;">
  <ng-container *ngIf="isSzTemplate; else nonSzTemplate">
    <div class="more_content_shoujuan">
      <div class="more_content_shoujuan_bg" [style.background-image]="selectedBackgroundImage">
        <div class="sf-top-seal">
          <div class="sf-top-seal-inner">
            <img src="assets/shufa/bg/yin_sm_kuan1.gif" alt="seal" />
          </div>
        </div>

        <div class="sf-columns-wrap">
          <div class="more_content_shoujuan_float" *ngFor="let col of columns">
            <div class="more_content_shoujuan_all">
              <div class="more_content_shu2_bg">
                <div class="more_list" *ngFor="let glyph of col">
                  <div class="more_list_img" [title]="glyph.author ? '(' + glyph.char + ')' + glyph.author : glyph.char">
                    <img *ngIf="glyph.imageSrc; else charFallbackSz" [src]="glyph.imageSrc" [alt]="glyph.char" loading="lazy" />
                    <ng-template #charFallbackSz>
                      <div class="sf-char-fallback">{{ glyph.char }}</div>
                    </ng-template>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="more_content_shoujuan_float sf-side-seals" *ngIf="columns.length">
            <div class="sf-side-seals-inner">
              <img *ngFor="let sealSrc of sideSealImageSrcs" [src]="sealSrc" [alt]="name ? name + ' seal' : 'seal'" />
              <img src="assets/shufa/bg/yin_heng_kuan.gif" alt="seal" />
            </div>
          </div>
        </div>
      </div>
    </div>
  </ng-container>

  <ng-template #nonSzTemplate>
    <ng-container *ngIf="isHfTemplate; else tfTemplate">
      <ng-container *ngTemplateOutlet="hfTemplate"></ng-container>
    </ng-container>
  </ng-template>

  <ng-template #hfTemplate>
    <div class="sf-hf-down">
      <div class="sf-hf-more-content">
        <div class="sf-hf-overlay" *ngIf="columns.length">
          <div class="sf-hf-overlay-bg">
            <div class="sf-hf-overlay-list" [style.width.%]="hfItemWidthPercent">
              <div class="sf-hf-overlay-list-img">
                <img *ngFor="let sealSrc of sideSealImageSrcs" [src]="sealSrc" [alt]="name ? name + ' seal' : 'seal'" />
                <img src="assets/shufa/bg/yin_heng_kuan.gif" alt="seal" class="sf-hf-yin-heng-img" />
              </div>
            </div>
          </div>
        </div>

        <div class="sf-hf-content-bg" [style.background-image]="selectedBackgroundImage">
          <div class="sf-hf-top-seal">
            <div class="sf-hf-top-seal-col">
              <div class="sf-hf-top-seal-inner">
                <img src="assets/shufa/bg/yin_sm_kuan1.gif" alt="seal" />
              </div>
            </div>
          </div>

          <div class="sf-hf-more-list" *ngFor="let glyph of hfGlyphs" [style.width.%]="hfItemWidthPercent">
            <div class="sf-hf-more-list-img" [title]="glyph.author ? '(' + glyph.char + ')' + glyph.author : glyph.char">
              <img *ngIf="glyph.imageSrc; else charFallbackHf" [src]="glyph.imageSrc" [alt]="glyph.char" loading="lazy" />
              <ng-template #charFallbackHf>
                <div class="sf-char-fallback">{{ glyph.char }}</div>
              </ng-template>
            </div>
          </div>

          <div class="sf-hf-clear"></div>
        </div>
      </div>
    </div>
  </ng-template>

  <ng-template #tfTemplate>
    <div class="sf-tf-down">
      <div class="sf-tf-overlay" *ngIf="hfGlyphs.length">
        <div class="sf-tf-overlay-bg">
          <div class="sf-tf-overlay-list">
            <div class="sf-tf-overlay-list-inner">
              <img *ngFor="let sealSrc of sideSealImageSrcs" [src]="sealSrc" [alt]="name ? name + ' seal' : 'seal'" />
              <img src="assets/shufa/bg/yin_heng_kuan.gif" alt="seal" class="sf-tf-overlay-last-seal" />
            </div>
          </div>
        </div>
      </div>

      <div class="sf-tf-content">
        <div class="sf-tf-content-bg" [style.background-image]="selectedBackgroundImage">
          <div class="sf-tf-list" *ngFor="let glyph of hfGlyphs">
            <div class="sf-tf-list-img" [title]="glyph.author ? '(' + glyph.char + ')' + glyph.author : glyph.char">
              <img *ngIf="glyph.imageSrc; else charFallbackTf" [src]="glyph.imageSrc" [alt]="glyph.char" loading="lazy" />
              <ng-template #charFallbackTf>
                <div class="sf-char-fallback">{{ glyph.char }}</div>
              </ng-template>
            </div>
          </div>
          <div class="sf-hf-clear"></div>
        </div>
      </div>
    </div>
  </ng-template>

  <!-- 
  <div class="sf-name" *ngIf="name">{{ name }}</div> -->

  <div class="fixed_bottom">
    <div class="sf-background-buttons">
      <span
        *ngFor="let bg of backgroundOptions"
        [id]="bg.id"
        [style.background-image]="bg.image ? 'url(' + bg.image + ')' : 'none'"
        (click)="setBackground(bg.id)"
        [class.is-selected]="isSelectedBackground(bg.id)"
      >
        {{ bg.label }}
      </span>
    </div>
  </div>
</div>
