.station-text{
    font-size:20px;
    font-weight: normal;
}

.card {
    min-height: 380px;
    width: 400px;
    margin-top:5px;
    margin-bottom:5px;
    overflow: hidden;
}

//screen width smaller than 400px, use the following css
@media screen and (max-width: 400px){  
    .card {
        min-height: 380px;
        width:100%;
    }

    .card-wrap{
        width: 100%;
        display: flex;
    }
}

.card-gif {
    background:
        radial-gradient(circle at top, rgba(73, 129, 255, 0.25), transparent 45%),
        linear-gradient(180deg, #0e1526 0%, #04070d 100%);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: bottom;

    .card-text{
        color:white;
    }
}




.container {
    background: -webkit-radial-gradient(circle cover, #cfe6fc, #6eb3f7);
    background: radial-gradient(circle cover, #cfe6fc, #6eb3f7);
    overflow: hidden;
}
canvas {
    display: block;
    left:0;
    top:0;
    position: fixed;
    height: 380px;
    width:100%;
}