<ion-card class="card card-gif" card-shrink
[style.width]="viewer ? 'auto' : 400 + 'px'"
  [style.margin]="viewer ? '0' : null"
  [style.borderRadius]="viewer ? '0' : null">
  <ion-card-content class="container">
    <ion-card-subtitle class="card-text" style="z-index: 10;"
    [style.marginTop]="viewer ? '20px' : null"
    [style.fontSize]="data.zoom(18)">{{sub}}</ion-card-subtitle>
    <ion-card-title class="card-text" style="z-index: 10;"
    [style.fontSize]="data.zoom(28)">{{title}}</ion-card-title>
    <section class="fog">
        <figure class="absolute-bg" style="background-image: url('/assets/img/带我去月球.jpg');"></figure>
        <div class="fog__container">
            <div class="fog__img fog__img--first"></div>
            <div class="fog__img fog__img--second"></div>
        </div>
    </section>
  </ion-card-content>
</ion-card>