
.station-bg-title {
    font-family: wenyuefangsong;
    position:absolute;
    font-size: 100px;
    font-weight: 50px;
    color:rgb(#000,0.1);
    margin-left: 5px;
    margin-bottom:0px;
    z-index: 1;
    height: 100%;
    display: flex;
    padding: 10px;
    width: 100%;
    //align-items: flex-end;
    text-wrap: nowrap;
    //-webkit-backdrop-filter:saturate(210%) blur(20px);backdrop-filter:saturate(210%) blur(20px);
}

.station-text{
    color:black;
    font-size:20px;
    font-weight: normal;
}

.station-type{
    color:black;
    font-size:20px;
    font-weight: lighter;
}

.station-content{
    display: flex;
    background-size:cover;
    min-height:220px;
    font-size: 15px;
    font-weight: normal;
    color:white;
    padding:0;
}






.card-scroll {
    .card-text{
        color: gray;
        margin: 5px 0;
    }
}

.card-scroll-box{
    display: flex;
    overflow-x: auto;
    width: 100%;
}

.card-scroll-box::-webkit-scrollbar {
    display: none;
}

.card-scroll-item{
    min-width:150px;
    height: 100%;
    margin-right:10px;
    
    .card-image{
        width: 100%;
        height: 150px;
        border-radius: 10px;

        background-repeat: no-repeat;
        background-position: bottom;
    }

    .contain{
        background-size: contain;
    }
    .cover{
        background-size: cover;
    }

    .card-text{
        margin-top:5px;
        margin-left:3px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .card-text-recent{
        color: black;
        margin-top: 5px;
        margin-left: 5px;

        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 2;
    }
    .card-text-style{
        color: black;
        margin-top: 5px;
        margin-left: 5px;
        
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 2;
    }
}

.play-icon-box{
    margin: 15px;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #e8e8e8;
    border-radius: 5px;
}






.swiper-container{
    width:100%;
}

.swiper-slide {
    position: relative;
}
  
.swiper-content {
    min-height: 100px;
    width: 100%;
    padding-top: 100%; /* Create a square aspect ratio */
    position: relateive;
    top: 0;
    left: 0;

    border:1px solid gray;
}
  
.card-scroll-item1{
    min-height: 100px;
    width: 100%;
    padding-top: 100%; /* Create a square aspect ratio */
    position: relateive;
    top: 0;
    left: 0;
    border-radius: 10px;
    .card-image{
        width: 100%;
        border-radius: 10px;

        background-repeat: no-repeat;
        background-position: bottom;
    }

    .contain{
        background-size: contain;
    }
    .cover{
        background-size: cover;
    }

    
}

.card-text-style{
    color: black;
    margin-top: 5px;
    margin-left: 5px;
    
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
}