<!--[ngClass]="{'lock':lock==1}"-->
<!--original style="background-size:cover;-->
<ion-card style="margin-top:15px;" class="card card-gif" card-shrink 
style="border:1px dotted gainsboro;"
(click)="loonglevel()"
  defaultImage="" 
  lazyLoad="{{img}}"
  style="background-size:auto;display: flex;justify-content: center;
  background-position: center;
  background-color:{{color}};">
  <ion-card-content class="container" [ngClass]="{'bottom':position=='bottom'}">
    <ion-card-subtitle class="card-text" style="font-size: 18px;" *ngIf="sub">{{sub}}</ion-card-subtitle>
    <ion-card-title class="card-text" style="color:white;"
    [ngClass]="{'right':position=='right'}">
      <!--<ion-label style="display: flex;align-items: center;">
        <ion-img src="/assets/img/lock.png" *ngIf="lock==1" style="margin-right:5px;width: 30px;"></ion-img>
        {{title}}
      </ion-label>-->
      <ion-label style="display: flex;align-items: center;font-size: medium;font-weight: normal;color:white;" 
      *ngIf="data.maxLevelUnlocked>=id">
        <!-- {{data.myLevelTotalStars[id-1]}}/{{data.levelTotalStars[id-1]}} 
        <ion-img src="/assets/img/bigstar.png" style="margin-right:0px;width: 22px;"></ion-img> -->
      </ion-label>

      <ion-label style="display: flex;align-items: center;font-size: medium;font-weight: normal;color:white;" 
      *ngIf="data.maxLevelUnlocked<id">
        <ion-icon name="lock-closed" style="margin-right:0px;width: 25px;"></ion-icon>
        [{{limit}}<ion-img src="/assets/img/bigstar.png" style="margin-right:0px;width: 22px;"></ion-img>]
      </ion-label>
    </ion-card-title>
  </ion-card-content>
</ion-card>