.station-text{
    font-size:20px;
    font-weight: normal;
}

.card {
    min-height: 350px;
    width: 400px;
    margin-top:5px;
    margin-bottom:5px;
}

//screen width smaller than 400px, use the following css
@media screen and (max-width: 400px){  
    .card {
        min-height: 350px;
        width:100%;
    }

    .card-wrap{
        width: 100%;
        display: flex;
    }
}

.card-gif {
    background-color: rgb(187,205,253);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: bottom;
    //background-image: url('https://reddah.blob.core.windows.net/msjjimg/cardn1.jpg');

    .card-text{
        color:white;
    }
}

.bottom{
    position: absolute;
    bottom:0;
}


.right{
    float:right;
}

.lock{
    //filter: grayscale(100%);
}