<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="" (click)="ui.goback()" [text]="''"></ion-back-button>
    </ion-buttons>
    <ion-title>诗词</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title class="tab-title" mode="md">诗词</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-searchbar placeholder="搜索" show-cancel-button="focus" 
      style="padding-left:15px;"
      cancel-button-text="取消"
      ></ion-searchbar>
    </ion-toolbar>
  </ion-header>


  <ion-list>
    <ion-item *ngFor="let like of localJsonData" 
    style="--padding-start:20px;--inner-padding-end:20px;" detail="true">
      <ion-thumbnail slot="start" *ngIf="like.data">
        <img style="border-radius: 10px;" (click)="data.goToAuthor(like.data['author'])"
        src="/assets/img/poet/{{like.data['author']}}.jpeg" onerror="javascript:this.src='/assets/img/default.jpg'" />
      </ion-thumbnail>
      <ion-label *ngIf="like.data" (click)="localPlayObj(like.data)">
        <h2>{{like.data['title']}}</h2>
        <p style="margin-top:5px;">{{like.data['paragraphs'][0]}}</p>
      </ion-label>
      <!--
      <ion-button fill="clear" slot="end">
        <ion-icon name="ellipsis-horizontal" color="medium"></ion-icon>
      </ion-button>
      -->
    </ion-item>
  </ion-list>
  
  <div class="placeholder-playbox"></div>
</ion-content>
