<ion-header [translucent]="true" style="background-color:transparent;">
  <ion-toolbar style="padding-left:10px;padding-right:10px;">
    <ion-buttons slot="start">
      <ion-back-button style="width:50px;height:50px;" defaultHref="" (click)="ui.goback()" [text]="''"></ion-back-button>
    </ion-buttons>
    <ion-title *ngIf="authorData">{{authorData.name}}</ion-title>
    <ion-buttons slot="end">
      <ion-button *ngIf="authorData&&!data.isliked(authorData,'poetlist')"
        (click)="data.likelist(authorData,'poetlist')"
        `style="--background: rgb(238,238,239); --border-radius: 50%; width: 35px; height: 35px; --padding-start: 0; --padding-end: 0;">
        <ion-icon name="add-outline"></ion-icon>
      </ion-button>
      <ion-button id="popover-button-poet-{{data.currentTab}}"
        style="margin-left:10px;--background: rgb(238,238,239); --border-radius: 50%; width: 35px; height: 35px; --padding-start: 0; --padding-end: 0;">
        <ion-icon name="ellipsis-horizontal"></ion-icon>
      </ion-button>
      <ion-popover trigger="popover-button-poet-{{data.currentTab}}" [dismissOnSelect]="true" arrow="false">
        <ng-template>
          <ion-content>
            <ion-list>
              <ion-item lines="full" [button]="true" [detail]="false"
              *ngIf="authorData&&data.isliked(authorData,'poetlist')" 
              (click)="data.unlikelist(authorData,'poetlist')">
                <ion-text color="danger">{{ ui.instant('Action.DeleteFromLib') }}<!--从诗词库中删除--></ion-text>
                <ion-icon name="trash-outline" slot="end" color="danger"></ion-icon>
              </ion-item>
              <!--
              <ion-item lines="full" [button]="true" [detail]="false">
                收藏
                <ion-icon name="add-outline" slot="end"></ion-icon>
              </ion-item>
              -->
              <ion-item lines="full" [button]="true" [detail]="false"
              *ngIf="!data.isliked(authorData,'poetlist')"  
              (click)="data.likelist(authorData, 'poetlist')">
                {{ ui.instant('Action.AddToLib') }}<!--添加到诗词库-->
                <ion-icon name="add-outline" slot="end"></ion-icon>
              </ion-item>
              <!--
              <ion-item lines="full" [button]="true" [detail]="false"
                (click)="data.textZoom()">
                {{ ui.instant('Action.FontSize') }}!--文字大小--
                <ion-icon name="text-outline" slot="end"></ion-icon>
              </ion-item>
              -->
              <!--
              <ion-item lines="full" [button]="true" [detail]="false" (click)="addToCustomList(p)">
                添加到诗单列表...
                <ion-icon name="add-circle-outline" slot="end"></ion-icon>
              </ion-item>
              -->
              <!--
              <ion-item lines="full" [button]="true" [detail]="false">
                分享
                <ion-icon name="share-outline" slot="end"></ion-icon>
              </ion-item>-->
            </ion-list>
          </ion-content>
        </ng-template>
      </ion-popover>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content #pageTop [fullscreen]="true" *ngIf="localJsonData&&displayResult">
  <ion-card class="card card-img" *ngIf="!showFilter"
      (click)="ui.imageviewer(getUrl())"
      defaultImage="" 
      lazyLoad="{{getUrl()}}"
      [style.minHeight]="ui.isipad ? '600px' : '300px'"
      style="
        background-size:cover;
        margin-top:0;
        margin-left:0;
        margin-right:0;
        border-radius: 0;
      ">
      <ion-card-content>
        <ion-card-subtitle class="card-text" style="font-size:18px;"></ion-card-subtitle>
        <ion-card-title class="card-text" style="color:white;"></ion-card-title>
      </ion-card-content>
  </ion-card>
  <ion-header collapse="condense">
    <ion-toolbar><!--搜索-->
      <ion-searchbar placeholder="{{ ui.instant('Action.Search') }}"
      style="padding-left:15px;"
      [(ngModel)]="searchText"
      (ionFocus)="onSearchFocus()"
      (ionCancel)="onSearchCancel()"
      (ionInput)="onSearchChanged()"
      ></ion-searchbar>
    </ion-toolbar>
  </ion-header>

  <app-text [name]="authorData.name" [text]="authorData.desc"
  *ngIf="!showFilter&&authorData">
  </app-text>
  <!--热门诗词-->
  <app-hot name="{{ ui.instant('Title.Hot') }}" [source]="hotPoemByAuthor" audio="yes" [hideAuthor]="true"
  *ngIf="!showFilter&&hotPoemByAuthor.length>0"></app-hot>

  <ion-toolbar style="--background: translucent;" *ngIf="!showFilter">
    <ion-card-content style="display: flex;direction:row;padding-top:0;padding-bottom: 0;padding-left:15px;">
      <ion-buttons>
        <ion-card-title class="station-text" style="font-weight: bold;"
        [style.fontSize]="data.zoom(20)">
          {{ ui.instant('Title.AllPoems') }}<!--所有作品-->
        </ion-card-title>
      </ion-buttons>
    </ion-card-content>
  </ion-toolbar>

  <ion-list style="margin-top:10px;margin-bottom: 20px;" *ngIf="!showFilter">
    <ion-text color="medium" *ngIf="displayResult" style="margin:20px;"
    [style.fontSize]="data.zoom(15)">
      {{localJsonData.length}}{{ ui.instant('Title.PoemCount') }}<!--首诗词-->
    </ion-text>
  </ion-list>

  <ion-list *ngIf="displayResult" style="margin-left:5px;">
    <ion-item *ngFor="let p of displayResult; let i = index">
      <!-- <ion-thumbnail slot="start" (click)="data.goToAuthor(p.author)"
      style="display: flex;justify-content: center;align-items: center;">
        <img style="border-radius: 10px;" 
          defaultImage="assets/img/default.jpg" 
          lazyLoad="https://reddah.blob.core.windows.net/msjjpoet/{{p.author}}.jpeg" 
          onerror="javascript:this.src='assets/img/default.jpg'"
          [ngStyle]="{'opacity':(data.currentPoem&&p.audio&&p.id === data.currentPoem.id) ? '0.5' : '1' }" />
        <div class="playing" style="position: fixed;" *ngIf="data.currentPoem&&p.audio&&p.id === data.currentPoem.id"
          [ngStyle]="{'animation-duration':(data.isPlaying) ? '1s' : '1000s',
          'height':(data.isPlaying) ? '' : '5px' }"
        ></div>
      </ion-thumbnail> -->
      <ion-badge slot="start" color="light" mode="ios">
        {{i+1}}
      </ion-badge>
      <ion-label (click)="data.playobj(p)">
        <!--<h2>{{p.sample&&p.sample!=p.author?p.sample:p.paragraphs[0]}}</h2>-->
        <h2 [style.fontSize]="data.zoom(17)"
         class="show-only-one-line">
          {{p.paragraphs[0]?.substring(0,20)}}
        </h2>
        <p style="margin-top:5px;display: flex;align-items: end;"
         class="show-only-one-line" 
        [style.fontSize]="data.zoom(14)">
          {{p.author}}《{{p.title}}》
          <ion-icon name="headset" *ngIf="p.audio" color="primary"></ion-icon>
        </p>
      </ion-label>
      <app-button-end [p]="p" page="authorlist" slot="end"></app-button-end>
    </ion-item>
    <ion-infinite-scroll (ionInfinite)="onIonInfinite($event)">
      <ion-infinite-scroll-content></ion-infinite-scroll-content>
    </ion-infinite-scroll>
  </ion-list>




  <div class="placeholder-playbox"></div>
</ion-content>
