<!-- style="--background: url('https://reddah.blob.core.windows.net/msjjimg/{{data.currentArticle.bg_image}}') top/auto {{defaultBgHeight}} no-repeat;" -->
<!-- [ngClass]="{'no-background':data.currentArticle.effect}" -->
<!-- 'url(/assets/img/effect.jpg) top/auto ' + defaultBgHeight + ' no-repeat' : -->
<ion-content class="no-padding" [fullscreen]="true" scrollEvents="true" (ionScroll)="onScroll($event)"
  [ngStyle]="{
    '--background': (data.currentArticle.effect) ? 
      'white':
      'url(https://reddah.blob.core.windows.net/msjjimg/'+data.currentArticle.bg_image +') top/auto ' + defaultBgHeight + ' no-repeat'
  }"
  
  >
    <!--shared backbutton for normal and effect animation start-->
    <ion-card-content style="z-index:100;position:fixed;width:100%;
      padding-inline-start:20px;
      padding-inline-end:20px;padding-top:30px;">
      <ion-buttons style="display:flex;justify-content:center;
        width:25px;height:25px;float:left;
        background-color:rgba(128,128,128,0.5);
        border-radius: 50%;"
        (click)="goback()">
        <ion-button color="light">
          <ion-icon name="chevron-back-outline"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-card-content>
    <!--shared backbutton for normal and effect animation end-->
    <div style="display: flex;flex-wrap: wrap;justify-content: center;
      background-color: white;
      min-height: {{data.currentArticle.min_height}};"
      *ngIf="data.currentArticle.effect">
      <app-card-moon class="custom-card" *ngIf="data.currentArticle.effect=='moon'" 
          sub="{{data.currentArticle.small_title}}" 
          title="{{data.currentArticle.big_title.substring(0,25)}}">
      </app-card-moon>
      <app-card-balloon class="custom-card" *ngIf="data.currentArticle.effect=='balloon'"
          source="article" 
          sub="{{data.currentArticle.small_title}}" 
          title="{{data.currentArticle.big_title.substring(0,25)}}">
      </app-card-balloon>
      <app-card-wave class="custom-card" *ngIf="data.currentArticle.effect=='wave'"
          source="article" 
          sub="{{data.currentArticle.small_title}}" 
          title="{{data.currentArticle.big_title.substring(0,25)}}">
      </app-card-wave>
      <app-card-path class="custom-card" *ngIf="data.currentArticle.effect=='path'"
          source="article" 
          sub="{{data.currentArticle.small_title}}" 
          title="{{data.currentArticle.big_title.substring(0,25)}}">
      </app-card-path>
    </div>
    <div style="background-color:transparent;min-height: {{data.currentArticle.min_height}};"
    *ngIf="!data.currentArticle.effect">
        <ion-card-content style="z-index:0;">
          <ion-card-subtitle style="font-size:18px;margin-top:45px;
            color:{{data.currentArticle.title_color}};">
            {{data.currentArticle.small_title}}
          </ion-card-subtitle>
          <ion-card-title style="font-size:25px;
            color:{{data.currentArticle.title_color}};">
            {{data.currentArticle.big_title}}
          </ion-card-title>
        </ion-card-content>
    </div>

    <!--wall swiper-->
    <div *ngIf="data.currentArticle.template=='wall'">
        <ion-card-content>
          <swiper-container style="margin-top:0px;margin-bottom: 0px;"
            [autoplay]="autoplayopt" 
            [grid]="gridopt"
            slides-Per-View="3.5"
            speed="5000"
            interval="5000"
            duration="5000"
            freeMode="true"
            allow-Touch-Move="false"
            >
            <!--(click)="data.goToAuthor(v)" -->
            <swiper-slide *ngFor="let v of data.currentArticle.items;index as i" class="swiper-slide" 
            [ngStyle]="{'margin-left':(i === data.getInt(data.currentArticle.items.length/3)) ? '40px' : '0px' }">
              <img style="width: 80px;height:80px;border-radius: 10px;"
                defaultImage="assets/img/default.jpg" 
                lazyLoad="https://reddah.blob.core.windows.net/msjjpoet/{{v.author}}.jpeg" 
                onerror="javascript:this.src='assets/img/default.jpg'"
              />
              <div style="text-align: center;width: 80px;margin-bottom:5px;background-color: rgb(247,247,247);">{{v.author}}</div>
            </swiper-slide>
          </swiper-container>
        </ion-card-content>
    </div>
    

    <div style="padding:0px 0;background-color:white;">
      <div *ngFor="let it of data.currentArticle.desc">
        
        <!--<p style="font-size: 18px;margin:10px 20px;" *ngIf="it.type=='text'">{{it.value}}</p>-->
       <app-text style="margin:0px 20px;color:black;" [nofold]="true" name="" [text]="it.value" *ngIf="it.type=='text'"></app-text>


        <div style="margin:0 20px;" *ngIf="it.type=='image'">
          <img  src="https://reddah.blob.core.windows.net/msjjimg/{{it.value}}" (click)="ui.imageviewer('https://reddah.blob.core.windows.net/msjjimg/'+it.value)" >
        </div>

        <ion-item *ngIf="it.type==='poem'" lines="none" 
        style="--padding-start:0;--inner-padding-end:0;margin:10px 20px;--background:white;">
          <ion-thumbnail slot="start" (click)="data.goToAuthor(it.author)"
            *ngIf="!isThumbnailHidden(it.author)"
            style="display: flex;justify-content: center;align-items: center;">
            <!--hide the first img just to trigger error function-->
            <img src="https://reddah.blob.core.windows.net/msjjpoet/{{it.author}}.jpeg" 
            style="display:none;width:0;height:0;"
            (error)="onImageError(it)">
            <!--real img-->
            <img id="authorimg" style="border-radius: 10px;"
              defaultImage="assets/img/default.jpg"
              lazyLoad="https://reddah.blob.core.windows.net/msjjpoet/{{it.author}}.jpeg" 
              onerror="javascript:this.src='assets/img/default.jpg'"
              [ngStyle]="{'opacity':(data.currentPoem&&it.audio&&it.id === data.currentPoem.id) ? '0.5' : '1' }" />
            <div class="playing" style="position: absolute;" *ngIf="data.currentPoem&&it.audio&&it.id === data.currentPoem.id"
              [ngStyle]="{'animation-duration':(data.isPlaying) ? '1s' : '1000s',
              'height':(data.isPlaying) ? '' : '5px' }">
            </div>
          </ion-thumbnail>
          
          <ion-label (click)="data.playbyid(it.id, it.solarterm?it.solarterm:it.sample)" style="color:black;">
            <h2>{{it.sample?it.sample:(it.paragraphs?it.paragraphs[0]:"")}}</h2>
            <p style="margin-top:5px;display: flex;align-items: end;color:black;">
              {{it.author}}《{{it.title}}》
              <ion-icon name="mic-outline" *ngIf="it.audio" color="primary"></ion-icon>
            </p>
          </ion-label>

          <app-button-end [p]="it" page="articlelist" slot="end"></app-button-end>
        </ion-item>

        <div *ngIf="it.type==='list'">
          <app-tile [name]="it.name" [source]="localFunData" ></app-tile>
        </div>
      </div>

      <div *ngIf="data.currentArticle.items">
        <div *ngIf="(data.currentArticle.template == 'wall'||data.currentArticle.template == 'group')&& data.currentArticle.items" 
        style="padding-top:0px;">
          <ion-list style="margin-left:5px;padding-top:0px;">
            <ion-item *ngFor="let p of data.currentArticle.items"
            style="--padding-start:15px;--inner-padding-end:20px;">
            <ion-thumbnail slot="start" (click)="data.goToAuthor(p.author)"
            style="display: flex;justify-content: center;align-items: center;">
              <img style="border-radius: 10px;" 
                defaultImage="assets/img/default.jpg" 
                lazyLoad="https://reddah.blob.core.windows.net/msjjpoet/{{p.author}}.jpeg"  
                onerror="javascript:this.src='assets/img/default.jpg'"
                [ngStyle]="{'opacity':(data.currentPoem&&p.audio&&p.id === data.currentPoem.id) ? '0.5' : '1' }" />
              <div class="playing" style="position: fixed;" *ngIf="data.currentPoem&&p.audio&&p.id === data.currentPoem.id"
                [ngStyle]="{'animation-duration':(data.isPlaying) ? '1s' : '1000s',
                'height':(data.isPlaying) ? '' : '5px' }"
              ></div>
            </ion-thumbnail>
              <ion-label (click)="data.playbyid(p.id, p.sample)">
                <h2>{{p.sample?p.sample:p.paragraphs[0]}}</h2>
                <p style="margin-top:5px;display: flex;align-items: end;">
                  {{p.author}}
                  <ion-icon name="mic-outline" *ngIf="p.audio" color="primary"></ion-icon>
                </p>
              </ion-label>
              <ion-button slot="end" color="light" (click)="data.goToAuthor(p.author)">
                <ion-text color="primary">所有作品</ion-text>
              </ion-button>
            </ion-item>
          </ion-list>
        </div>
      </div>

      <div *ngIf="data.currentArticle.template==='group'">
        <app-tile name="趣味诗单" [source]="localFunData" ></app-tile>
      </div>
<!--
      <app-hot name="热门诗词" [source]="data.hotData"></app-hot>
      <app-hot name="经典诗词" [source]="data.classicData"></app-hot>
      -->
    </div>

</ion-content>