<!-- style="--background: url('https://reddah.blob.core.windows.net/msjjimg/{{data.currentArticle.bg_image}}') top/auto {{defaultBgHeight}} no-repeat;" -->
<!-- [ngClass]="{'no-background':data.currentArticle.effect}" -->
<!-- 'url(/assets/img/effect.jpg) top/auto ' + defaultBgHeight + ' no-repeat' : -->
<ion-content class="no-padding" [fullscreen]="true" scrollEvents="true" (ionScroll)="onScroll($event)"
 #printArticleViewer
 id="print-article-viewer"
  [ngStyle]="{
    '--background': (data.currentArticle.effect) ? 
      'white':
      (
        data.currentArticle.special ?
        (
          (data.currentArticle.color||'') + ' url(' + data.currentArticle.bg_image + ') top / ' + 'contain' + ' no-repeat'
        )
        :
        'url(https://reddah.blob.core.windows.net/msjjimg/'+data.currentArticle.bg_image +') top/auto ' + defaultBgHeight + ' no-repeat'
      )
  }"
  
  >
    <!--shared backbutton for normal and effect animation start-->
    <ion-card-content style="z-index:100;position:fixed;width:100%;
      padding-inline-start:20px;
      padding-inline-end:20px;padding-top:30px;"
      [style.paddingTop]="data.currentArticle.effect||ui.isAndroid ? 'calc(30px + 20px)' : '30px'">
      <ion-buttons style="display:flex;justify-content:center;
        width:25px;height:25px;float:left;
        background-color:rgba(128,128,128,0.5);
        border-radius: 50%;"
        (click)="goback()">
        <ion-button color="light">
          <ion-icon name="chevron-back-outline"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-card-content>
    <!--shared backbutton for normal and effect animation end-->
    <!-- min-height: {{data.currentArticle.min_height}}; -->
    <div style="display: flex;flex-wrap: wrap;justify-content: center;
      background-color: white;"
      *ngIf="data.currentArticle.effect">
      <app-card-moon viewer="true" class="custom-card" 
      *ngIf="data.currentArticle.effect=='moon'" 
      style="padding:0;margin:0"
          sub="{{data.currentArticle.small_title}}" 
          title="{{data.currentArticle.big_title.substring(0,25)}}">
      </app-card-moon>
      <app-card-balloon viewer="true" class="custom-card" 
      *ngIf="data.currentArticle.effect=='balloon'"
      style="padding:0;margin:0"
          source="article" 
          sub="{{data.currentArticle.small_title}}" 
          title="{{data.currentArticle.big_title.substring(0,25)}}">
      </app-card-balloon>
      <app-card-wave viewer="true" class="custom-card" 
      *ngIf="data.currentArticle.effect=='wave'"
      style="padding:0;margin:0"
          source="article" 
          sub="{{data.currentArticle.small_title}}" 
          title="{{data.currentArticle.big_title.substring(0,25)}}">
      </app-card-wave>
      <app-card-path viewer="true" class="custom-card" 
      *ngIf="data.currentArticle.effect=='path'"
      style="padding:0;margin:0"
          source="article" 
          sub="{{data.currentArticle.small_title}}" 
          title="{{data.currentArticle.big_title.substring(0,25)}}">
      </app-card-path>
    </div>
    <div style="background-color:transparent;min-height: {{data.currentArticle.min_height}};"
    *ngIf="!data.currentArticle.effect">
        <ion-card-content style="z-index:0;">
          <!--font-size:18px;-->
          <ion-card-subtitle style="margin-top:45px;
            color:{{data.currentArticle.title_color}};"
            [style.fontSize]="data.zoom(18)">
            {{data.currentArticle.small_title}}
          </ion-card-subtitle>
          <!--font-size:25px;-->
          <ion-card-title style="
            color:{{data.currentArticle.title_color}};"
            [style.fontSize]="data.zoom(25)">
            {{data.currentArticle.big_title}}
          </ion-card-title>
        </ion-card-content>
    </div>

    <!--wall swiper-->
    <div *ngIf="data.currentArticle.template=='wall'">
        <ion-card-content>
          <swiper-container style="margin-top:0px;margin-bottom: 0px;"
            [autoplay]="autoplayopt" 
            [grid]="gridopt"
            slides-Per-View="3.5"
            speed="5000"
            interval="5000"
            duration="5000"
            freeMode="true"
            allow-Touch-Move="false"
            >
            <!--(click)="data.goToAuthor(v)" -->
            <swiper-slide *ngFor="let v of data.currentArticle.items;index as i" class="swiper-slide" 
            [ngStyle]="{'margin-left':(i === data.getInt(data.currentArticle.items.length/3)) ? '40px' : '0px' }">
              <img style="width: 80px;height:80px;border-radius: 10px;"
                defaultImage="assets/img/default.jpg" 
                lazyLoad="https://reddah.blob.core.windows.net/msjjpoet/{{v.author}}.jpeg" 
                onerror="javascript:this.src='assets/img/default.jpg'"
              />
              <div style="text-align: center;width: 80px;margin-bottom:5px;background-color: rgb(247,247,247);">{{v.author}}</div>
            </swiper-slide>
          </swiper-container>
        </ion-card-content>
    </div>
    

    <div style="padding:0px 0;background-color:white;">
      <div *ngFor="let it of data.currentArticle.desc">
        
        <!--<p style="font-size: 18px;margin:10px 20px;" *ngIf="it.type=='text'">{{it.value}}</p>-->
       <app-text style="margin:0px 20px;color:black;" [nofold]="true" name="" 
       [text]="it.value" *ngIf="it.type=='text'"></app-text>
       <app-text style="margin:0px 20px;color:black;" [nofold]="false" name="" 
       [text]="it.memo" *ngIf="it.type=='text'"></app-text>

        <div style="margin:0 20px;" *ngIf="it.type=='image'">
          <img  src="https://reddah.blob.core.windows.net/msjjimg/{{it.value}}" (click)="ui.imageviewer('https://reddah.blob.core.windows.net/msjjimg/'+it.value)" >
        </div>

        <ion-item *ngIf="it.type==='poem'" lines="none" 
        style="--padding-start:0;--inner-padding-end:0;margin:10px 20px;--background:white;">
          <ion-thumbnail slot="start" (click)="data.goToAuthor(it.author)"
            *ngIf="!isThumbnailHidden(it.author)"
            style="display: flex;justify-content: center;align-items: center;">
            <!--hide the first img just to trigger error function-->
            <img src="https://reddah.blob.core.windows.net/msjjpoet/{{it.author}}.jpeg" 
            style="display:none;width:0;height:0;"
            (error)="onImageError(it)">
            <!--real img-->
            <img id="authorimg" style="border-radius: 10px;"
              defaultImage="assets/img/default.jpg"
              lazyLoad="https://reddah.blob.core.windows.net/msjjpoet/{{it.author}}.jpeg" 
              onerror="javascript:this.src='assets/img/default.jpg'"
              [ngStyle]="{'opacity':(data.currentPoem&&it.audio&&it.id === data.currentPoem.id) ? '0.5' : '1' }" />
            <div class="playing" style="position: absolute;" *ngIf="data.currentPoem&&it.audio&&it.id === data.currentPoem.id"
              [ngStyle]="{'animation-duration':(data.isPlaying) ? '1s' : '1000s',
              'height':(data.isPlaying) ? '' : '5px' }">
            </div>
          </ion-thumbnail>
          
          <ion-label (click)="data.playbyid(it.id, it.solarterm?it.solarterm:it.sample, true, true)" style="color:black;">
            <h2 [style.fontSize]="data.zoom(17)"
            class="show-only-one-line">
              {{it.sample?it.sample:(it.paragraphs?it.paragraphs[0]:"")}}</h2>
            <p style="margin-top:5px;display: flex;align-items: end;color:black;"
            [style.fontSize]="data.zoom(14)">
              {{it.author}}《{{it.title}}》
              <ion-icon name="headset" *ngIf="it.audio" color="primary"></ion-icon>
            </p>
          </ion-label>

          <app-button-end [p]="it" page="articlelist" slot="end"></app-button-end>
        </ion-item>

        <div *ngIf="it.type==='list'">
          <app-tile [name]="it.name" [source]="localFunData" ></app-tile>
        </div>
      </div>

      <div *ngIf="data.currentArticle.items">
        <div *ngIf="(data.currentArticle.template == 'wall'||data.currentArticle.template == 'group')&& data.currentArticle.items" 
        style="padding-top:0px;">
          <ion-list style="margin-left:5px;padding-top:0px;">
            <ion-item *ngFor="let p of data.currentArticle.items"
            style="--padding-start:15px;--inner-padding-end:20px;">
            <ion-thumbnail slot="start" (click)="data.goToAuthor(p.author)"
            style="display: flex;justify-content: center;align-items: center;">
              <img style="border-radius: 10px;" 
                defaultImage="assets/img/default.jpg" 
                lazyLoad="https://reddah.blob.core.windows.net/msjjpoet/{{p.author}}.jpeg"  
                onerror="javascript:this.src='assets/img/default.jpg'"
                [ngStyle]="{'opacity':(data.currentPoem&&p.audio&&p.id === data.currentPoem.id) ? '0.5' : '1' }" />
              <div class="playing" style="position: fixed;" *ngIf="data.currentPoem&&p.audio&&p.id === data.currentPoem.id"
                [ngStyle]="{'animation-duration':(data.isPlaying) ? '1s' : '1000s',
                'height':(data.isPlaying) ? '' : '5px' }"
              ></div>
            </ion-thumbnail>
              <ion-label (click)="data.playbyid(p.id, p.sample)">
                <h2 [style.fontSize]="data.zoom(17)"
                class="show-only-one-line">
                  {{p.sample?p.sample:p.paragraphs[0]}}</h2>
                <p style="margin-top:5px;display: flex;align-items: end;"
                class="show-only-one-line"
                [style.fontSize]="data.zoom(14)">
                  {{p.author}}&nbsp;
                  <ion-icon name="headset" *ngIf="p.audio" color="primary"></ion-icon>
                </p>
              </ion-label>
              <!--
              <ion-button slot="end" color="light" (click)="data.goToAuthor(p.author)">
                <ion-text color="primary" 
                [style.fontSize]="data.zoom(20)">
                  {{ ui.instant('Title.AllPoems') }}!--所有作品--
                </ion-text>
              </ion-button>
              -->
            </ion-item>
          </ion-list>
        </div>
      </div>

      <div *ngIf="data.currentArticle.template==='group'" style="margin-top:10px;">
        <app-tile name="趣味诗单" [source]="localFunData" ></app-tile>
      </div>
<!--
      <app-hot name="热门诗词" [source]="data.hotData"></app-hot>
      <app-hot name="经典诗词" [source]="data.classicData"></app-hot>
      -->
    </div>

  <!--
    <ion-fab slot="fixed" vertical="bottom" horizontal="end">
      <ion-fab-button *ngIf="data.isLikedArticle()" (click)="data.unlikeArticle()">
        <ion-icon name="bookmark"></ion-icon>
      </ion-fab-button>
      <ion-fab-button *ngIf="!data.isLikedArticle()" (click)="data.likeArticle()">
        <ion-icon name="bookmark-outline"></ion-icon>
      </ion-fab-button>
    </ion-fab>
    -->
  
    <div class="floating-div" [ngStyle]="{'transform': 'translateY(' + translateY + 'px)', 'opacity': opacity}">
      <div class="fd-container">
        <div class="fd-item" (click)="data.goToSearch()">
          <ion-icon name="search-outline" class="fd-icon" color="dark"></ion-icon>
          <div class="fd-text">{{ ui.instant('Action.Search') }}<!--搜索--></div>
        </div>
        <div class="fd-item">
          <ion-icon name="star-outline" class="fd-icon" color="dark"
          *ngIf="!data.isLikedArticle()" (click)="data.likeArticle()"></ion-icon>
          <ion-icon name="star" class="fd-icon" color="primary"
          *ngIf="data.isLikedArticle()" (click)="data.unlikeArticle()"></ion-icon>
          <div class="fd-text">{{ ui.instant('Action.Collect') }}<!--收藏--></div>
        </div>
        <div class="fd-item">
          <ion-icon name="share-social-outline" (click)="shareArticle()"
          class="fd-icon" color="dark"></ion-icon>
          <div class="fd-text">{{ ui.instant('Action.Share') }}<!--分享--></div>
        </div>
      </div>
    </div>
</ion-content>